.object-rectangle {
    clear: left;
    width: 100%;
    display: block;

    // Object rectangle ad on nieuwbouwproject
    &.nieuwbouwproject-rectangle-ad {
        padding-top: 0;

        @media screen and (min-width: $bp-large) {
            height: auto;
            clear: none;
            float: left;
            width: 19.5em;
            margin-left: 1.5rem;

            .advertisement > div[id*="google_ads_iframe"] {
                min-height: 15em;
                margin-bottom: 3.125rem;
            }
        }
    }

    .advertisement {
        padding-top: 1.5rem;
    }

    .advertisement > div[id*="google_ads_iframe"] {
        text-align: center;
        padding: 5px;
        background-color: $grey-lightest;
        border: solid 1px $grey-lighter;
        box-sizing: content-box;
    }
}
