<div class="app-guide-example" data-guide-title="Initially collapsed">
    <div class="demo-component expandible" data-expandible>
        <ul>
            <li>Alpha</li>
            <li>Bravo</li>
            <li>Charlie</li>
            <li>Delta</li>
            <li>Echo</li>
            <li>Foxtrot</li>
            <li>Golf</li>
            <li>Hotel</li>
        </ul>
        <button class="demo-component-more-button" data-expandible-handle>more options</button>
        <button class="demo-component-less-button" data-expandible-handle>less options</button>
    </div>
</div>

<div class="app-guide-example" data-guide-title="Initially expanded">
    <div class="demo-component expandible is-expanded"
         data-expandible>
        <ul>
            <li>Alpha</li>
            <li>Bravo</li>
            <li>Charlie</li>
            <li>Delta</li>
            <li>Echo</li>
            <li>Foxtrot</li>
            <li>Golf</li>
            <li>Hotel</li>
        </ul>
        <button class="demo-component-more-button" data-expandible-handle>more options</button>
        <button class="demo-component-less-button" data-expandible-handle>less options</button>
    </div>
</div>

<div class="app-guide-example" data-guide-title="External handle">
    <div class="demo-component expandible is-expanded"
        data-expandible="uniqueId">
        <ul>
            <li>Alpha</li>
            <li>Bravo</li>
            <li>Charlie</li>
            <li>Delta</li>
            <li>Echo</li>
            <li>Foxtrot</li>
            <li>Golf</li>
            <li>Hotel</li>
        </ul>
    </div>
    <p>Some element which makes it impossible for us to nest the handle in the component.</p>
    <button data-expandible-handle="uniqueId">toggle filters</button>
</div>


<div class="app-guide-example" data-guide-title="Nested expendable">
    <div class="demo-component expandible is-expanded"
         data-expandible="uniqueId">
        <ul>
            <li>Alpha</li>
            <li>Bravo</li>
            <li>Charlie</li>
            <li>Delta</li>
            <li>Echo</li>
            <li>Foxtrot</li>
            <li>Golf</li>
            <li>
                <div class="demo-component expandible is-expanded"
                     data-expandible="uniqueId2">
                    <ul>
                        <li>Alpha</li>
                        <li>Bravo</li>
                        <li>Charlie</li>
                        <li>Delta</li>
                        <li>Echo</li>
                        <li>Foxtrot</li>
                        <li>Golf</li>
                        <li>Hotel</li>
                    </ul>
                </div>
                <button data-expandible-handle="uniqueId2">toggle nested filters</button>
            </li>
        </ul>
    </div>
    <button data-expandible-handle="uniqueId">toggle filters</button>
</div>

<style>
    /* demo styles */
    .demo-component-more-button,
    .demo-component-less-button {
        display: none;
    }

    .demo-component.is-expandible .demo-component-more-button {
        display: inherit;
    }

    .demo-component.is-expanded .demo-component-more-button {
        display: none;
    }
    .demo-component.is-expanded .demo-component-less-button {
        display: inherit;
    }

    .demo-component.is-expandible:not(.is-expanded) li:nth-child(3) ~ li {
        display: none;
    }
</style>
