.object-sponsorblock--fullwidth {
    clear: both;
    float: left;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 1rem;

    .advertisement {
        &.dfp-callback-successful {
            min-height: 154px;

            @media screen and (min-width: 375px) {
                min-height: 134px;
            }

            @media screen and (min-width: 520px) {
                min-height: 115px;
            }
        }

        > div[id*="google_ads_iframe"] { margin-top: 1em; }
    }
}
