.icon-360-blue { background-image: url('icons/360-blue.png'); background-repeat: no-repeat; }

.icon-360-white { background-image: url('icons/360-white.png'); background-repeat: no-repeat; }

.icon-360 { background-image: url('icons/360.png'); background-repeat: no-repeat; }

.icon-add-house { background-image: url('icons/add-house.png'); background-repeat: no-repeat; }

.icon-address { background-image: url('icons/address.png'); background-repeat: no-repeat; }

.icon-alert-black { background-image: url('icons/alert-black.png'); background-repeat: no-repeat; }

.icon-alert-blue { background-image: url('icons/alert-blue.png'); background-repeat: no-repeat; }

.icon-alert-blueBrand { background-image: url('icons/alert-blueBrand.png'); background-repeat: no-repeat; }

.icon-alert-white { background-image: url('icons/alert-white.png'); background-repeat: no-repeat; }

.icon-alert { background-image: url('icons/alert.png'); background-repeat: no-repeat; }

.icon-arrow-backward-grey { background-image: url('icons/arrow-backward-grey.png'); background-repeat: no-repeat; }

.icon-arrow-backward-white { background-image: url('icons/arrow-backward-white.png'); background-repeat: no-repeat; }

.icon-arrow-backward { background-image: url('icons/arrow-backward.png'); background-repeat: no-repeat; }

.icon-arrow-down-blue { background-image: url('icons/arrow-down-blue.png'); background-repeat: no-repeat; }

.icon-arrow-down-blueBrand { background-image: url('icons/arrow-down-blueBrand.png'); background-repeat: no-repeat; }

.icon-arrow-down-circle-blue { background-image: url('icons/arrow-down-circle-blue.png'); background-repeat: no-repeat; }

.icon-arrow-down-circle { background-image: url('icons/arrow-down-circle.png'); background-repeat: no-repeat; }

.icon-arrow-down-white { background-image: url('icons/arrow-down-white.png'); background-repeat: no-repeat; }

.icon-arrow-down { background-image: url('icons/arrow-down.png'); background-repeat: no-repeat; }

.icon-arrow-downward-blue { background-image: url('icons/arrow-downward-blue.png'); background-repeat: no-repeat; }

.icon-arrow-downward { background-image: url('icons/arrow-downward.png'); background-repeat: no-repeat; }

.icon-arrow-forward-grey { background-image: url('icons/arrow-forward-grey.png'); background-repeat: no-repeat; }

.icon-arrow-forward-white { background-image: url('icons/arrow-forward-white.png'); background-repeat: no-repeat; }

.icon-arrow-forward { background-image: url('icons/arrow-forward.png'); background-repeat: no-repeat; }

.icon-arrow-left-blue { background-image: url('icons/arrow-left-blue.png'); background-repeat: no-repeat; }

.icon-arrow-left-circle { background-image: url('icons/arrow-left-circle.png'); background-repeat: no-repeat; }

.icon-arrow-left-white { background-image: url('icons/arrow-left-white.png'); background-repeat: no-repeat; }

.icon-arrow-left { background-image: url('icons/arrow-left.png'); background-repeat: no-repeat; }

.icon-arrow-right-blue { background-image: url('icons/arrow-right-blue.png'); background-repeat: no-repeat; }

.icon-arrow-right-circle { background-image: url('icons/arrow-right-circle.png'); background-repeat: no-repeat; }

.icon-arrow-right-grey { background-image: url('icons/arrow-right-grey.png'); background-repeat: no-repeat; }

.icon-arrow-right-pink { background-image: url('icons/arrow-right-pink.png'); background-repeat: no-repeat; }

.icon-arrow-right-white { background-image: url('icons/arrow-right-white.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('icons/arrow-right.png'); background-repeat: no-repeat; }

.icon-arrow-up-blue { background-image: url('icons/arrow-up-blue.png'); background-repeat: no-repeat; }

.icon-arrow-up-circle { background-image: url('icons/arrow-up-circle.png'); background-repeat: no-repeat; }

.icon-arrow-up-white { background-image: url('icons/arrow-up-white.png'); background-repeat: no-repeat; }

.icon-arrow-up { background-image: url('icons/arrow-up.png'); background-repeat: no-repeat; }

.icon-arrow-upward-blue { background-image: url('icons/arrow-upward-blue.png'); background-repeat: no-repeat; }

.icon-arrow-upward { background-image: url('icons/arrow-upward.png'); background-repeat: no-repeat; }

.icon-avatar-white { background-image: url('icons/avatar-white.png'); background-repeat: no-repeat; }

.icon-avatar { background-image: url('icons/avatar.png'); background-repeat: no-repeat; }

.icon-box-stack { background-image: url('icons/box-stack.png'); background-repeat: no-repeat; }

.icon-cadastral-map-blueBrand { background-image: url('icons/cadastral-map-blueBrand.png'); background-repeat: no-repeat; }

.icon-cadastral-map { background-image: url('icons/cadastral-map.png'); background-repeat: no-repeat; }

.icon-calculator-blue { background-image: url('icons/calculator-blue.png'); background-repeat: no-repeat; }

.icon-calculator-blueBrand { background-image: url('icons/calculator-blueBrand.png'); background-repeat: no-repeat; }

.icon-calculator { background-image: url('icons/calculator.png'); background-repeat: no-repeat; }

.icon-calendar-blue { background-image: url('icons/calendar-blue.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('icons/calendar.png'); background-repeat: no-repeat; }

.icon-certificate-grey { background-image: url('icons/certificate-grey.png'); background-repeat: no-repeat; }

.icon-certificate { background-image: url('icons/certificate.png'); background-repeat: no-repeat; }

.icon-channel-business { background-image: url('icons/channel-business.png'); background-repeat: no-repeat; }

.icon-channel-landelijk { background-image: url('icons/channel-landelijk.png'); background-repeat: no-repeat; }

.icon-channel-wonen { background-image: url('icons/channel-wonen.png'); background-repeat: no-repeat; }

.icon-check-blue { background-image: url('icons/check-blue.png'); background-repeat: no-repeat; }

.icon-check-green { background-image: url('icons/check-green.png'); background-repeat: no-repeat; }

.icon-check-greyDark { background-image: url('icons/check-greyDark.png'); background-repeat: no-repeat; }

.icon-check-orange { background-image: url('icons/check-orange.png'); background-repeat: no-repeat; }

.icon-check-white { background-image: url('icons/check-white.png'); background-repeat: no-repeat; }

.icon-check { background-image: url('icons/check.png'); background-repeat: no-repeat; }

.icon-checklist { background-image: url('icons/checklist.png'); background-repeat: no-repeat; }

.icon-clock-grey { background-image: url('icons/clock-grey.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('icons/clock.png'); background-repeat: no-repeat; }

.icon-close-blue { background-image: url('icons/close-blue.png'); background-repeat: no-repeat; }

.icon-close-circle { background-image: url('icons/close-circle.png'); background-repeat: no-repeat; }

.icon-close-grey { background-image: url('icons/close-grey.png'); background-repeat: no-repeat; }

.icon-close-greyDark { background-image: url('icons/close-greyDark.png'); background-repeat: no-repeat; }

.icon-close-greyLight { background-image: url('icons/close-greyLight.png'); background-repeat: no-repeat; }

.icon-close-white { background-image: url('icons/close-white.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('icons/close.png'); background-repeat: no-repeat; }

.icon-comment-blue { background-image: url('icons/comment-blue.png'); background-repeat: no-repeat; }

.icon-comment-brightBlue { background-image: url('icons/comment-brightBlue.png'); background-repeat: no-repeat; }

.icon-comment { background-image: url('icons/comment.png'); background-repeat: no-repeat; }

.icon-content-platform-blue { background-image: url('icons/content-platform-blue.png'); background-repeat: no-repeat; }

.icon-content-platform { background-image: url('icons/content-platform.png'); background-repeat: no-repeat; }

.icon-crown-white { background-image: url('icons/crown-white.png'); background-repeat: no-repeat; }

.icon-crown { background-image: url('icons/crown.png'); background-repeat: no-repeat; }

.icon-delete-greyLight { background-image: url('icons/delete-greyLight.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('icons/delete.png'); background-repeat: no-repeat; }

.icon-document-blue { background-image: url('icons/document-blue.png'); background-repeat: no-repeat; }

.icon-document-blueBrand { background-image: url('icons/document-blueBrand.png'); background-repeat: no-repeat; }

.icon-document { background-image: url('icons/document.png'); background-repeat: no-repeat; }

.icon-door-blueBrand { background-image: url('icons/door-blueBrand.png'); background-repeat: no-repeat; }

.icon-door-grey { background-image: url('icons/door-grey.png'); background-repeat: no-repeat; }

.icon-door { background-image: url('icons/door.png'); background-repeat: no-repeat; }

.icon-download-blue { background-image: url('icons/download-blue.png'); background-repeat: no-repeat; }

.icon-download { background-image: url('icons/download.png'); background-repeat: no-repeat; }

.icon-error-red { background-image: url('icons/error-red.png'); background-repeat: no-repeat; }

.icon-error { background-image: url('icons/error.png'); background-repeat: no-repeat; }

.icon-external-blue { background-image: url('icons/external-blue.png'); background-repeat: no-repeat; }

.icon-external-white { background-image: url('icons/external-white.png'); background-repeat: no-repeat; }

.icon-external { background-image: url('icons/external.png'); background-repeat: no-repeat; }

.icon-facebook-blue { background-image: url('icons/facebook-blue.png'); background-repeat: no-repeat; }

.icon-facebook-white { background-image: url('icons/facebook-white.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('icons/facebook.png'); background-repeat: no-repeat; }

.icon-filter-blue { background-image: url('icons/filter-blue.png'); background-repeat: no-repeat; }

.icon-filter { background-image: url('icons/filter.png'); background-repeat: no-repeat; }

.icon-filters-white { background-image: url('icons/filters-white.png'); background-repeat: no-repeat; }

.icon-filters { background-image: url('icons/filters.png'); background-repeat: no-repeat; }

.icon-floorplan-blue { background-image: url('icons/floorplan-blue.png'); background-repeat: no-repeat; }

.icon-floorplan-brightBlue { background-image: url('icons/floorplan-brightBlue.png'); background-repeat: no-repeat; }

.icon-floorplan-grey { background-image: url('icons/floorplan-grey.png'); background-repeat: no-repeat; }

.icon-floorplan-white { background-image: url('icons/floorplan-white.png'); background-repeat: no-repeat; }

.icon-floorplan { background-image: url('icons/floorplan.png'); background-repeat: no-repeat; }

.icon-flower-grey { background-image: url('icons/flower-grey.png'); background-repeat: no-repeat; }

.icon-flower { background-image: url('icons/flower.png'); background-repeat: no-repeat; }

.icon-for-sale-blue { background-image: url('icons/for-sale-blue.png'); background-repeat: no-repeat; }

.icon-for-sale { background-image: url('icons/for-sale.png'); background-repeat: no-repeat; }

.icon-google-plus-blue { background-image: url('icons/google-plus-blue.png'); background-repeat: no-repeat; }

.icon-google-plus { background-image: url('icons/google-plus.png'); background-repeat: no-repeat; }

.icon-heart-blue { background-image: url('icons/heart-blue.png'); background-repeat: no-repeat; }

.icon-heart-blueBrand { background-image: url('icons/heart-blueBrand.png'); background-repeat: no-repeat; }

.icon-heart-filled-blue { background-image: url('icons/heart-filled-blue.png'); background-repeat: no-repeat; }

.icon-heart-filled-white { background-image: url('icons/heart-filled-white.png'); background-repeat: no-repeat; }

.icon-heart-filled { background-image: url('icons/heart-filled.png'); background-repeat: no-repeat; }

.icon-heart-semi-filled { background-image: url('icons/heart-semi-filled.png'); background-repeat: no-repeat; }

.icon-heart-white { background-image: url('icons/heart-white.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('icons/heart.png'); background-repeat: no-repeat; }

.icon-house-blueBrand { background-image: url('icons/house-blueBrand.png'); background-repeat: no-repeat; }

.icon-house-blueLighter { background-image: url('icons/house-blueLighter.png'); background-repeat: no-repeat; }

.icon-house-grey { background-image: url('icons/house-grey.png'); background-repeat: no-repeat; }

.icon-house-image-blue { background-image: url('icons/house-image-blue.png'); background-repeat: no-repeat; }

.icon-house-image { background-image: url('icons/house-image.png'); background-repeat: no-repeat; }

.icon-house { background-image: url('icons/house.png'); background-repeat: no-repeat; }

.icon-images-blue { background-image: url('icons/images-blue.png'); background-repeat: no-repeat; }

.icon-images-white { background-image: url('icons/images-white.png'); background-repeat: no-repeat; }

.icon-images { background-image: url('icons/images.png'); background-repeat: no-repeat; }

.icon-info-blue { background-image: url('icons/info-blue.png'); background-repeat: no-repeat; }

.icon-info-blueBrand { background-image: url('icons/info-blueBrand.png'); background-repeat: no-repeat; }

.icon-info-grey { background-image: url('icons/info-grey.png'); background-repeat: no-repeat; }

.icon-info-greyDark { background-image: url('icons/info-greyDark.png'); background-repeat: no-repeat; }

.icon-info-red { background-image: url('icons/info-red.png'); background-repeat: no-repeat; }

.icon-info-white { background-image: url('icons/info-white.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('icons/info.png'); background-repeat: no-repeat; }

.icon-infospot-blue { background-image: url('icons/infospot-blue.png'); background-repeat: no-repeat; }

.icon-infospot { background-image: url('icons/infospot.png'); background-repeat: no-repeat; }

.icon-investor { background-image: url('icons/investor.png'); background-repeat: no-repeat; }

.icon-key-blue { background-image: url('icons/key-blue.png'); background-repeat: no-repeat; }

.icon-key-v-blueBrand { background-image: url('icons/key-v-blueBrand.png'); background-repeat: no-repeat; }

.icon-key-v { background-image: url('icons/key-v.png'); background-repeat: no-repeat; }

.icon-key-white { background-image: url('icons/key-white.png'); background-repeat: no-repeat; }

.icon-key { background-image: url('icons/key.png'); background-repeat: no-repeat; }

.icon-linkedin-blue { background-image: url('icons/linkedin-blue.png'); background-repeat: no-repeat; }

.icon-linkedin-white { background-image: url('icons/linkedin-white.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('icons/linkedin.png'); background-repeat: no-repeat; }

.search-content-toggle__view-type:hover .icon-list-grey,
.icon-list-blue { background-image: url('icons/list-blue.png'); background-repeat: no-repeat; }

.icon-list-grey { background-image: url('icons/list-grey.png'); background-repeat: no-repeat; }

.icon-list-your-home { background-image: url('icons/list-your-home.png'); background-repeat: no-repeat; }

.icon-list { background-image: url('icons/list.png'); background-repeat: no-repeat; }

.search-content-toggle__view-type:hover .icon-location-grey,
.icon-location-blue { background-image: url('icons/location-blue.png'); background-repeat: no-repeat; }

.icon-location-grey { background-image: url('icons/location-grey.png'); background-repeat: no-repeat; }

.icon-location { background-image: url('icons/location.png'); background-repeat: no-repeat; }

.icon-lock { background-image: url('icons/lock.png'); background-repeat: no-repeat; }

.icon-logo-nvm-white { background-image: url('icons/logo-nvm-white.png'); background-repeat: no-repeat; }

.icon-logo-nvm { background-image: url('icons/logo-nvm.png'); background-repeat: no-repeat; }

.icon-logo-vastgoed-pro-white { background-image: url('icons/logo-vastgoed-pro-white.png'); background-repeat: no-repeat; }

.icon-logo-vastgoed-pro { background-image: url('icons/logo-vastgoed-pro.png'); background-repeat: no-repeat; }

.icon-logo-vbo-white { background-image: url('icons/logo-vbo-white.png'); background-repeat: no-repeat; }

.icon-logo-vbo { background-image: url('icons/logo-vbo.png'); background-repeat: no-repeat; }

.icon-logo-vgm-white { background-image: url('icons/logo-vgm-white.png'); background-repeat: no-repeat; }

.icon-logo-vgm { background-image: url('icons/logo-vgm.png'); background-repeat: no-repeat; }

.icon-mail-blue { background-image: url('icons/mail-blue.png'); background-repeat: no-repeat; }

.icon-mail-blueBrand { background-image: url('icons/mail-blueBrand.png'); background-repeat: no-repeat; }

.icon-mail-grey { background-image: url('icons/mail-grey.png'); background-repeat: no-repeat; }

.icon-mail-greyDark { background-image: url('icons/mail-greyDark.png'); background-repeat: no-repeat; }

.icon-mail-white { background-image: url('icons/mail-white.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('icons/mail.png'); background-repeat: no-repeat; }

.icon-makelaar { background-image: url('icons/makelaar.png'); background-repeat: no-repeat; }

.icon-megafono-blue { background-image: url('icons/megafono-blue.png'); background-repeat: no-repeat; }

.icon-megafono-blueBrand { background-image: url('icons/megafono-blueBrand.png'); background-repeat: no-repeat; }

.icon-megafono { background-image: url('icons/megafono.png'); background-repeat: no-repeat; }

.icon-menu-white { background-image: url('icons/menu-white.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('icons/menu.png'); background-repeat: no-repeat; }

.icon-minus-blue { background-image: url('icons/minus-blue.png'); background-repeat: no-repeat; }

.icon-minus-circle-inverted-blue { background-image: url('icons/minus-circle-inverted-blue.png'); background-repeat: no-repeat; }

.icon-minus-circle-inverted-red { background-image: url('icons/minus-circle-inverted-red.png'); background-repeat: no-repeat; }

.icon-minus-circle-inverted { background-image: url('icons/minus-circle-inverted.png'); background-repeat: no-repeat; }

.icon-minus { background-image: url('icons/minus.png'); background-repeat: no-repeat; }

.icon-mortgage { background-image: url('icons/mortgage.png'); background-repeat: no-repeat; }

.icon-move-white { background-image: url('icons/move-white.png'); background-repeat: no-repeat; }

.icon-move { background-image: url('icons/move.png'); background-repeat: no-repeat; }

.icon-new-house-blue { background-image: url('icons/new-house-blue.png'); background-repeat: no-repeat; }

.icon-new-house { background-image: url('icons/new-house.png'); background-repeat: no-repeat; }

.icon-not-found-error-blueBrand { background-image: url('icons/not-found-error-blueBrand.png'); background-repeat: no-repeat; }

.icon-not-found-error { background-image: url('icons/not-found-error.png'); background-repeat: no-repeat; }

.icon-not-found-house-blueBrand { background-image: url('icons/not-found-house-blueBrand.png'); background-repeat: no-repeat; }

.icon-not-found-house { background-image: url('icons/not-found-house.png'); background-repeat: no-repeat; }

.icon-not-found-page-blueBrand { background-image: url('icons/not-found-page-blueBrand.png'); background-repeat: no-repeat; }

.icon-not-found-page { background-image: url('icons/not-found-page.png'); background-repeat: no-repeat; }

.icon-not-found-property-blueBrand { background-image: url('icons/not-found-property-blueBrand.png'); background-repeat: no-repeat; }

.icon-not-found-property { background-image: url('icons/not-found-property.png'); background-repeat: no-repeat; }

.icon-not-found { background-image: url('icons/not-found.png'); background-repeat: no-repeat; }

.icon-notes-blue { background-image: url('icons/notes-blue.png'); background-repeat: no-repeat; }

.icon-notes-blueBrand { background-image: url('icons/notes-blueBrand.png'); background-repeat: no-repeat; }

.icon-notes { background-image: url('icons/notes.png'); background-repeat: no-repeat; }

.icon-office-blueLighter { background-image: url('icons/office-blueLighter.png'); background-repeat: no-repeat; }

.icon-office { background-image: url('icons/office.png'); background-repeat: no-repeat; }

.icon-open-house-package-blue { background-image: url('icons/open-house-package-blue.png'); background-repeat: no-repeat; }

.icon-open-house-package-pink { background-image: url('icons/open-house-package-pink.png'); background-repeat: no-repeat; }

.icon-open-house-package { background-image: url('icons/open-house-package.png'); background-repeat: no-repeat; }

.icon-overview-blue { background-image: url('icons/overview-blue.png'); background-repeat: no-repeat; }

.icon-overview { background-image: url('icons/overview.png'); background-repeat: no-repeat; }

.icon-phone-blue { background-image: url('icons/phone-blue.png'); background-repeat: no-repeat; }

.icon-phone-blueBrand { background-image: url('icons/phone-blueBrand.png'); background-repeat: no-repeat; }

.icon-phone-grey { background-image: url('icons/phone-grey.png'); background-repeat: no-repeat; }

.icon-phone-greyDark { background-image: url('icons/phone-greyDark.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('icons/phone.png'); background-repeat: no-repeat; }

.icon-pinterest-blue { background-image: url('icons/pinterest-blue.png'); background-repeat: no-repeat; }

.icon-pinterest-white { background-image: url('icons/pinterest-white.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('icons/pinterest.png'); background-repeat: no-repeat; }

.icon-plus-blue { background-image: url('icons/plus-blue.png'); background-repeat: no-repeat; }

.icon-plus-white { background-image: url('icons/plus-white.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('icons/plus.png'); background-repeat: no-repeat; }

.icon-printer-blue { background-image: url('icons/printer-blue.png'); background-repeat: no-repeat; }

.icon-printer { background-image: url('icons/printer.png'); background-repeat: no-repeat; }

.icon-promolabel-blue { background-image: url('icons/promolabel-blue.png'); background-repeat: no-repeat; }

.icon-promolabel { background-image: url('icons/promolabel.png'); background-repeat: no-repeat; }

.icon-refresh-blue { background-image: url('icons/refresh-blue.png'); background-repeat: no-repeat; }

.icon-refresh-blueBrand { background-image: url('icons/refresh-blueBrand.png'); background-repeat: no-repeat; }

.icon-refresh { background-image: url('icons/refresh.png'); background-repeat: no-repeat; }

.icon-robot-blueBrand { background-image: url('icons/robot-blueBrand.png'); background-repeat: no-repeat; }

.icon-robot { background-image: url('icons/robot.png'); background-repeat: no-repeat; }

.icon-search-white { background-image: url('icons/search-white.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('icons/search.png'); background-repeat: no-repeat; }

.icon-share-blue { background-image: url('icons/share-blue.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('icons/share.png'); background-repeat: no-repeat; }

.icon-smartphone-shake-blueBrand { background-image: url('icons/smartphone-shake-blueBrand.png'); background-repeat: no-repeat; }

.icon-smartphone-shake { background-image: url('icons/smartphone-shake.png'); background-repeat: no-repeat; }

.icon-sold { background-image: url('icons/sold.png'); background-repeat: no-repeat; }

.icon-sort { background-image: url('icons/sort.png'); background-repeat: no-repeat; }

.icon-star-filled-grey { background-image: url('icons/star-filled-grey.png'); background-repeat: no-repeat; }

.icon-star-filled-orange { background-image: url('icons/star-filled-orange.png'); background-repeat: no-repeat; }

.icon-star-filled { background-image: url('icons/star-filled.png'); background-repeat: no-repeat; }

.icon-star-grey { background-image: url('icons/star-grey.png'); background-repeat: no-repeat; }

.icon-star-orange { background-image: url('icons/star-orange.png'); background-repeat: no-repeat; }

.icon-star { background-image: url('icons/star.png'); background-repeat: no-repeat; }

.icon-stats-average-white { background-image: url('icons/stats-average-white.png'); background-repeat: no-repeat; }

.icon-stats-average { background-image: url('icons/stats-average.png'); background-repeat: no-repeat; }

.icon-stats-bad-white { background-image: url('icons/stats-bad-white.png'); background-repeat: no-repeat; }

.icon-stats-bad { background-image: url('icons/stats-bad.png'); background-repeat: no-repeat; }

.icon-stats-good-blue { background-image: url('icons/stats-good-blue.png'); background-repeat: no-repeat; }

.icon-stats-good-blueBrand { background-image: url('icons/stats-good-blueBrand.png'); background-repeat: no-repeat; }

.icon-stats-good-white { background-image: url('icons/stats-good-white.png'); background-repeat: no-repeat; }

.icon-stats-good { background-image: url('icons/stats-good.png'); background-repeat: no-repeat; }

.icon-success-alt { background-image: url('icons/success-alt.png'); background-repeat: no-repeat; }

.icon-success-green { background-image: url('icons/success-green.png'); background-repeat: no-repeat; }

.icon-success { background-image: url('icons/success.png'); background-repeat: no-repeat; }

.icon-success.svg-green { background-image: url('icons/success.svg-green.png'); background-repeat: no-repeat; }

.icon-success.svg { background-image: url('icons/success.svg.png'); background-repeat: no-repeat; }

.icon-sun-blueBrand { background-image: url('icons/sun-blueBrand.png'); background-repeat: no-repeat; }

.icon-sun-grey { background-image: url('icons/sun-grey.png'); background-repeat: no-repeat; }

.icon-sun { background-image: url('icons/sun.png'); background-repeat: no-repeat; }

.icon-surface-blueBrand { background-image: url('icons/surface-blueBrand.png'); background-repeat: no-repeat; }

.icon-surface-grey { background-image: url('icons/surface-grey.png'); background-repeat: no-repeat; }

.icon-surface { background-image: url('icons/surface.png'); background-repeat: no-repeat; }

.icon-thumbs-down-blue { background-image: url('icons/thumbs-down-blue.png'); background-repeat: no-repeat; }

.icon-thumbs-down-greyDark { background-image: url('icons/thumbs-down-greyDark.png'); background-repeat: no-repeat; }

.icon-thumbs-down { background-image: url('icons/thumbs-down.png'); background-repeat: no-repeat; }

.icon-thumbs-up-blue { background-image: url('icons/thumbs-up-blue.png'); background-repeat: no-repeat; }

.icon-thumbs-up-greyDark { background-image: url('icons/thumbs-up-greyDark.png'); background-repeat: no-repeat; }

.icon-thumbs-up { background-image: url('icons/thumbs-up.png'); background-repeat: no-repeat; }

.icon-topposition-blue { background-image: url('icons/topposition-blue.png'); background-repeat: no-repeat; }

.icon-topposition { background-image: url('icons/topposition.png'); background-repeat: no-repeat; }

.icon-twitter-blue { background-image: url('icons/twitter-blue.png'); background-repeat: no-repeat; }

.icon-twitter-white { background-image: url('icons/twitter-white.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('icons/twitter.png'); background-repeat: no-repeat; }

.icon-user-menu-white { background-image: url('icons/user-menu-white.png'); background-repeat: no-repeat; }

.icon-user-menu { background-image: url('icons/user-menu.png'); background-repeat: no-repeat; }

.icon-user { background-image: url('icons/user.png'); background-repeat: no-repeat; }

.icon-video-blue { background-image: url('icons/video-blue.png'); background-repeat: no-repeat; }

.icon-video-white { background-image: url('icons/video-white.png'); background-repeat: no-repeat; }

.icon-video { background-image: url('icons/video.png'); background-repeat: no-repeat; }

.icon-vr-blue { background-image: url('icons/vr-blue.png'); background-repeat: no-repeat; }

.icon-vr { background-image: url('icons/vr.png'); background-repeat: no-repeat; }

.icon-warning-blue { background-image: url('icons/warning-blue.png'); background-repeat: no-repeat; }

.icon-warning-yellow { background-image: url('icons/warning-yellow.png'); background-repeat: no-repeat; }

.icon-warning { background-image: url('icons/warning.png'); background-repeat: no-repeat; }

.icon-whatsapp-blue { background-image: url('icons/whatsapp-blue.png'); background-repeat: no-repeat; }

.icon-whatsapp-white { background-image: url('icons/whatsapp-white.png'); background-repeat: no-repeat; }

.icon-whatsapp { background-image: url('icons/whatsapp.png'); background-repeat: no-repeat; }

