{% from "components/user-profile-personal/user-profile-personal.html" import userProfilePersonalInputs %}
{% from "components/user-profile-address/user-profile-address.html" import userProfileAddressInputs %}

{% macro nieuweHuisKoppelenActivateAccount() %}
<section class="nieuwe-huis-koppelen-activate-account">
    <form class="form" action="#">
        <h2 id="ditismijnhuis">Activeer jouw {client} account</h2>

        <p class="nieuwe-huis-koppelen-activate-account-paragraph">
            De Graaf & Groot Makelaar heeft voor jouw een {client} account aangemaakt! Controleer je gegevens en vul eventueel aan. Acivieren duurt slechts 1 minutt.
        </p>

        <h3>Persoonlijke gegevens</h3>

        {{ userProfilePersonalInputs() }}

        {{ userProfileAddressInputs( error = true ) }}

        <h3>Inloggegevees</h3>

        <label>
            <span class="edit-label">E-mailadres</span>
        </label>
        <div class="read-input">lindajanssen@{client}.nl</div>


        <label>
            <span class="edit-label">Voer een wachtwoord in</span>
            <input class="edit-input input-validation-error" type="password" name="Password1">
        </label>
        <div class="form-message--error">The password is invalid.</div>

        <label>
            <span class="edit-label">Herhaal wachtwoord</span>
            <input class="edit-input" type="password" name="Password2">
        </label>

        <button type="submit" class="button button-primary">Account activeren</button>

        <div class="user-profile-terms">Met het activeren van dit account ga je akkord met onze <a href="#">gebruiksvoorwaarden</a> en <a href="#">privacybeleid</a>.</div>

</form>
</section>
{% endmacro %}

{# examples #}
<div class="app-guide-example" data-guide-title="Default">
{{ nieuweHuisKoppelenActivateAccount() }}
</div>
{# /examples #}
