.nieuwe-huis-koppelen-activate-account {
    @extend .user-profile;

    .nieuwe-huis-koppelen-activate-account-paragraph {
        margin: 1rem 0 0 0;
    }

    .button-primary {
        width: 100% ;
        margin-top: 2rem;

        @media screen and (min-width: $bp-medium) {
            width: auto;
        }
    }
}


