{% macro nieuweHuisKoppelenHero(
image = "http://cloud.{client}.nl/xxxxx.jpg",
title = "Is dit jouw nieuwe huis?",
buttonText = "Koppel mij aan dit huis",
buttonLink = "#",
animateButton = false,
showCta = true
) %}
<article class="nieuwe-huis-koppelen-hero
{% if image %}
nieuwe-huis-hero
{% else %}
nieuwe-huis-hero--no-img
{% endif %}
" data-component="nieuwe-huis-koppelen-hero" data-hero-fx>
	<div class="nieuwe-huis-hero__content">
		<h1 class="nieuwe-huis-hero__title nieuwe-huis-koppelen-hero__title">{{ title }}</h1>
	</div>

	<div class="nieuwe-huis-koppelen-hero__act">
		<p class="nieuwe-huis-koppelen-hero__address">
			Burgermeester van Nispen van Sevenaerstraat 51
			<small>1251 KG Laren Nh</small>
		</p>
        <a href="{{ buttonLink }}" class="button-primary-alternative" data-cta-header="" {{ "data-goto" if animateButton }}>{{ buttonText }}</a>
	</div>

	<div class="nieuwe-huis-hero__image-wrapper nieuwe-huis-koppelen-hero__image-wrapper">
		<img class="nieuwe-huis-hero__image" alt="" src="{{ image }}"
             srcset="http://cloud.{client}.nl/342_1440x960.jpg 1440w, http://cloud.{client}.nl/342_180x120.jpg 180w, http://cloud.{client}.nl/342_360x240.jpg 360w, http://cloud.{client}.nl/342_720x480.jpg 720w, http://cloud.{client}.nl/342_1080x720.jpg 1080w, http://cloud.{client}.nl/342_2160x1440.jpg 2160w" sizes="100vw">
	</div>
</article>
{% endmacro %}

{# examples #}
<div class="app-guide-example" data-guide-title="Default">
    {{ nieuweHuisKoppelenHero( showCta = false ) }}
</div>

<div class="app-guide-example" data-guide-title="No image">
    {{ nieuweHuisKoppelenHero( image = false ) }}
</div>
{# /examples #}
