%HeroGradientLayer {
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.6) 90%, rgba(0,0,0,0.8) 100%);
	}
}

.nieuwe-huis-hero {
	text-align: center;
	background-color: $grey-lightest;
	overflow: hidden;

	&:not(&--no-img) {
		position: relative;
		& .nieuwe-huis-hero {
			&__image {
				object-fit: cover;
				position: absolute;
				width: 100%;
				min-height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1.2);

				&-wrapper {
					background-color: #FFF;
				}
			}

			&__content {
				z-index: 2;
				position: relative;
				color: #FFF;
				height: 100%;
			}

			&__title {
				text-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
			}
		}
		.nieuwe-huis-koppelen-hero__act {
			@extend %HeroGradientLayer;
		}
	}

	&--no-img {
		// !important is needed to make sure that no-img
		min-height: 100% !important;
		height: 100% !important;

		& .nieuwe-huis-hero {
			&__image {
				display: none;
			}
		}
	}
}

.nieuwe-huis-koppelen-hero {
	min-height: 500px;
	height: 80vh;

	&:not(.nieuwe-huis-hero--no-img) {

		.nieuwe-huis-koppelen-hero {
			&__image {

				&-wrapper {
					background-color: #FFF;
				}
			}

			&__content,
			&__act {
				color: #FFF;
			}

			&__address {
				text-shadow: 0 0 8px rgba(0,0,0,0.4);
				position: relative;
				z-index: 2;
			}
		}
	}

	&.nieuwe-huis-hero--no-img {
		& .nieuwe-huis-koppelen-hero {
			&__act {
				position: relative;
				bottom: auto;
				margin-bottom: 3rem;
			}
		}
	}

	&__act {
		z-index: 2;
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-top: 1rem;
		padding-bottom: 1.5rem;

        .button-primary-alternative {
			z-index: 2;
			position: relative;
		}

		@media screen and (min-width: $bp-medium) {
			padding-bottom: 2.75rem;
		}
	}

	&__title {
		$max-name-font-size: 56;
		margin-top: 1em;
		font-size: fluid-typography(32, $max-name-font-size, $min-window-width, $max-window-width);

		@media screen and (min-width: $bp-large) {
			font-size: #{$max-name-font-size}px;
		}
	}

	&__address {
		font-weight: 600;
		font-size: 1.25em;
		line-height: 1.2;
		max-width: 18.75em;
		margin: 0 auto 1.125em;

		small {
			display: block;
			font-size: 0.8em;
			font-weight: normal;
			line-height: 1.5;
		}
	}
}
