.nieuwbouw-omschrijving-primary-ad {
    $primary-ad-bp: 375px;

    max-width: 40.5em;
    max-height: 5.5em;
    margin: auto;

    @media screen and (min-width: $primary-ad-bp) {
        max-height: 4em;
    }

    @media screen and (min-width: $bp-medium) {
        max-height: 2.5em;
        margin-bottom: 2em;
    }
}

.nieuwbouw-omschrijving-secondary-ad {
    margin: auto;
    max-width: 45.5em;
    max-height: 5.625em;
    margin-bottom: 1em;

    @media screen and (min-width: $bp-medium) {
        display: block;
        min-height: 90px;
    }
}