{% macro advertisementSlot(
    lazyInit="",
    searchResults="",
    refreshAdOnScroll="",
    globalId="",
    lokID="2001",
    adUnitPath="/6835/{client}/results",
    sizeDefault="[ 728, 90 ]",
    lazyThreshold="100",
    sizeMapping="[ [ [ 768, 0 ], [ [ 728, 90 ] ] ], [ [ 0, 0 ], [  ] ] ]")
%}

<aside
    class="advertisement"
    id="{{globalId}}"
    data-component="advertisements"
    data-advertisement
    data-advertisement-lok="{{ lokID }}"
    data-advertisement-adunit-path="{{ adUnitPath }}"
    data-advertisement-size-mapping="{{ sizeMapping }}"
    data-advertisement-size-default="{{ sizeDefault }}"
    data-advertisement-init="{{ init }}"
    data-advertisement-lazy-threshold="{{ lazyThreshold }}"
    data-advertisement-user-id="98361e30-46d3-47ec-80fa-596af56f2d58"
    data-advertisement-categories-url="/stubs/components/advertisements/{{lokID}}.json"
    {{ refreshAdOnScroll }}
    {{ lazyInit }}
    {{ searchResults }}
    >
</aside>
<!-- /advertisements component -->
{% endmacro %}

<div class="app-guide-example" data-guide-title="Ad with invalid JSON that has a fallback of no setTargeting">
    {{ advertisementSlot(globalId="12") }}
</div>

<div class="app-guide-example" data-guide-title="Ad with invalid JSON that has a fallback of no setTargeting">
    {{ advertisementSlot(globalId="ttt", sizeDefault="[ 983, 104 ]") }}
</div>

<div class="app-guide-example" data-guide-title="Ad with setTargeting of Lok 3001">
    {{ advertisementSlot(globalId="1", lokID="3001") }}
</div>

<div class="app-guide-example" data-guide-title="Ad with setTargeting of Lok 5000">
    {{ advertisementSlot(globalId="123", lokID="5000") }}
</div>
