.nieuwe-huis-widget-related-articles {
    $bp-medium-widget: 546px;
    $space: 12px;
    width: 100%;
    overflow: hidden;
    position: relative;
    float: left;
    min-height: 184px;
    margin: 0 0 $space 0;

    &__heading {
        font-size: 1.25rem;
        line-height: 1.2;
        margin: 1.2rem 0 1rem;
    }

    &:after {
        content: '';
        display: block;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 55.49%, rgba(0,0,0,0.8) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__link {
        display: block;
        color: #fff;
        position: absolute;
        height: 100%;
        width: 100%;

        &:hover, &:active {
            color: #fff;
        }
    }

    &__thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__description {
        position: absolute;
        bottom: 24px;
        left: 24px;
        z-index: 2;
        max-width: calc(100% - 34px);
    }

    &__title {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
        margin: 0;

        overflow: hidden;
    }

    &__readmore {
        display: block;
        font-weight: 600;
    }

    &-wrapper {
        @extend %wrapperWithClearing;
        overflow: hidden;
        margin: 0 auto;
        padding: 0 16px;

        @media screen and (min-width: $bp-medium-widget + 32px) {
            max-width: $bp-medium-widget;
            padding: 0;
        }
    }

    @media screen and (min-width: $bp-medium) {
        width: calc((100% - 24px)/3);
        height: 224px;
        margin-bottom: $space*2;

        &:not(:first-child) {
            margin-left: $space;
        }

        &__title {
            max-height: 73px;
        }
    }

    @media screen and (min-width: $bp-large) {
        height: 192px;

        &-wrapper {
            max-width: 984px;
        }

        &__title {
            max-height: 48px;
        }
    }
}


