$toggleCircleSize: 1.5rem;
$toggleSpacing: 0.125rem;

$toggleOuterHeight: $toggleCircleSize + (2 * $toggleSpacing);
$toggleOuterWidth: 2 * ($toggleCircleSize + $toggleSpacing);

.toggle-input {
    position: relative;
    display: inline-block;
    width: $toggleOuterWidth;
    height: $toggleOuterHeight;

    input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: $toggleOuterHeight;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: $toggleCircleSize;
        width: $toggleCircleSize;
        left: $toggleSpacing;
        bottom: $toggleSpacing;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: $green;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $green;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX($toggleCircleSize);
        -ms-transform: translateX($toggleCircleSize);
        transform: translateX($toggleCircleSize);
    }
}


.toggle-section {
    @extend %clearfix;
    p {
        float: left;
        padding-right: 10px;
        margin: 1px 0;
        width: calc(100% - #{$toggleSpacing + $toggleOuterWidth});
    }
}
