
{% macro toggleInput( checked , name = "name" ) %}
<label class="toggle-input">
    <input name="{{ name }}" type="checkbox" value="true" {{ "checked" if checked }} >
    <div class="slider"></div>
</label>
{% endmacro %}



<div class="app-guide-example" data-guide-title="Toggle unchecked ">
    {{ toggleInput() }}
</div>

<div class="app-guide-example" data-guide-title="Toggle checked ">
    {{ toggleInput( checked = true ) }}
</div>


<div class="app-guide-example" data-guide-title="Toggle block as in email settings view ">
    <div class="toggle-section">

        <p>Text that fits alongside the toggle input. Text that fits alongside the toggle input.</p>

        {{ toggleInput( checked = true ) }}
    </div>
</div>

