
{% macro nieuweHuisKoppelenCadeauflowUspBlock( icon , title , subtitle , extraClasses ) %}
    <div class="nieuwe-huis-koppelen-cadeauflow-usp-block {{ extraClasses }}">
        <div class="image-container">
            <span class="icon icon-{{ icon }}-blueBrand" data-grunticon-embed></span>
        </div>
        <h2 class="nieuwe-huis-koppelen-cadeauflow-usp-block-title">{{ title }}</h2>
        <p class="nieuwe-huis-koppelen-cadeauflow-usp-block-subtitle">{{ subtitle }}</p>
    </div>
{% endmacro %}

{% macro nieuweHuisKoppelenCadeauflowUsp() %}
<div class="nieuwe-huis-koppelen-cadeauflow-usp" data-component="nieuwe-huis-koppelen-cadeauflow-usp">
    <div class="container">
        {{ nieuweHuisKoppelenCadeauflowUspBlock(
            icon = "stats-good",
            title = "Bezoekstatistieken",
            subtitle = "Bekijk op elk moment hoe vaak jouw huis is gevonden en bekeken.",
            extraClasses = "bezoekstatistieken"
        ) }}
        {{ nieuweHuisKoppelenCadeauflowUspBlock(
            icon = "megafono",
            title = "Promoot je huis!",
            subtitle = "Beslis samen met je makelaar of je jouw huis extra wil laten opvallen.",
            extraClasses = "promotie"
        ) }}
        {{ nieuweHuisKoppelenCadeauflowUspBlock(
            icon = "notes",
            title = "Beoordeel je makelaar",
            subtitle = "Na de verkoop kan je een beoordeling over je makelaar schrijven.",
            extraClasses = "beoordeelen"
        ) }}
    </div>
</div>
{% endmacro %}

{# examples #}
<div class="app-guide-example" data-guide-title="Default">
    {{ nieuweHuisKoppelenCadeauflowUsp() }}
</div>
{# /examples #}
