.nieuwe-huis-koppelen-cadeauflow-usp {
    padding: 2rem;
    background-color: $color-promolabel-blue-light;
    text-align: center;

    &-block-title{
        font-size: 1.25rem;
        font-weight: bold;
        margin: 1rem 0 0.5rem 0;
    }

    &-block-subtitle {
        margin: 0;
        color: $grey;
    }

    &-block {
        margin: 0.5rem;
        display: inline-block;
        vertical-align: top;

        width: calc(100% - 1rem);
        @media screen and (min-width: $bp-medium) {
            width: calc(49% - 1rem);
        }
        @media screen and (min-width: $bp-large) {
            width: calc(33% - 1rem);
        }
    }

    .image-container {
        padding: 1rem;
        background-color: white;
        width: 100%;
        text-align: center;
    }

    .icon {
        width: 128px;
        height: 128px;
        margin: 0 auto;
    }

    .promotie {
        display: none;
        @media screen and (min-width: $bp-medium) {
            display: inline-block;
        }
    }

    .beoordeelen {
        display: none;
        @media screen and (min-width: $bp-large) {
            display: inline-block;
        }
    }
}


