{# The data-component="app-error-hero" is only for highlighting in previews. Don't implement this in Razor. #}

{% macro appErrorHero(title, description, icon, fibbackground) %}
    <!-- app-error-hero component -->
    <section class="app-error-hero {{ fibbackground }}" data-component="app-error-hero">
        <div class="container">
            <span class="app-error-hero-icon {{ icon }}"></span>
            <h1 class="app-error-hero-title">{{ title }}</h1>
            <p class="app-error-hero-description">{{ description }}</p>
        </div>
    </section>
    <!-- /app-error-hero component -->
{% endmacro %}

{# examples #}
<div class="app-guide-example" data-guide-title="404">
    {{ appErrorHero(title = 'Deze pagina kunnen we niet vinden', description = 'De door jou opgevraagde pagina is niet (langer) beschikbaar op {client}.', icon = 'icon-not-found-page-blueBrand') }}
</div>
<div class="app-guide-example" data-guide-title="410">
    {{ appErrorHero(title = 'Dit huis kunnen we niet vinden', description = 'Het door jou opgevraagde huis is niet langer beschikbaar op {client}.', icon = 'icon-not-found-house-blueBrand') }}
</div>
<div class="app-guide-example" data-guide-title="410 FIB">
    {{ appErrorHero(title = 'Deze bedrijfsruimte kunnen we niet vinden', description = 'De door jou opgevraagde bedrijfsruimte is niet langer beschikbaar.', icon = 'icon-not-found-property-blueBrand', fibbackground='app-error-hero-{client}inbusiness-background') }}
</div>
<div class="app-guide-example" data-guide-title="500">
    {{ appErrorHero(title = 'We hebben last van een storing', description = 'Bij ons is er iets fout gegaan. Het probleem is bekend en we werken aan een oplossing.', icon = 'icon-not-found-error-blueBrand') }}
</div>
<div class="app-guide-example" data-guide-title="Robot">
    {{ appErrorHero(title = 'We denken dat je een robot bent', description = 'Je gebruikt onze website zó snel, je lijkt Superman wel. Of Batman. Jij mag kiezen.', icon = 'icon-robot-blueBrand') }}
</div>
{# /examples #}