.app-error-hero {
    padding: 2rem 0 3.5rem;
    overflow: hidden;
    background: $natural-blue url('#{$path-to-assets}components/app-error-hero/error-banner-background.svg') bottom center no-repeat;
    background-size: 64.5rem auto;

    @media screen and (min-width: $bp-large) {
        padding: 3.75rem 0 5.5rem;
    }

    .app-error-hero-icon {
        width: 7rem;
        height: 7rem;
        margin: 0 auto 1.75rem;
        display: block;

        @media screen and (min-width: $bp-large) {
            width: 9.375rem;
            height: 9.375rem;
            margin-bottom: 2.25rem;
        }
    }

    .app-error-hero-title {
        text-align: center;
        margin: 2rem 0 0.5rem;
    }

    .app-error-hero-description {
        text-align: center;
        margin: 0.5rem 0 0;
        color: $grey;

        @media screen and (min-width: $bp-large) {
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin: 1rem 0 0;
        }
    }
}

.app-error-hero-clientinbusiness-background {
    background-image: url('#{$path-to-assets}components/app-error-hero/error-banner-background-clientinbusiness.svg');
}

