<div class="cms-featured-articles">
    <h2 class="cms-featured-articles-title">Van de redactie van <a href="/thuis/">{client} Thuis</a></h2>
    <div class="cms-featured-articles-container">
        <a title ="Naar de kust" style="background-image: url('/assets/components/cms-article-aside-thumbs/images/hypotheekcheck-160x112.jpg');" class="cms-featured-wide trafficdriver-home-featuredarticle featuredarticle-1"
           href="/thuis/hoe-koop-ik-een-huis/de-wens/naar-de-kust/">
            <div class="cms-featured-main-content">
                <h2 class="cms-featured-main-title">Feestje vieren!</h2>
                <p class="cms-featured-main-description">De reuring van de stad, of de ruimte en rust van een dorp</p>
                <em class="cms-featured-main-read">Lees het artikel <span class="icon-arrow-right-white"></span></em>
            </div>
        </a>
        <div class="cms-featured-narrow">
            <ul class="cms-featured-lists">
                <li class="cms-featured-list">
                    <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/de-nationale-hypotheek-garantie/"
                        class="trafficdriver-mli-link mli-link-1">
                        <div class="cms-featured-list-img">
                            <img
                                src="/assets/components/cms-article-aside-thumbs/images/de-nationale-hypotheek-garantie-80x56.jpg"
                                srcset="/assets/components/cms-article-aside-thumbs/images/de-nationale-hypotheek-garantie-80x56.jpg 1x, /assets/components/cms-article-aside-thumbs/images/de-nationale-hypotheek-garantie-160x112.jpg 2x"
                                >
                        </div>
                        <h3 class="cms-featured-list-title">De Nationale Hypotheek Garantie</h3>
                    </a>
                </li>
                <li class="cms-featured-list">
                    <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/hypotheek-voor-starters/"
                        class="trafficdriver-mli-link mli-link-2">
                        <div class="cms-featured-list-img">
                            <img
                                src="/assets/components/cms-article-aside-thumbs/images/hypotheek-voor-starters-80x56.jpg"
                                srcset="/assets/components/cms-article-aside-thumbs/images/hypotheek-voor-starters-80x56 1x, /assets/components/cms-article-aside-thumbs/images/hypotheek-voor-starters-160x112.jpg 2x"
                                >
                        </div>
                        <h3 class="cms-featured-list-title">Hypotheek voor starters</h3>
                    </a>
                </li>
                <li class="cms-featured-list">
                    <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/in-10-minuten-weten-wat-je-kan-bieden/"
                        class="trafficdriver-mli-link mli-link-3">
                        <div class="cms-featured-list-img">
                            <img
                                src="/assets/components/cms-article-aside-thumbs/images/in-10-minuten-weten-wat-je-kan-bieden-80x56.jpg"
                                srcset="/assets/components/cms-article-aside-thumbs/images/in-10-minuten-weten-wat-je-kan-bieden-80x56.jpg 1x, /assets/components/cms-article-aside-thumbs/images/in-10-minuten-weten-wat-je-kan-bieden-160x112.jpg 2x">
                        </div>
                        <h3 class="cms-featured-list-title">In 10 minuten weten wat je kan bieden</h3>
                    </a>
                </li>
                <li class="cms-featured-list">
                    <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/waarvoor-kies-je-annuiteiten-of-lineaire-hypotheek/"
                        class="trafficdriver-mli-link mli-link-4">
                        <div class="cms-featured-list-img">
                            <img
                                src="/assets/components/cms-article-aside-thumbs/images/annuiteiten-of-lineaire-hypotheek-80x56.jpg"
                                srcset="/assets/components/cms-article-aside-thumbs/images/annuiteiten-of-lineaire-hypotheek-80x56.jpg 1x, /assets/components/cms-article-aside-thumbs/images/annuiteiten-of-lineaire-hypotheek-160x112.jpg 2x">
                        </div>
                        <h3 class="cms-featured-list-title">Waarvoor kies je: annuïteiten of lineaire hypotheek?</h3>
                    </a>
                </li>
                <li class="cms-featured-list">
                    <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/oversluiten-janee/"
                        class="trafficdriver-mli-link mli-link-5">
                        <div class="cms-featured-list-img">
                            <img
                                src="/assets/components/cms-article-aside-thumbs/images/oversluiten-janee-80x56.jpg"
                                srcset="/assets/components/cms-article-aside-thumbs/images/oversluiten-janee-80x56.jpg 1x, /assets/components/cms-article-aside-thumbs/images/oversluiten-janee-160x112.jpg 2x">
                        </div>
                        <h3 class="cms-featured-list-title">Oversluiten: ja/nee?</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
