$bp-susy-8of12: 65.85366%;
$bp-susy-4of12: 31.70732%;
$bp-susy-spacing8of12: 2.43902%;

.cms-featured-articles {
	$home-cms-section-margin-small: 2.5rem;
	$home-cms-section-margin-large: 3.7rem;
	margin-bottom: $home-cms-section-margin-small;

    &.hidden {
        display: none;
    }

	@media screen and (min-width: $bp-medium) {
		margin-bottom: $home-cms-section-margin-large;
	}
}

.cms-featured-articles-container {
	overflow: hidden;

	@media screen and (min-width: $bp-medium) {
		display: table;
		width: 100%;
	}
}

.cms-featured-wide {
	margin-bottom: 1em;
	position: relative;
	background-size: cover;
	min-height: 12.5em;
	width: 100%;
	overflow: hidden;
	display: block;
	color: white;

	&:hover,
	&:active {
		color: white;
	}

    &:before {
        width: 100%;
        height: 100%;
        min-height: 21.75rem;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.42));
    }

	@media screen and (min-width: $bp-medium) {
		@include span(8 of 12);
		display: table-cell;
		float: none;
		margin-bottom: 0;
		vertical-align: bottom;
	}
}

.cms-featured-narrow {
	@media screen and (min-width: $bp-medium) {
		width: 100%;
		float: right;
		padding-left: 1.5rem;
		display: table-cell;
	}
}

.cms-featured-articles-title {
	margin: 0 0 0.5em;

	a {
		color: $grey-darker;
		font-weight: inherit;

		&:hover { color: $link-primary-color-hover; }
	}
    &.hidden {
        display: none;
    }
}

.cms-featured-main {
	@media screen and (min-width: $bp-medium) {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
	}
}

.cms-featured-main-content {
	z-index: 2;
	position: absolute;
	bottom: 0;
	padding: 1em;

	@media screen and (min-width: $bp-large) {
		padding: 1.5em;
	}
}

.cms-featured-main-title {
	font-size: 1.75em;
	line-height: 1.3;
	margin: 0;

	@media screen and (min-width: $bp-large) {
		font-size: 1.75em;
	}
}

.cms-featured-main-read {
	font-style: normal;
	font-weight: 600;
}

.cms-featured-main-description {
	display: none;

	@media screen and (min-width: $bp-medium) {
		display: block;
		margin: 0.8em 0 0.5em;
	}
}

// Narrow
.cms-featured-lists {
	@extend %flat-list;

	a {
		display: block;
	}
}

.cms-featured-list {
	overflow: hidden;
	padding: 0.5em 0;
    border-top: solid 1px $grey-lighter;

	&:first-child {
		border-top: 0;
	}

	a { min-height: 3.5em; }

	@media screen and (min-width: $bp-medium) {
		a { min-height: 2.25em; }

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}

.cms-featured-list-img,
.cms-featured-list-title {
	float: left;
}

.cms-featured-list-img {
	width: 5rem;
	height: 3.5rem;
	overflow: hidden;

	img {
		vertical-align: middle;
		max-width: 100%;
	}

	@media screen and (min-width: $bp-medium) {
		width: 3.25rem;
		height: 2.25rem;
	}

	@media screen and (min-width: $bp-large) {
		width: 5rem;
		height: 3.5rem;
	}
}

.cms-featured-list-title {
	width: calc(100% - 5rem - 1em);
	margin: 0 0 0 1em;
	line-height: 1.5;

	@media screen and (min-width: $bp-medium) {
		font-size: 0.875em;
		margin-left: 0.5em;
	}

	@media screen and (min-width: $bp-large) {
		font-size: 1em;
		margin-left: 0.8em;
	}
}
