{# The data-component="app-spinner" is only for highlighting in previews. Don't implement this in Razor. #}
{# Also on the element, do not include the `keyframe-animation-supported` and `is-visible` classes in Razor.#}
{# The `spinnerName` argument should match whatever is used to select it in the parent component, e.g. `data-plattegrond-spinner`#}

{% macro appSpinner(spinnerName='app-spinner', typeOverride, visibilityOverride=false) %}
<div class="app-spinner
    {%- if typeOverride == 'svg' %} keyframe-animation-supported{% endif -%}
    {%- if visibilityOverride %} is-visible{% endif -%}"
     data-{{ spinnerName }}-spinner
     data-component="app-spinner">
    <svg class="svg-circular" viewBox="0 0 48 48">
        <circle class="path"
                cx="24"
                cy="24"
                r="20"
                fill="none"
                stroke-width="3"
                stroke-dasharray="89,200"
                stroke-dashoffset="-124"/>
    </svg>
    <img class="gif-circular" src="../../assets/components/app-spinner/spinner.gif"/>
</div>
{% endmacro %}

<!-- app-spinner component -->
<div class="app-guide-example" data-guide-title="SVG spinner">
    {{ appSpinner(spinnerName='svg-demo', typeOverride='svg', visibilityOverride=true) }}
</div>
<div class="app-guide-example" data-guide-title="GIF fallback spinner for browsers that do not support CSS animations">
    {{ appSpinner(spinnerName='gif-demo', typeOverride='gif', visibilityOverride=true) }}
</div>
<!-- /app-spinner component -->
