
.app-spinner {
    position: relative;
    display: none;

    &.is-visible {
        display: block;
    }

    &.keyframe-animation-supported {
        .svg-circular {
            display: block;
        }

        .gif-circular {
            display: none;
        }
    }

    .svg-circular {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        transform-origin: center center;
        animation: rotate 1250ms linear infinite;
        display: none;
    }

    .gif-circular {
        display: block;
    }

    .svg-circular,
    .gif-circular{
        width: 48px;
        height: 48px;
    }

    .path {
        stroke: $orange;
        stroke-linecap: round;
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
        animation:
            first-dash 1250ms linear 1,
            dash 1750ms $easeInOutQuint 1250ms infinite,
        ;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes first-dash {
        0% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: 35;
        }
        100% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124;
        }
    }
}


