.nieuwe-huis-overzicht-hero {
	height: 60vh;

	&:not(.nieuwe-huis-hero--no-img) {
		.nieuwe-huis-overzicht-hero__title {
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: calc(100% - 2em);
		}
	}

	&__title {
		$max-name-font-size: 40;
		font-size: fluid-typography(32, $max-name-font-size, $min-window-width, $max-window-width);
		line-height: 1.125;

		@media screen and (min-width: $bp-large) {
			font-size: #{$max-name-font-size}px;
		}

		small {
			font-weight: normal;
			display: block;
			font-size: 1rem;
			line-height: 1.5;
		}
	}
}
