{# The data-component="nieuwe-huis-overzicht-hero" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- nieuwe-huis-overzicht-hero component -->
<article class="nieuwe-huis-hero nieuwe-huis-overzicht-hero" data-component="nieuwe-huis-overzicht-hero" >
	<div class="nieuwe-huis-hero__content">
		<h1 class="nieuwe-huis-hero__title nieuwe-huis-overzicht-hero__title">
			't Höltje 69
			<small>5988 CB Helden</small>
		</h1>
	</div>
	<div class="nieuwe-huis-hero__image-wrapper">
		<img class="nieuwe-huis-hero__image" alt="" src="http://cloud.{client}.nl/342_1440x960.jpg" srcset="http://cloud.{client}.nl/342_1440x960.jpg 1440w, http://cloud.{client}.nl/342_180x120.jpg 180w, http://cloud.{client}.nl/342_360x240.jpg 360w, http://cloud.{client}.nl/342_720x480.jpg 720w, http://cloud.{client}.nl/342_1080x720.jpg 1080w, http://cloud.{client}.nl/342_2160x1440.jpg 2160w" sizes="100vw">
	</div>
</article>
<!-- /nieuwe-huis-overzicht-hero component -->
