

{% macro nieuweHuisKoppelenUspHello(
extraClass = "",
title = "Gefeliciteerd!",
paragraph = "Je hebt je nieuwe huis gevonden. Maar ook veel nieuwe vragen. Over zaken als financiering, verhuizen en adreswijzigingen. Koppel je aan je nieuwe huis en laat {client} je helpen! We hebben een eerste lichting handige handvatten en instrumenten voor elke stap die je vanaf nu gaat zetten."
) %}
<article class="nieuwe-huis-koppelen-usp {{ extraClass }}">
    <div class="nieuwe-huis-koppelen-usp__content">
		{% if title %}
		<h2>{{ title }}</h2>
		{% endif %}
        <p>{{ paragraph }}</p>
    </div>
</article>
{% endmacro %}

{% macro nieuweHuisKoppelenUsp(
	extraClass = "",
	type = "",
	icon = "icon-checklist",
	title = "Jouw <i>todo's</i>",
	description = "<p>Als iemand iets van verhuizen weet, dan zijn het de bezoekers van {client}. Uit hun ervaringen stelden wij de ultieme <i>todo’s</i> samen. Van hypotheekaanvraag tot huurbusje. Het staat allemaal in jouw persoonlijk overzicht.</p>",
	comingSoon = false
) %}

{% if type == "" %}
{{ nieuweHuisKoppelenUspHello( extraClass="usp-welcome" ) }}
{%- endif -%}

{% if type == "usp-content-left" %}
<article class="nieuwe-huis-koppelen-usp nieuwe-huis-koppelen-usp--left {{ extraClass }}">
	<div class="nieuwe-huis-koppelen-usp__content">
		<header class="nieuwe-huis-koppelen-usp__header">
			<div class="nieuwe-huis-koppelen-usp__icon">
				<span class="{{ icon }}"></span>
			</div>

			<h2 class="{% if comingSoon %}nieuwe-huis-koppelen-usp__tag{%- endif -%}">
				{% if comingSoon %}
				<span>Binnenkort</span>
				{%- endif -%}
				{{ title }}
			</h2>
		</header>
		<div class="nieuwe-huis-koppelen-usp__description">{{ description }}</div>
	</div>
</article>
{%- endif -%}

{% if type == "usp-content-right" %}
<article class="nieuwe-huis-koppelen-usp nieuwe-huis-koppelen-usp--right {{ extraClass }}">
	<div class="nieuwe-huis-koppelen-usp__content">
		<header class="nieuwe-huis-koppelen-usp__header">
			<div class="nieuwe-huis-koppelen-usp__icon">
				<span class="{{ icon }}"></span>
			</div>
			<h2 class="{% if comingSoon %}nieuwe-huis-koppelen-usp__tag{%- endif -%}">
				{% if comingSoon %}
					<span>Binnenkort</span>
				{%- endif -%}
				{{ title }}
			</h2>
		</header>
		<div class="nieuwe-huis-koppelen-usp__description">{{ description }}</div>
	</div>
</article>
{%- endif -%}

{% if type == "usp-img" %}
<article class="nieuwe-huis-koppelen-usp-footer {{ extraClass }}">
	<div class="nieuwe-huis-koppelen-usp-footer__content">
		<p>
			Burgemeester van Nispen van Sevenaerstraat 51
			<small>3512 LS Utrecht</small>
		</p>
		<input type="submit" class="button-primary-alternative" value="Koppel mij aan dit huis" data-cta-footer>
	</div>
	<img class="nieuwe-huis-koppelen-usp-footer__image" alt="" src="http://cloud.{client}.nl/342_1440x960.jpg" srcset="http://cloud.{client}.nl/342_1440x960.jpg 1440w, http://cloud.{client}.nl/342_180x120.jpg 180w, http://cloud.{client}.nl/342_360x240.jpg 360w, http://cloud.{client}.nl/342_720x480.jpg 720w, http://cloud.{client}.nl/342_1080x720.jpg 1080w, http://cloud.{client}.nl/342_2160x1440.jpg 2160w" sizes="100vw">
</article>
{%- endif -%}
{% endmacro %}
