@mixin pushContent($direction: 'left', $pxPush: 165px) {
	.nieuwe-huis-koppelen-usp__content {
		position: relative;
	}

	.nieuwe-huis-koppelen-usp__icon {
		$iconSize: 57px;
		float: left;
		margin-right: 1em;

		span {
			width: $iconSize;
			height: $iconSize;
		}
	}

	@media screen and (min-width: $bp-medium) {
		.nieuwe-huis-koppelen-usp__content {
			padding-#{$direction}: $pxPush;
		}

		.nieuwe-huis-koppelen-usp__icon {
			position: absolute;
			top: 0;
			#{$direction}: 0;

			span {
				display: inline-block;
				width: 100px;
				height: 100px;
			}
		}
	}
}

%bg--blue-light,
.bg--blue-light {
	background-color: $natural-blue;
}

%arrowBase {
	content: '';
	position: absolute;
	background-color: #fff;
	z-index: 3;
	display: block;
}

.nieuwe-huis-koppelen-usp {
	$bp-small-nieuwe-huis-koppelen: 596px;
	padding-top: 3em;
	padding-bottom: 3em;

	h2 {
		vertical-align: middle;
		display: inline-block;
		margin: 0;
		width: calc(100% - 73px);
		font-size: 1.25em;
		line-height: 1.4;

		@media screen and (min-width: $bp-medium) {
			width: 100%;
			font-size: 1.5em;
			line-height: 1.3;
		}
	}

	@at-root .nieuwe-huis-koppelen-hero:not(.nieuwe-huis-hero--no-img) + & {
		position: relative;
		&:before,
		&:after {
			@extend %arrowBase;
			top: -10px;
			padding-bottom: 15px;
			width: 50%;
		}

		&:before {
		  left: 0;
		  transform-origin: 100% 100%;
		  transform: skew(45deg);
		}

		&:after {
		  right: 15px;
		  transform-origin: 0 100%;
		  transform: skew(-45deg);
		}

		.nieuwe-huis-koppelen-usp__content {
			&:before {
				@extend %arrowBase;
				width: 15px;
				height: 15px;
				top: -10px;
				right: 0;
				background-color: #fff;
			}
		}

		// Discussed & decided to remove the arrow on > IE10
		@media all and (-ms-high-contrast:none) {
			&:before,
			&:after,
			.nieuwe-huis-koppelen-usp__content:before {
				display: none;
				*::-ms-backdrop { display: none; }
			}
		}
	}

	&__description {
		clear: both;
		padding-top: 0.5em;
	}

	&__content {
		max-width: $bp-small-nieuwe-huis-koppelen;
		margin: 0 auto;
		padding: 0 1em;

		p {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&__header {
		line-height: 57px; // Height of the icon
		overflow: hidden;

		@media screen and (min-width: $bp-medium) {
			line-height: 1;
		}
	}

	&__tag {
		padding-right: 5rem;
		position: relative;

		> span {
			background-color: $orange;
			color: #fff;
			font-weight: 600;
			font-size: 0.75rem;
			line-height: 1;
			padding: 0.375rem 0.6667rem 0.375rem;
			display: inline-block;
			vertical-align: middle;

			position: absolute;
			right: 0;
			top: 3px;

			@media screen and (min-width: $bp-medium) {
				margin-right: 1.3333rem;
				left: 0;
				right: auto;
			}
		}

		@media screen and (min-width: $bp-medium) {
			padding-right: 0;
			padding-left: 6rem;
		}
	}

	&--right {
		@include pushContent('left');
	}

	&--left {
		@include pushContent('right');
	}

	&--bg-blue {
		@extend %bg--blue-light;
	}

	&-footer {
		$bp-medium-cta-footer: 768px;
		height: 295px;
		max-width: $bp-medium-cta-footer;
		overflow: hidden;
		background-color: $grey-lightest;
		position: relative;
		margin: 3em auto;

		&:not(&--no-img) {
			@extend %HeroGradientLayer;
			&:before { opacity: 0.3; }

			& .nieuwe-huis-koppelen-usp-footer {
				&__image {
					width: 100%;
					height: 100%;
					vertical-align: middle;
					object-fit: cover;
				}

				&__content {
					color: #FFF;
					text-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
				}

				&__image {
					display: block;
				}
			}

			@media screen and (min-width: $bp-medium-cta-footer) {
				box-shadow: 0 2px 16px 0 rgba(0,0,0,0.25);
			}
		}

		&__image {
			display: none;
		}

		&__content {
			$max-p-font-size: 36;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $grey-darker;
			z-index: 1;
			width: 100%;
			padding: 0 1rem;
			margin: 0 auto;
			max-width: 480px;

			p {
				font-size: fluid-typography(20, $max-p-font-size, $min-window-width, $max-window-width);
				line-height: 1.2;
				text-align: left;
				font-weight: bold;
				margin: 0;
			}

			small {
				display: block;
				line-height: 1.4;
				$max-small-font-size: 20; //px
				font-size: fluid-typography(16, $max-small-font-size, $min-window-width, $max-window-width);
				@media screen and (min-width: $bp-large) {
					font-size: #{$max-small-font-size}px;
				}
			}

			a {
				font-size: 1rem;
				margin-top: 1.5rem;
				line-height: 1.625;
				text-shadow: none;
			}

			@media screen and (min-width: $bp-medium) {
				width: $bp-small-nieuwe-huis-koppelen;
				padding: 0;
				text-align: center;

				p {
					font-size: #{$max-p-font-size}px;
				}

				a {
					width: 19.5rem;
				}
			}
		}
	}
}
