.traffic-driver {
    padding-top: 1rem;
}

.traffic-driver-anchor {
    padding: .8rem;
    display: block;
    background: $natural-blue;

    &:hover,
    &:focus {
        color: $link-primary-color-hover;
    }

    @media screen and (min-width: $bp-small) {
        text-align: center;
    }
}

.traffic-driver-location {
    display: block;

    @media screen and (min-width: $bp-small) {
        display: inline;
    }
}
