{# The data-component="traffic-driver" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- traffic-driver component -->
<div class="traffic-driver">
    <a class="traffic-driver-anchor" href="path/to/nieuwbouw" data-component="traffic-driver">
        <span class="icon-arrow-right-blue"></span><b>23 nieuwbouwprojecten</b> in <span class="traffic-driver-location"><b>Amsterdam</b></span>
    </a>
</div>
<!-- /traffic-driver component -->
