<script>
    (function(){
        {% include "components/app-icons/app-icons.min.js" %}
        
        grunticon([
            '{{ paths.assets }}components/app-icons/icons.data.svg.css',
            '{{ paths.assets }}components/app-icons/icons.data.png.css',
            '{{ paths.assets }}components/app-icons/icons.fallback.css'
        ], grunticon.svgLoadedCORSCallback);
    }());
</script>
<noscript>
    <link rel="stylesheet" href='{{ paths.assets }}components/app-icons/icons.fallback.css'>
</noscript>
