{#
    This is only a preview partial for the style guide.
    The actual loader required to load the icon files is in `app-icons-loader.html`.
#}
{% set icons = [
    'icon-open-house-package',
    'icon-360',
    'icon-add-house',
    'icon-address',
    'icon-alert',
    'icon-arrow-backward',
    'icon-arrow-down-circle',
    'icon-arrow-down',
    'icon-arrow-downward',
    'icon-arrow-forward',
    'icon-arrow-left-circle',
    'icon-arrow-left',
    'icon-arrow-right-circle',
    'icon-arrow-right',
    'icon-arrow-up-circle',
    'icon-arrow-up',
    'icon-arrow-upward',
    'icon-avatar',
    'icon-box-stack',
    'icon-cadastral-map',
    'icon-calculator',
    'icon-calendar',
    'icon-certificate',
    'icon-channel-business',
    'icon-channel-landelijk',
    'icon-check',
    'icon-checklist',
    'icon-clock',
    'icon-close-circle',
    'icon-close',
    'icon-comment',
    'icon-content-platform',
    'icon-crown',
    'icon-door',
    'icon-document',
    'icon-download',
    'icon-error',
    'icon-external',
    'icon-facebook',
    'icon-filter',
    'icon-floorplan',
    'icon-for-sale',
    'icon-google-plus',
    'icon-heart-filled',
    'icon-heart',
    'icon-house',
    'icon-images',
    'icon-info',
    'icon-investor',
    'icon-key',
    'icon-linkedin',
    'icon-list-your-home',
    'icon-list',
    'icon-infospot',
    'icon-location',
    'icon-lock',
    'icon-logo-nvm',
    'icon-logo-vbo',
    'icon-logo-vgm',
    'icon-logo-vastgoed-pro',
    'icon-mail',
    'icon-megafono',
    'icon-minus',
    'icon-new-house',
    'icon-not-found-error',
    'icon-not-found-house',
    'icon-not-found-page',
    'icon-not-found',
    'icon-notes',
    'icon-overview',
    'icon-phone',
    'icon-pinterest',
    'icon-plus',
    'icon-printer',
    'icon-refresh',
    'icon-robot',
    'icon-search',
    'icon-share',
    'icon-sold',
    'icon-success',
    'icon-sort',
    'icon-star',
    'icon-stats-average',
    'icon-stats-bad',
    'icon-stats-good',
    'icon-sun',
    'icon-surface',
    'icon-thumbs-up',
    'icon-thumbs-down',
    'icon-twitter',
    'icon-user-menu',
    'icon-user',
    'icon-video',
    'icon-vr',
    'icon-warning',
    'icon-whatsapp'
] %}

<h2>Iconography</h2>
<ul class="app-guide-icons flat-list">
    {% for icon in icons %}
    <li title=".{{ icon }}">
        <span class="app-guide-icon {{ icon }}"></span>
        <span class="app-guide-info">.{{ icon }}</span>
    </li>
    {% endfor %}
</ul>

<style>
    .app-guide-swatches {
        display: block;
        width: 100%;
        float: left;
    }

    .app-guide-icons li{
        float: left;
        width: 20%;
        margin-bottom: 30px;
    }

    .app-guide-icon {
        display: block;
        margin: 0 auto 10px;
        width: 48px;
        height: 48px;
    }

    .app-guide-info {
        display: block;
        text-align: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 0.9em;
        white-space: nowrap;
    }
</style>
