[class*="icon-"] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    line-height: 1rem;
    // Make sure our very large fallback icons cover the element
    background-size: cover;
    &:before{
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}

.icon-search:before {
    content: "search";
}

.icon-close:before {
    content: "x";
}


