{% from "components/sticky-navigation/sticky-navigation.html" import stickyNavigation %}
{% from "components/notification/notification.html" import notification %}
<!-- tabs component: Dependant on sticky navigation -->
<form class="tabs" action="/" method="post" data-nieuwe-huis-checklist data-tabs data-component="tabs">
    {{ stickyNavigation(linkClassname="tabs__link", dataAttrForHandle="data-tabs-handle") }}

    {{ notification("Updated", notificationType = "notification-success is-removed", text="",textCancel = "Sluiten") }}
    {{ notification("Oops", notificationType = "notification-error is-removed", text="",textCancel = "Sluiten") }}

    <div id="oriëntatie" class="tabs__target active" data-tabs-target>
        <article class="nieuwe-huis-page-checklist">
            <h2 class="nieuwe-huis-page-checklist__title">
                Taken
            </h2>
            <ul class="flat-list nieuwe-huis-checklist__flat-list">
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Inlezen over hypotheken</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Keuze maken uit eigen bank, adviseur of zelf doen</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Hypotheekadviseur zoeken en afspraak maken</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Oriënterend gesprek met hypotheekadviseur</span>
                    </label>
                </li>
            </ul>
        </article>

        <article class="nieuwe-huis-page-checklist">
            <h2 class="nieuwe-huis-page-checklist__title">
                Documenten
            </h2>
            <ul class="flat-list nieuwe-huis-checklist__flat-list">
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Kopie(ën) paspoort(en)</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Huwelijksvoorwaarden</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Originele werkgeversverklaring</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox">
                        <span class="label-text">Intentieverklaring bij bepaalde tijd</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Recente salarisstook</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Pensioengegevens</span>
                    </label>
                </li>
            </ul>
        </article>
    </div>

    <div id="vergelijken" class="tabs__target" data-tabs-target>
        <article class="nieuwe-huis-page-checklist">
            <h2 class="nieuwe-huis-page-checklist__title">
                Taken
            </h2>
            <ul class="flat-list nieuwe-huis-checklist__flat-list">
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Aanvullende documenten verzamelen</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Keuze soort hypotheek maken (annuïteit of linair)</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Hypotheek offerte(s) ontvangen</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Hypotheekofferte(s) met hypotheekadviseur bespreken</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Verschillen per offerte vergelijken</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Gekozen hypotheekofferte tekenen</span>
                    </label>
                </li>
            </ul>
        </article>
    </div>

    <div id="aanvragen" class="tabs__target" data-tabs-target>
        <article class="nieuwe-huis-page-checklist">
            <h2 class="nieuwe-huis-page-checklist__title">
                Taken
            </h2>
            <ul class="flat-list nieuwe-huis-checklist__flat-list">
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Documenten verzamelen voor de hypotheekverstrekker</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Overlijdensrisicoverzekering afsluiten</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Notaris zoeken en inhuren</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Afspraak notaris maken voor overdracht</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Taxateur vinden en bezoek inplannen</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Akte in alle rust doornemen</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Akte tekenen en sleutel ontvangen</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Je nieuwe huis bezoeken!</span>
                    </label>
                </li>
            </ul>
        </article>

        <article class="nieuwe-huis-page-checklist">
            <h2 class="nieuwe-huis-page-checklist__title">
                Documenten
            </h2>
            <ul class="flat-list nieuwe-huis-checklist__flat-list">
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Aangifte inkomstenbelasting</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Afschrift(en) spaarrekening(en)</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Rekeningoverzicht beleggingsrekening(en)</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Gezondheidsverklaring</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Polisblad van alle verzekeringen</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Opgave(n) van lening(en)</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">DUO (oorspronkelijke studieschuld)</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">(Voorlopige) verkoopovereenkomst</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Courtage verkoopmakelaar</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">WOZ-waarde huidige woning</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Actueel hypotheekoverzicht</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Oorspronkelijke hypotheekofferte</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">(Voorlopige) koopovereenkomst</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Courtage koopmakelaar</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">Taxatierapport</span>
                    </label>
                </li>
                <li>
                    <label class="nieuwe-huis-checklist__task">
                        <input class="custom-checkbox nieuwe-huis-checklist__checkbox" type="checkbox" data-nieuwe-huis-checklist-checkbox>
                        <span class="label-text">WOZ-waarde nieuwe woning</span>
                    </label>
                </li>
            </ul>
        </article>
    </div>
</form>
<!-- /tabs component -->