.tabs {
    %activeState {
        background: $blue;
        color: #FFF;
    }

    &__target {
        opacity: 0;
        z-index: -1;
        overflow: hidden;
        height: 0;
        transition: opacity 0.5s;
        &.active {
            opacity: 1;
            z-index: 1;
            overflow: visible;
            height: auto;
            outline: none;
            transition: opacity 0.5s;
            min-height: 50vh;
        }
    }

    &__link {
        margin: 1rem 0;
        display: inline-block;
        line-height: 44px;
        padding: 0 0.25rem;
        border-radius: 2px;
        color: $grey;
        font-weight: 600;

        @media screen and (min-width: $bp-small) {
           padding: 0 0.75rem;
        }

        &:hover,
        &.active {
            @extend %activeState;
        }
    }
}
