{# The data-component="nieuwe-huis-page-checklist" is only for highlighting in previews. Don't implement this in Razor. #}

<!-- nieuwe-huis-page-checklist component -->
<div class="container container--nieuwe-huis"  data-component="nieuwe-huis-page-checklist">
	<header class="nieuwe-huis-page-checklist--header">
		<h2>Hypotheek checklist</h2>
		<p>Een goede voorbereiding is het halve werk. Hieronder staat een compleet overzicht van alle taken die je moet doorlopen voor een hypotheekaanvraag. Orienteer je op de mogelijkheden, maak een goede vergelijking tussen offertes en rond de aanvraag uiteindelijk af bij de notaris. Succes!</p>
	</header>

	{% include "components/tabs/tabs.html" %}
</div>
<!-- /nieuwe-huis-page-checklist component -->
