.container--nieuwe-huis {
	max-width: 848px;
	padding: 2rem 1rem 1rem;
}

.nieuwe-huis-page-checklist {
	margin-bottom: 2rem;

	h2 {
		font-size: 1.25rem;
		line-height: 1.4;
		margin: 1rem 0 0.5rem;
	}

	&__title {
		.icon {
			width: 28px;
			height: 28px;
			margin: 0 0.75rem 0 0.4375rem;
		}
	}

	&--header {
		padding: 1.5rem;
		background: #FFF;
		h2 {
			font-size: 1.5rem;
			line-height: 1.33;
			margin: 0;
		}

		p {
			margin: 1rem 0 0;
		}
	}
}