
.custom-select-box {
    width: 100%;
    height: 2.75rem;
    cursor: pointer;

    * {
        // Text select disable
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }

    .js & {
        background-color: #fff;

        .no-js-fallback-select {
            display: none;
        }

        .selected-option {
            display: block;
        }
    }

    .custom-select-icon {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 8px;
        bottom: 10px;
        z-index: 2;
        pointer-events: none;
    }

    select.custom-select {
        box-shadow: none;
    }

    .no-js-fallback-select {
        border: 1px solid white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:focus {
            border: 1px solid $brand-bright-blue;
        }
    }

    .selected-option {
        width: 100%;
        height: 2.75rem;
        line-height: 2.75rem;
        border: none;
        padding: 0 1.5rem;
        cursor: pointer;
        position: relative;
        display: none;
    }

    .selectbox-list-container {
        display: none;
    }

    &.is-open .selectbox-list-container {
        display: block;
        z-index: 9999;
        position: absolute;
        right: 0;
        left: 0;
    }

    .selectbox-list {
        border: 1px solid #EDEDED;
        max-height: 300px;
        overflow-y: scroll;
        list-style: none;
        padding-left: 0;
        background-color: #fff;

        & .is-selected {
            background-color: $natural-blue;
        }
    }

    .selectbox-option {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.75rem 1.5rem;
        position: relative;
        border-top: 1px solid $natural-blue;

        &:first-of-type {
            border-top: none;
        }

        &:hover {
            background-color: $natural-blue;
            cursor: pointer;
        }

        &.no-results {
            color: #ccc;
        }
    }

    .selectbox-label {
        font-weight: 500;
    }

    .selectbox-option-count {
        color: #ccc;
        position: absolute;
        top: 0;
        line-height: 46px;
        right: 3rem;
        width: 3rem;
        vertical-align: middle;
        margin-top: 0;
        margin-right: -2rem;
        text-align: right;
        font-size: 0.9em;
    }
}
