{# The data-component="custom-select-box" is only for highlighting in previews. Don't implement this in Razor. #}

{% macro customSelectBox(query = '') %}
<div class="custom-select-box"
     data-custom-select-box
     data-component="custom-select-box"
     data-request-url="../../stubs/components/custom-select-box/countries.json">
    <label for="dropdown-nojs" class="a11y-sr-only">Countries</label>
    <select class="no-js-fallback-select custom-select" name="filter_Geo" id="dropdown-nojs" autocomplete="off" data-instant-search-handle/>
        <option value="heel-europa" selected="selected">All countries</option>
    </select>
    <span class="icon-arrow-down-blue custom-select-icon" data-grunticon-embed></span>
    <div class="selected-option" data-selected-option></div>
    <div class="selectbox-list-container">
        <ul role="listbox" class="selectbox-list" data-selectbox-list></ul>
    </div>
</div>
{% endmacro %}

<div class="app-guide-example" data-guide-title="That's a custom selectbox example">
    {{ customSelectBox() }}
</div>
