{# The data-component="cms-article-aside-steps" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- cms-article-aside-steps component -->
<div class="cms-article-aside-steps" data-component="cms-article-aside-steps">
    <h2 class="cms-article-aside-title">Lees verder</h2>
    <ul class="cms-article-aside-lists">
    	<li><a href="#">De wens</a></li>
    	<li><a href="#">Wat kan er?</a></li>
    	<li><a href="#">Snuffelen</a></li>
    	<li><a href="#">Bezichtiging</a></li>
    	<li><a href="#">Hypotheekcheck</a></li>
    	<li><a href="#">Realitycheck</a></li>
    	<li><a href="#">Aankopend makelaar</a></li>
    	<li><a href="#">Onderhandelen</a></li>
    	<li><a href="#">Afronding</a></li>
    	<li><a href="#">Feest</a></li>
    </ul>
</div>
<!-- /cms-article-aside-steps component -->