.cms-article-aside-title {
	font-size: 1rem;
	margin: 0 0 1em -1px;

	@media screen and (min-width: $bp-large) {
		margin-top: 1rem;
		font-size: 1.25rem;
		line-height: 1;
	}
}

.cms-article-aside-lists {
	list-style: none;
	padding: 0;

	li {
		margin-top: 0.5em;
	}
}