{% from "components/notification/notification.html" import notification %}

<!-- nieuwe-huis-checklist component -->
{% macro nieuweHuisChecklist(started = true) %}
<form class="nieuwe-huis-widget nieuwe-huis-widget-checklist" action="/" method="post" data-nieuwe-huis-checklist data-component="nieuwe-huis-widget-checklist">
    <h2 class="nieuwe-huis-widget__title">Hypotheek checklist</h2>

    {% if started -%}
        <a href="/path/to/checklist/page" class="nieuwe-huis-widget-checklist__counter">55</a>
        <div class="nieuwe-huis-widget-checklist__last-state">
            <p class="nieuwe-huis-widget-checklist__last-state__task">Inlezen over hypotheken</p>
            <small class="nieuwe-huis-widget-checklist__last-state__category">Oriëntatie</small>
        </div>
    {% else %}
        <div class="nieuwe-huis-widget-checklist__imgwrapper">
            <img src="../../assets/components/nieuwe-huis-checklist/images/checklist.svg" alt="Checklist" class="nieuwe-huis-widget-checklist__imgwrapper__img">
        </div>
        <p class="nieuwe-huis-widget-checklist__text">De hypotheek checklist helpt je overzicht te houden in alle taken en de nodige documenten.</p>
    {%- endif %}

    <footer class="nieuwe-huis-widget__footer">
        <a href="/path/to/checklist/page" class="nieuwe-huis-widget__cta">
            {% if started -%}
                Naar de volgende taak
            {% else %}
                Bekijk al jouw taken
            {%- endif %}
        </a>
    </footer>
</form>
{% endmacro %}
<!-- /nieuwe-huis-checklist component -->

<div class="app-guide-example" data-guide-title="Started Nieuwe huis checklist component">
    {{ nieuweHuisChecklist() }}
</div>

<div class="app-guide-example" data-guide-title="Introduction Nieuwe huis checklist component">
    {{ nieuweHuisChecklist(started = false) }}
</div>