.nieuwe-huis-checklist {
    &__flat-list {
        background: white;
        > li:not(:last-child) .nieuwe-huis-checklist__task {
            box-shadow: inset 0 -1px 0 0 #EDEDED;
        }
    }

    &__task {
        padding: 1rem 1.5rem 1rem 0;
        margin-left: 3.5rem;
        display: block;
        cursor: pointer;

        &.success {
            .nieuwe-huis-checklist__checkbox:not(.lower-than-ie9) {
                &:checked ~ .label-text {
                    position: relative;
                    text-decoration: line-through;

                    &:before {
                        top: 9px;
                        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%3Ctitle%20fill%3D%22%23FFFFFF%22%3Echeck.colors-blue-green-orange%3C%2Ftitle%3E%3Cpath%20d%3D%22M41%2012.9a1.5%201.5%200%200%200-2.12%200L18%2033.76l-8.13-8.13a1.5%201.5%200%200%200-2.12%202.12l9.19%209.19a1.5%201.5%200%200%200%202.12%200L41%2015a1.5%201.5%200%200%200%200-2.1z%22%20fill%3D%22%23FFFFFF%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
                        background-color: $blue;
                        border: 2px solid $blue;
                    }
                }
            }
        }

        &.error {
            .nieuwe-huis-checklist__checkbox:not(.lower-than-ie9) {
                &:checked ~ .label-text:before {
                    background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%3Ctitle%20fill%3D%22%23F03C30%22%3Einfo.colors-white-greyDark-grey-blue-blueBrand%3C%2Ftitle%3E%3Crect%20x%3D%2222.5%22%20y%3D%2218%22%20width%3D%223%22%20height%3D%2217%22%20rx%3D%221.5%22%20ry%3D%221.5%22%20fill%3D%22%23F03C30%22%3E%3C%2Frect%3E%3Cpath%20d%3D%22M24%2016a1.5%201.5%200%200%200%200-3%201.5%201.5%200%200%200%200%203z%22%20fill%3D%22%23F03C30%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M24%204a20%2020%200%201%200%2020%2020A20%2020%200%200%200%2024%204zm0%2037a17%2017%200%201%201%2017-17%2017%2017%200%200%201-17%2017z%22%20fill%3D%22%23F03C30%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
                    text-align: center;
                    background-color: white;
                    background-size: cover;
                    border: none;
                    width: 26px;
                    height: 26px;
                    left: -42px;
                    top: 14px;
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__checkbox:not(.lower-than-ie9) ~ .label-text:before {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        position: absolute;
        top: 27px;
        left: -40px;
        transform: translateY(-50%);
    }

    &__checkbox:not(.lower-than-ie9) {
        &:checked ~ .label-text:before {
            background-image: none;
        }

        &:hover {
            ~ .label-text:before {
                border: 2px solid $blue;
            }
        }

        &:focus {
            ~ .label-text {
                color: $grey-darker;
                &:before {
                    border: 1px solid $blue;
                }
            }
            &:hover {
                ~ .label-text:before {
                    border: 2px solid $blue;
                }
            }
        }
    }
}

.nieuwe-huis-widget-checklist {
    position: relative;
    &__text {
        padding: 1.5rem 1.5rem 1rem;
    }
    &__counter {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        display: inline-block;
        background: $orange;
        color: white;
        padding: 0 10px;
        border-radius: 20px;
        transition: background-color 0.2s;

        &:hover {
            background-color: $orange-dark;
            color: white;
        }
    }
    &__last-state {
        padding: 0 1.5rem 1rem 3.5rem;
        color: $grey-dark;

        &__task { text-decoration: line-through; }

        &:before {
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 1.5rem;
            content: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%3Ctitle%20fill%3D%22%23666666%22%3Echeck.colors-blue-green-orange%3C%2Ftitle%3E%3Cpath%20d%3D%22M41%2012.9a1.5%201.5%200%200%200-2.12%200L18%2033.76l-8.13-8.13a1.5%201.5%200%200%200-2.12%202.12l9.19%209.19a1.5%201.5%200%200%200%202.12%200L41%2015a1.5%201.5%200%200%200%200-2.1z%22%20fill%3D%22%23666666%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        }

        &__category {
            font-size: 0.75rem;
            text-decoration: none;
            display: block;
            line-height: 1.5;
        }
    }
    &__imgwrapper {
        text-align: center;
        position: relative;

        &__img {
            position: relative;
            z-index: 2;
        }

        &:before,
        &:after {
            content: '';
            width: 50%;
            background-color: #DEE57B;
            position: absolute;
            z-index: 1;
        }
        &:before {
            top: 68px;
            height: 78px;
            left: -7px;
            border-radius: 6px 0 0 6px;
        }
        &:after {
            bottom: 7px;
            right: -7px;
            height: 62px;
            border-radius: 0 6px 6px 0;
        }
    }
}

