.performance-indicator {
    min-height: 3.125rem;
    padding: 2rem 0;

    @each $type, $icon-color, $body-color in $performance-indicator-colors {
        &.#{$type} {
            .performance-indicator-icon { background-color: $icon-color; }

            .performance-indicator-body { background-color: $body-color; }
        }
    }

    .performance-indicator-icon {
        background-position: center center;
        background-size: 1rem;
        border-radius: 50%;
        display: inline-block;
        height: 1.5rem;
        left: 1rem;
        position: absolute;
        top: 2.875rem;
        width: 1.5rem;
    }

    .performance-indicator-body {
        line-height: 2.125rem;
        padding: 0.5rem 0.5rem 0.5rem 3.5rem;

        p {
            display: inline-block;
            line-height: normal;
            margin: 0;
            padding: 0;
            vertical-align: middle;
        }
    }
}
