{# The data-component="performance-indicator" is only for highlighting in previews. Don't implement this in Razor. #}
{% macro performanceIndicator(
    type,
    iconClass,
    sentenceText="Ten op zichte van concurrende huizen presteert jouw huis:",
    typeText="gemiddeld",
    linkUrl="/path/to/suggestions/",
    linkText="Bekijk suggesties voor verveteringen."
) %}
<!-- performance-indicator component -->
<div class="container color-break performance-indicator {{type}}" data-component="performance-indicator">
    <span class="performance-indicator-icon  {{iconClass}}"></span>
    <div class="performance-indicator-body">
        <p>{{sentenceText}} <strong>{{typeText}}</strong>. <a href="{{linkUrl}}">{{linkText}}</a></p>
    </div>
</div>
<!-- /performance-indicator component -->
{% endmacro %}

{# examples #}
<div class="app-guide-example" data-guide-title="Awesome performance">
    {{ performanceIndicator(type="excellent", iconClass="icon-crown-white") }}
</div>
<div class="app-guide-example" data-guide-title="Good performance">
    {{ performanceIndicator(type="good", iconClass="icon-stats-good-white") }}
</div>
<div class="app-guide-example" data-guide-title="Average performance">
    {{ performanceIndicator(type="average", iconClass="icon-stats-average-white") }}
</div>
<div class="app-guide-example" data-guide-title="Performance needs to improve">
    {{ performanceIndicator(type="improvable", iconClass="icon-stats-bad-white") }}
</div>
{# /examples #}
