.maandlasten-indicator {
    $bp-mortgage: 643px;
    $width-mortgage-frame: 611px;

    max-width: $width-mortgage-frame;
    min-height: 12.5rem;
    margin: 1rem 0;

    iframe {
        height: 600px;
    }

    @media screen and (min-width: $bp-mortgage) {
        margin: 1.5rem 0 0;
        min-height: 43.75rem;

        iframe {
            height: 700px;
        }
    }
}
