{# The data-component="cms-article-aside-thumbs" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- cms-article-aside-thumbs component -->
<div class="cms-featured-narrow cms-article-aside-thumbs" data-component="cms-article-aside-thumbs">
	<h2 class="h4">Meer over dit onderwerp</h2>
    <ul class="cms-featured-lists">
        <li class="cms-featured-list">
            <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/de-nationale-hypotheek-garantie/"
                class="trafficdriver-mli-link mli-link-1">
                <div class="cms-featured-list-img">
                    <img
                    	src="/assets/components/cms-article-aside-thumbs/images/de-nationale-hypotheek-garantie-80x56.jpg"
                    	srcset="/assets/components/cms-article-aside-thumbs/images/de-nationale-hypotheek-garantie-80x56.jpg 1x, /assets/components/cms-article-aside-thumbs/images/de-nationale-hypotheek-garantie-160x112.jpg 2x"
                    	>
                </div>
                <h3 class="cms-featured-list-title">De Nationale Hypotheek Garantie</h3>
            </a>
        </li>
        <li class="cms-featured-list">
            <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/hypotheek-voor-starters/"
                class="trafficdriver-mli-link mli-link-2">
                <div class="cms-featured-list-img">
                    <img
                    	src="/assets/components/cms-article-aside-thumbs/images/hypotheek-starters-80x56.jpg"
                    	srcset="/assets/components/cms-article-aside-thumbs/images/hypotheek-starters-80x56.jpg 1x, /assets/components/cms-article-aside-thumbs/images/hypotheek-starters-160x112.jpg 2x"
                    	>
                </div>
                <h3 class="cms-featured-list-title">Hypotheek voor starters</h3>
            </a>
        </li>
        <li class="cms-featured-list">
            <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/in-10-minuten-weten-wat-je-kan-bieden/"
                class="trafficdriver-mli-link mli-link-3">
                <div class="cms-featured-list-img">
                    <img
                    	src="/assets/components/cms-article-aside-thumbs/images/in-10-minuten-weten-wat-je-kan-bieden-80x56.jpg"
                    	srcset="/assets/components/cms-article-aside-thumbs/images/in-10-minuten-weten-wat-je-kan-bieden-80x56.jpg 1x, /assets/components/cms-article-aside-thumbs/images/in-10-minuten-weten-wat-je-kan-bieden-160x112.jpg 2x">
                </div>
                <h3 class="cms-featured-list-title">In 10 minuten weten wat je kan bieden</h3>
            </a>
        </li>
        <li class="cms-featured-list">
            <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/waarvoor-kies-je-annuiteiten-of-lineaire-hypotheek/"
                class="trafficdriver-mli-link mli-link-4">
                <div class="cms-featured-list-img">
                    <img
                    	src="/assets/components/cms-article-aside-thumbs/images/annuiteiten-of-lineaire-hypotheek-80x56.jpg"
                    	srcset="/assets/components/cms-article-aside-thumbs/images/annuiteiten-of-lineaire-hypotheek-80x56.jpg 1x, /assets/components/cms-article-aside-thumbs/images/annuiteiten-of-lineaire-hypotheek-160x112.jpg 2x">
                </div>
                <h3 class="cms-featured-list-title">Waarvoor kies je: annuïteiten of lineaire hypotheek?</h3>
            </a>
        </li>
        <li class="cms-featured-list">
            <a title ="Oversluiten: ja/nee?" href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheekcheck/oversluiten-janee/"
                class="trafficdriver-mli-link mli-link-5">
                <div class="cms-featured-list-img">
                    <img
                    	src="/assets/components/cms-article-aside-thumbs/images/oversluiten-janee-80x56.jpg"
                    	srcset="/assets/components/cms-article-aside-thumbs/images/oversluiten-janee-80x56.jpg 1x, /assets/components/cms-article-aside-thumbs/images/oversluiten-janee-160x112.jpg 2x">
                </div>
                <h3 class="cms-featured-list-title">Oversluiten: ja/nee?</h3>
            </a>
        </li>
    </ul>
    <a href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/hypotheek/" class="cms-article-aside-thumbs__mortgage trafficdriver-mli-link mli-link-6">
    	<span class="icon-arrow-right-blue"></span>
    	Alles over hypotheken
    </a>
</div>
<!-- /cms-article-aside-thumbs component -->
