.cms-article-aside-thumbs {
	.cms-featured-list {
		&-title { font-weight: 400; }
		@media screen and (min-width: $bp-medium) {
			&:first-child,
			&:last-child {
				padding: 0.5em 0;
			}
		}
		@media screen and (min-width: $bp-large) {
			&:first-child { padding-top: 0; }
			&:last-child { padding-bottom: 0; }
		}
	}
	@media screen and (min-width: $bp-medium) { padding-left: 0; }
}

.cms-article-aside-thumbs__mortgage {
    display: block;
    padding: 1em 0;
    border-top: solid 1px $grey-lighter;

    .icon-arrow-right-blue { margin-right: 0; }
    @media screen and (min-width: $bp-large) { margin-top: 0.5em; }
}