{# The data-component="sticky-navigation" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- sticky-navigation component -->
{% macro stickyNavigation(
    linkClassname="",
    activeClassname="active",
    dataAttrForHandle=""
) %}
<nav class="sticky-navigation-wrapper" data-component="sticky-navigation" data-sticky-navigation>
    <div class="sticky-navigation" data-sticky-navigation-links>
        <a href="#oriëntatie" class="{{ linkClassname }} {{ activeClassname }}" {{ dataAttrForHandle }}>Oriëntatie</a>
        <a href="#vergelijken" class="{{ linkClassname }}" {{ dataAttrForHandle }}>Vergelijken</a>
        <a href="#aanvragen" class="{{ linkClassname }}" {{ dataAttrForHandle }}>Aanvragen</a>
    </div>
</nav>
{% endmacro %}
<!-- /sticky-navigation component -->

<div class="app-guide-example" data-guide-title="Sticky navigation example">
    {{ stickyNavigation(linkClassname="tabs__link") }}
</div>