.sticky-navigation {
    height: 76px;
    overflow: hidden;

    &__link {
        &.active {
            background: $blue;
            color: #FFF;
        }
    }

    &.sticky {
        position: fixed;
        z-index: 9999;
        background: $natural-blue;
        top: 0;
    }
}
