{% macro cookiePolicy() %}
    <aside class="cookie-policy"
        {# The data-component="cookie-policy" is only for highlighting in previews. Don't implement this in Razor. #}
           data-component="cookie-policy"
           data-cookie-policy
           data-cookie-policy-version=2>
        <div class='cookie-bar-content' data-cookie-toggle>
            <h4>{client} maakt gebruik van cookies</h4>
            <p>
                Op onze {client} websites maken we gebruik van cookies en daarmee vergelijkbare technieken.
            <span class="cookie-target-expand" data-cookie-target>
                Die we voor het gemak allemaal even onder de noemer cookies schuiven.
                We gebruiken zowel functionele als analytische cookies die voor een optimale gebruikerservaring zorgen. Ook goed om te weten: {client} en derde partijen plaatsen tracking cookies om advertenties af te stemmen op jouw voorkeuren. Door middel van deze tracking cookies kan dan ook je internetgedrag worden gevolgd.
                <span>Mee eens? Door deze melding te sluiten, of door gebruik te blijven maken van onze website weten we dat je hiermee akkoord gaat. Heb je behoefte aan meer informatie, of lees je graag alles over cookies?
                    <a href="/cookiebeleid/" data-cookie-policy-ignore>Sla dan ons cookiebeleid er eens op na.</a>
                </span>
            </span>
            </p>
            <a href="#" class="cookie-trigger-expand" data-cookie-trigger data-cookie-policy-ignore>+ Lees Meer</a>
            <div class="cookie-policy-buttons">
                <button type="button">
                    <span class="cookie-policy-button-text">Sluit melding</span>
                </button>
            </div>
        </div>
    </aside>
{% endmacro %}

<div class="app-guide-example" data-guide-title="Cookie policy">
    {{ cookiePolicy() }}
</div>
