@media screen and (min-width: $bp-large) {
    aside.is-acceptable ~ header.app-header.is-sticky {
        top: 219px;
    }
    aside.is-accepted ~ header.app-header.is-sticky {
        top: 0px;
    }
    aside.is-acceptable ~ main div.zoek-op-kaart {
            margin-top: 271px;    
    }
    aside.is-accepted ~ main div.zoek-op-kaart {
            margin-top: 52px;    
    }
    aside.is-acceptable ~ main div div div.zoek-op-kaart__map {
            top: 271px;    
    }
    aside.is-accepted ~ main div div div.zoek-op-kaart__map {
            top: 52px;    
    }
}
.cookie-policy {
    width: 100%;
    display: none;
    background-color: white;
    color: black;
    z-index: 9999;
    text-align: justify;
    position: relative;

    @media screen and (min-width: $bp-large) {
        &.is-sticky {
            position: fixed;
            top: 0px;
        }
    }

    &.is-acceptable {
        display: block;
    }

    &.is-accepted {
        height: 0;
        opacity: 0;
        z-index: -1;
    }

    > * {
        vertical-align: middle;
    }

    a {
        font-weight: bold;
        &:hover { color: $brand-bright-blue; }
    }

    p, button {
        font-size: 0.875em;
    }

    p {
       margin-bottom: 0;
       line-height: 1.4em;
    }

}

.cookie-bar-content {
    padding: 1em;

    h4 {
        margin: 0;
    }
    @media screen and (min-width: $bp-large) {
        max-width: 984px;
        margin: 0 auto;
        padding: 1.5em 200px 1.5em 0;
        position:relative;
    }

}
.cookie-policy-buttons {
    button {
        width: 100%;
        background-color: $brand-green;
        transition: background 0.2s;
        outline: none;
        padding: 10px 30px;
        color:white;
        margin-top: 0.5em;

        &:active,
        &:hover {
            background: $brand-green;
            color: white;
        }
    }

    @media screen and (min-width: $bp-large) {
        width: auto;
        text-align: right;
        vertical-align: top;
        position: absolute;
        bottom: 1.8125em;
        right: 0;
    }
}

.cookie-trigger-expand {
    display: block;
    @media screen and (min-width: $bp-large) {
        display: none;
    }
}

.cookie-target-expand {
    > span {
        display: block;
        margin-top: 1em;
    }

    &.hidden {
        display: none;
        @media screen and (min-width: $bp-large) {
            display: inline;
        }
    }
}
