$native-ad-blue: #3888C5;
$native-ad-blue-hover: #275F89;
$native-ad-grey: #333;
$native-ad-grey-tag: #ccc;
$native-ad-grey-light: #ededed;
$bp-large-native-sponsorblock: 648px;
$bp-medium-native-sponsorblock: 484px;
$base-font-native-sponsorblock: 16px;

@function rem($pixel, $base-font: $base-font-native-sponsorblock){
  @return $pixel / $base-font + rem;
}

@-webkit-keyframes nativeAdFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes nativeAdFadeIn {
	from { opacity:0; }
	to { opacity:1 }
}

@keyframes nativeAdFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

// the font url will diverge from font url used in {client} static, causing the files to be downloaded twice
// (once in the context of the website, once in the context of the iframe). In the future we can prevent
// this by applying a cachebuster strategy.
// TODO - update url of font
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_725/assets/components/app-fonts/proximanova-regular.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_725/assets/components/app-fonts/proximanova-regular.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_725/assets/components/app-fonts/proximanova-regular.ttf') format('truetype')
}

@font-face{
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_725/assets/components/app-fonts/proximanova-semibold.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_725/assets/components/app-fonts/proximanova-semibold.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_725/assets/components/app-fonts/proximanova-semibold.ttf') format('truetype')
}

.native-sponsorblock {
	border-top: solid 1px $native-ad-grey-light;
	border-bottom: solid 1px $native-ad-grey-light;
	padding-top: rem(16px);
	padding-bottom: rem(16px);
	font-family: 'Proxima Nova','Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;
	margin: 0;
	width: 100%;
	display: table;
	color: $native-ad-grey;
	text-decoration: none;
	opacity: 0;
	position: relative;

	animation: nativeAdFadeIn ease-in 1;
	-webkit-animation: nativeAdFadeIn ease-in 1;
	-moz-animation: nativeAdFadeIn ease-in 1;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;

	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;

	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;

	&:hover { color: $native-ad-grey; }

	p { margin: 0; }

    &__title {
    	font-size: rem(20px);
    	font-weight: 600;
    	line-height: 1.4;
    	margin: 0 0 0.5rem;
    	color: $native-ad-grey;
    }

    &__cta {
			position: relative;
			padding-right: rem(10px);
			display: inline-block;
			color: $native-ad-blue;

			&:hover {
				color: $native-ad-blue-hover;
			}

			&:after {
				content: "❯";
				position: absolute;
				top: 50%;
				right: 0;
				font-size: rem(11px);
				line-height: 1;
				margin-top: rem(-4px);
			}

			&--external {
				padding-right: rem(20px);
				&:after {
					content: "";
					background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2048%2048%22%3E%3Csymbol%20id%3D%22e%22%20viewBox%3D%220%20-48%2048%2048%22%20fill%3D%22%230071B3%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200v-48h48V0z%22%3E%3C%2Fpath%3E%3C%2Fsymbol%3E%3Csymbol%20id%3D%22f%22%20viewBox%3D%22-0.0002%20-48%2048.0002%2048.0002%22%20fill%3D%22%230071B3%22%3E%3Cdefs%20fill%3D%22%230071B3%22%3E%3Cpath%20id%3D%22a%22%20d%3D%22M48-48H0V0h48z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%20fill%3D%22%230071B3%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%20fill%3D%22%230071B3%22%3E%3C%2Fuse%3E%3C%2FclipPath%3E%3Cg%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%230071B3%22%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%230071B3%22%20stroke-width%3D%22.25%22%20stroke-miterlimit%3D%2210%22%3E%3Cpath%20d%3D%22M2-48V0M4-48V0M6-48V0M8-48V0M10-48V0M12-48V0M14-48V0M16-48V0M18-48V0M20-48V0M22-48V0M24-48V0M26-48V0M28-48V0M30-48V0M32-48V0M34-48V0M36-48V0M38-48V0M40-48V0M42-48V0M44-48V0M46-48V0%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%230071B3%22%20stroke-width%3D%22.25%22%20stroke-miterlimit%3D%2210%22%3E%3Cpath%20d%3D%22M0-2h48M0-4h48M0-6h48M0-8h48M0-10h48M0-12h48M0-14h48M0-16h48M0-18h48M0-20h48M0-22h48M0-24h48M0-26h48M0-28h48M0-30h48M0-32h48M0-34h48M0-36h48M0-38h48M0-40h48M0-42h48M0-44h48M0-46h48%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cpath%20d%3D%22M47.75-.25v-47.5H.25v47.5h47.5M48%200H0v-48h48V0z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsymbol%3E%3Csymbol%20id%3D%22g%22%20viewBox%3D%22-0.0002%20-48.0001%2048.0002%2048.0001%22%20fill%3D%22%230071B3%22%3E%3Cg%20opacity%3D%22.4%22%20fill%3D%22%230071B3%22%3E%3Cdefs%20fill%3D%22%230071B3%22%3E%3Cpath%20id%3D%22c%22%20opacity%3D%22.4%22%20d%3D%22M0-48V0h48v-48z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22d%22%20fill%3D%22%230071B3%22%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20overflow%3D%22visible%22%20fill%3D%22%230071B3%22%3E%3C%2Fuse%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%230071B3%22%20stroke-width%3D%22.25%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M24%200v-48M48-24H0M48-16H0M48-32H0M32-48V0M16-48V0M47.75-.25L.25-47.75M.25-.25l47.5-47.5M24-14c-5.522%200-10-4.477-10-10%200-5.522%204.478-10%2010-10%205.523%200%2010%204.478%2010%2010%200%205.523-4.477%2010-10%2010z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M24-4C12.946-4%204-12.947%204-24s8.946-20%2020-20c11.053%200%2020%208.947%2020%2020S35.052-4%2024-4z%22%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%230071B3%22%20stroke-width%3D%22.25%22%20stroke-miterlimit%3D%2210%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M40-42H8c-1.1%200-2%20.9-2%202v32c0%201.1.9%202%202%202h32c1.1%200%202-.9%202-2v-32c0-1.1-.9-2-2-2z%22%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%230071B3%22%20stroke-width%3D%22.25%22%20stroke-miterlimit%3D%2210%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M38-44H10c-1.1%200-2%20.9-2%202v36c0%201.1.9%202%202%202h28c1.1%200%202-.9%202-2v-36c0-1.1-.9-2-2-2z%22%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%230071B3%22%20stroke-width%3D%22.25%22%20stroke-miterlimit%3D%2210%22%3E%3C%2Fpath%3E%3Cg%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22%230071B3%22%3E%3Cpath%20d%3D%22M47.75-.25v-47.5H.25v47.5h47.5M48%200H0v-48h48V0z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cpath%20d%3D%22M42-40H6c-1.1%200-2%20.9-2%202v28c0%201.1.9%202%202%202h36c1.1%200%202-.9%202-2v-28c0-1.1-.9-2-2-2z%22%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%230071B3%22%20stroke-width%3D%22.25%22%20stroke-miterlimit%3D%2210%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsymbol%3E%3Cpath%20d%3D%22M35.547%2039.047h-25c-.825%200-1.5-.675-1.5-1.5s.675-1.5%201.5-1.5h25c.825%200%201.5.675%201.5%201.5s-.675%201.5-1.5%201.5zM19.547%2014.047h-9c-.825%200-1.5-.675-1.5-1.5s.675-1.5%201.5-1.5h9c.825%200%201.5.675%201.5%201.5s-.675%201.5-1.5%201.5zM37.547%2012.047h-11c-.825%200-1.5-.675-1.5-1.5s.675-1.5%201.5-1.5h11c.825%200%201.5.675%201.5%201.5s-.675%201.5-1.5%201.5z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M10.548%2039.047c-.825%200-1.5-.675-1.5-1.5v-25c0-.825.675-1.5%201.5-1.5s1.5.675%201.5%201.5v25c0%20.825-.675%201.5-1.5%201.5zM35.547%2039.047c-.825%200-1.5-.675-1.5-1.5v-9c0-.825.675-1.5%201.5-1.5.826%200%201.5.675%201.5%201.5v9c0%20.825-.674%201.5-1.5%201.5zM37.546%2023.047c-.825%200-1.5-.675-1.5-1.5v-11c0-.825.675-1.5%201.5-1.5s1.5.675%201.5%201.5v11c0%20.825-.675%201.5-1.5%201.5z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M21.047%2027.047c-.584-.584-.584-1.54%200-2.122l15.43-15.43c.584-.585%201.54-.585%202.123%200%20.583.583.583%201.538%200%202.12L23.17%2027.048c-.585.584-1.54.584-2.123%200z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3Cg%20fill%3D%22%230071B3%22%3E%3Cpath%20d%3D%22M39.047%2010.547c0-.825-.675-1.5-1.5-1.5h-11c-.825%200-1.5.675-1.5%201.5s.675%201.5%201.5%201.5h7.377L21.047%2024.925c-.584.583-.584%201.538%200%202.122.584.584%201.54.584%202.122%200L36.045%2014.17v7.376c0%20.826.675%201.5%201.5%201.5s1.5-.674%201.5-1.5V10.548z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M35.547%2027.047c-.825%200-1.5.675-1.5%201.5v7.5H12.05v-22h7.497c.825%200%201.5-.675%201.5-1.5s-.675-1.5-1.5-1.5H10.55h-.002c-.103%200-.205.01-.302.03-.682.14-1.2.748-1.2%201.47l.002.007V37.547c0%20.825.674%201.5%201.5%201.5h25c.825%200%201.5-.675%201.5-1.5v-9c0-.825-.675-1.5-1.5-1.5z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
					width: rem(16px);
					height: rem(16px);
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: rem(-8px);
				}
			}
    }

    &__logo {
    	width: rem(110px);
    	height: rem(84px);
    	padding-left: rem(16px);
    	display: table-cell;
    	vertical-align: middle;
    	text-align: right;
    	overflow: hidden;
    	box-sizing: content-box;

  		&--left {
  			padding-left: 0;
    		padding-right: rem(16px);
  		}

    	img {
    		vertical-align: middle;
    		max-width: 100%;
    		max-height: 100%;
    	}
    }

    &__afm-warning {
        margin-top: 1rem;
        height: 1rem;
    }

    &__tag-adv {
    	background-color: $native-ad-grey-tag;
    	color: #fff;
    	display: inline-block;
    	padding: 0 rem(4px);
    	height: rem(18px);
    	font-size: rem(12px);
    	line-height: rem(18px);
    }
    @media screen and (max-width: $bp-medium-native-sponsorblock - 1) {
    	&__tag-adv {
    		position: absolute;
    		top: rem(8px);
    		right: rem(4px);
    	}
    }
    @media screen and (min-width: $bp-medium-native-sponsorblock) {
    	&__tag-adv {
    		margin-right: rem(4px);
    	}

    	&__logo {
    		width: rem(125px);
    		height: rem(65px);
    		padding-left: rem(32px);

    		&--left {
    			padding-left: 0;
	    		padding-right: rem(32px);
    		}
    	}
	}

    @media screen and (width: $bp-large-native-sponsorblock) {
	    &__title {
	    	font-size: rem(28px);
	    	line-height: 1.28;
	    }
    }
}
