<div class="nieuwe-huis-koppelen-sticky" data-component="nieuwe-huis-koppelen-sticky" data-nieuwe-huis-koppelen-sticky>
	<div class="nieuwe-huis-koppelen-sticky__wrapper">
		<p class="nieuwe-huis-koppelen-sticky__text"><strong>Burgermeester van Nispen van Sevenaerstraat 51, 1251 KG Laren Nh</strong></p>
		<input type="submit" class="button-secondary nieuwe-huis-koppelen-sticky__button" value="Koppel mij aan dit huis">
	</div>
</div>