.nieuwe-huis-koppelen-sticky {
	position: fixed;
	left: 0;
	width: 100%;
	background-color: #FFF;
	z-index: 3;
	padding: 0.875rem 1.25rem;
	border-top: solid 1px $grey-lighter;
	bottom: -100px;
	transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1);

	&__wrapper {
		max-width: $container-width-large;
		margin: 0 auto;
	}

	&.visible {
		bottom: 0;
		opacity: 1;
		z-index: 4;
		text-align: center;
	}

	&__text {
		display: none;
	}

	@media screen and (min-width: $bp-medium) {
		&__text {
			float: left;
			margin: 0;
			font-size: 1.25em;
			line-height: 2.2em;
			max-width: calc(100% - 15rem);
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  display: block;
		}

		&__button {
			float: right;
		}
	}
}
