{# The data-component="cms-article" is only for highlighting in previews. Don't implement this in Razor. #}

<article class="cms-article" data-component="cms-article">
	<div class="container">
		<div class="cms-article-content">
			<div class="cms-article-intro">
				<p>"Vestibulum a nisi eget elit ultricies tempor a ut diam. Donec ornare, nisi tempor dignissim aliquam, arcu odio egestas neque, nec accumsan odio eros eget magna. Nulla quis venenatis leo. Maecenas nec orci vel felis tempus rhoncus."</p>

				<ul class="cms-article-meta">
					<li>
						<time pubdate datetime="2016-03-22T19:10-08:00">10 uur geleden</time>
					</li>
					<li>door <a href="#" title="Articles by Annemiek" rel="author">Annemiek</a> in
						<a href="#">Wensen</a>
					</li>
				</ul>
			</div>

			<div class="cms-article-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue enim, mattis blandit consectetur nec, tincidunt in risus. Donec quis lacus a lectus suscipit iaculis vel sed nulla. Vivamus accumsan accumsan urna, vel dapibus mauris faucibus et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc sed diam laoreet, porttitor eros eget, pretium urna. Nam tortor arcu, consectetur sit amet lectus eget, mollis egestas velit. <a href="#external" class="cms-external-url">Suspendisse non</a> lacus at sapien pretium fringilla. Quisque sodales purus lacus, sit amet pulvinar mi blandit porta. Aenean consectetur leo eu porttitor bibendum. Suspendisse ac mauris dui. Donec pharetra diam non euismod posuere. Praesent eu porta justo. Vestibulum scelerisque nisi justo, a sagittis arcu egestas vitae. Vestibulum ut lectus mauris.</p>

				<h2>This is H2</h2>

				<blockquote>
					<p>This is a blockquote element WITH paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue enim.</p>
				</blockquote>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue enim, mattis blandit consectetur nec, tincidunt in risus. Donec quis lacus a lectus suscipit iaculis vel sed nulla. Vivamus accumsan accumsan urna, vel dapibus mauris faucibus et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
				<blockquote>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue enim, mattis blandit consectetur nec, tincidunt in risus. Donec quis lacus a lectus suscipit iaculis vel sed nulla.
				</blockquote>

				<p>Nunc sed diam laoreet, porttitor eros eget, pretium urna. Nam tortor arcu, consectetur sit amet lectus eget, mollis egestas velit. Suspendisse non lacus at sapien pretium fringilla. Quisque sodales purus lacus, sit amet pulvinar mi blandit porta. Aenean consectetur leo eu porttitor bibendum. Suspendisse ac mauris dui. Donec pharetra diam non euismod posuere. Praesent eu porta justo. Vestibulum scelerisque nisi justo, a sagittis arcu egestas vitae. Vestibulum ut lectus mauris.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue enim, mattis blandit consectetur nec, tincidunt in risus. Donec quis lacus a lectus suscipit iaculis vel sed nulla.</p>

				<h3>This is H3</h3>
				<p><span class="related-articles">Belangrijk</span></p>

				<ul>
					<li><a data-id="1740" href="#" title="locatie">Locatie</a></li>
					<li><a data-id="1740" href="#" title="locatie">Locatie</a></li>
					<li>Locatie</li>
				</ul>

				<ol>
					<li><a data-id="1740" href="#" title="locatie">Locatie</a></li>
					<li><a data-id="1740" href="#" title="locatie">Locatie</a></li>
					<li>Locatie</li>
				</ol>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue enim, mattis blandit consectetur nec, tincidunt in risus. Donec quis lacus a lectus suscipit iaculis vel sed nulla. Vivamus accumsan accumsan urna, vel dapibus mauris faucibus et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc sed diam laoreet, porttitor eros eget, pretium urna. Nam tortor arcu, consectetur sit amet lectus eget, mollis egestas velit. Suspendisse non lacus at sapien pretium fringilla. Quisque sodales purus lacus, sit amet pulvinar mi blandit porta. Aenean consectetur leo eu porttitor bibendum. Suspendisse ac mauris dui. Donec pharetra diam non euismod posuere. Praesent eu porta justo. Vestibulum scelerisque nisi justo, a sagittis arcu egestas vitae. Vestibulum ut lectus mauris.</p>

				<blockquote>
					<p>This is a blockquote element WITH paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue enim.</p>
				</blockquote>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue enim, mattis blandit consectetur nec, tincidunt in risus. Donec quis lacus a lectus suscipit iaculis vel sed nulla. Vivamus accumsan accumsan urna, vel dapibus mauris faucibus et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc sed diam laoreet, porttitor eros eget, pretium urna. Nam tortor arcu, consectetur sit amet lectus eget, mollis egestas velit. Suspendisse non lacus at sapien pretium fringilla. Quisque sodales purus lacus, sit amet pulvinar mi blandit porta. Aenean consectetur leo eu porttitor bibendum. Suspendisse ac mauris dui. Donec pharetra diam non euismod posuere. Praesent eu porta justo. Vestibulum scelerisque nisi justo, a sagittis arcu egestas vitae. Vestibulum ut lectus mauris.</p>

				<div class="cms-article-meta sponsor">
					<p>Mede mogelijk gemaakt door SNS</p>
				</div>
			</div>

		    <section class="cms-article-share" data-component="object-share" >
		        <span class="object-share-title">
		            Delen:
		        </span>
		        <a class="object-share-link"
		        target="_blank"
		        href="https://facebook.com/sharer.php?u=http%3A%2F%2Fcontent.int.dev.{client}.nl%2Fhoe-koop-ik-een-huis%2Fde-wens%2F"
		        title="Deel op Facebook">
		            <span class="icon icon-facebook" data-grunticon-embed></span>
		            <span class="object-share-link-label a11y-sr-only">Facebook</span>
		        </a>
		        <a class="object-share-link"
		        target="_blank"
		        href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fcontent.int.dev.{client}.nl%2Fhoe-koop-ik-een-huis%2Fde-wens%2F"
		        title="Deel op Twitter">
		            <span class="icon icon-twitter" data-grunticon-embed></span>
		            <span class="object-share-link-label a11y-sr-only">Twitter</span>
		        </a>
		        <a class="object-share-link"
		        target="_blank"
		        href=""
		        title="Deel op Google Plus">
		            <span class="icon icon-google-plus" data-grunticon-embed></span>
		            <span class="object-share-link-label a11y-sr-only">Google Plus</span>
		        </a>
		        <a class="object-share-link"
		        target="_blank"
		        href=""
		        title="Pin op Pinterest">
		            <span class="icon icon-pinterest" data-grunticon-embed></span>
		            <span class="object-share-link-label a11y-sr-only">Pinterest</span>
		        </a>
		    </section>
		</div>

	    <aside class="cms-article-aside">
			<div class="cms-article-asidebox">
				{% include "components/cms-article-aside-steps/cms-article-aside-steps.html" %}
			</div>
		</aside>
	</div>
</article>
