{% from "components/user-profile-personal/user-profile-personal.html" import userProfilePersonalInputs %}
{% from "components/user-profile-address/user-profile-address.html" import userProfileAddressInputs %}

{% macro nieuweHuisKoppelenClaimMyHouse() %}
<section class="nieuwe-huis-koppelen-claim-my-house" id="ditismijnhuis">
    <form class="form" action="#">
        <h2>Wat moet je doen?</h2>

        <p class="nieuwe-huis-koppelen-claim-my-house-paragraph">
            Vul je gegevens in en wij sturen je aanvraag door naar Verdoold Makelaar. Zodra jouw makelaar bevestigd dat je de verkoper bent van Burgermeester van Nispen van Sevenaerstraat 51, is de koppeling actief. Je krijgt uiteraard een bevestigingse-mail als dit is gebeurd.
        </p>

        <h3>Persoonlijke gegevens</h3>

        {{ userProfilePersonalInputs() }}

        <label>
            <span class="edit-label">E-mailadres</span>
            <div class="read-input">lindajanssen@{client}.nl</div>
        </label>

        <button type="submit" class="button button-primary" >Aanvraag versturen</button>

        <div class="user-profile-terms">Met het aanvragen ga je akkord met onze <a href="#">gebruiksvoorwaarden</a> en <a href="#">privacybeleid</a>.</div>

</form>
</section>
{% endmacro %}

{# examples #}
<div class="app-guide-example" data-guide-title="Default">
{{ nieuweHuisKoppelenClaimMyHouse() }}
</div>
{# /examples #}
