.nieuwe-huis-koppelen-claim-my-house {
    @extend .user-profile;

    .button-primary {
        width: 100%;
        margin-top: 2rem;

        @media screen and (min-width: $bp-medium) {
            width: auto;
        }
    }
}
