{# The data-component="makelaar-ads" is only for highlighting in previews. Don't implement this in Razor. #}
<div class="makelaar-ads container" data-makelaar-ads data-makelaars-ads-feed-url="/stubs/components/makelaar-ads/getMakelaarAds.json">

	<h4 makelaar-ads-header class="makelaar-ads-header">Makelaar in de buurt</h4>
	<a data-makelaar-ads-item class="makelaar-ads-item">
		<div class="makelaar-ads-image-wrap">
			<img data-makelaar-ads-logo class="makelaar-ads-image" src="">
		</div>
		<div class="makelaar-ads-text">
			<h4 data-makelaar-ads-title class="makelaar-ads-title" ></h4>
			<p data-makelaar-ads-body class="makelaar-ads-body">
				<span data-makelaar-ads-line1 class="makelaar-ads-body-line1"></span>
				<span data-makelaar-ads-line2 class="makelaar-ads-body-line2"></span>
			</p>
			<p data-makelaar-ads-website class="makelaar-ads-website"></p>
		</div>
	</a>

	<a data-makelaar-ads-item class="makelaar-ads-item">
		<div class="makelaar-ads-image-wrap">
			<img data-makelaar-ads-logo class="makelaar-ads-image" src="">
		</div>
		<div class="makelaar-ads-text">
			<h4 data-makelaar-ads-title class="makelaar-ads-title" ></h4>
			<p data-makelaar-ads-body class="makelaar-ads-body">
				<span data-makelaar-ads-line1 class="makelaar-ads-body-line1"></span>
				<span data-makelaar-ads-line2 class="makelaar-ads-body-line2"></span>
			</p>
			<p data-makelaar-ads-website class="makelaar-ads-website"></p>
		</div>
	</a>
	<a data-makelaar-ads-item class="makelaar-ads-item">
		<div class="makelaar-ads-image-wrap">
			<img data-makelaar-ads-logo class="makelaar-ads-image" src="">
		</div>
		<div class="makelaar-ads-text">
			<h4 data-makelaar-ads-title class="makelaar-ads-title"></h4>
			<p data-makelaar-ads-body class="makelaar-ads-body">
				<span data-makelaar-ads-line1 class="makelaar-ads-body-line1"></span>
				<span data-makelaar-ads-line2 class="makelaar-ads-body-line2"></span>
			</p>
			<p data-makelaar-ads-website class="makelaar-ads-website"></p>
	  </div>
	</a>
</div>
