// add style rules for component within `.makelaar-ads` namespace.
// or use .makelaar-ads- as prefix for nested elements for simpler and faster selectors
// eg. .makelaar-ads-item { }

$bp-makelaar-ad-small: 341px;

.makelaar-ads {
    padding: 0;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    a.makelaar-ads-item:hover img,
    a.makelaar-ads-item:visited img {
       border:0;
       color: $natural-blue;
    }

    .divider {
        background-color: $grey-lighter;
        margin: 1.25rem 0;
        width: 100%;
        height: 1px;
        float: none;
        display: block;
    }

    &.injected {
        margin-bottom: 2rem;
        overflow: inherit;
        height: inherit;
        padding-top: 2em;
        border-top: solid 1px $grey-lighter;

        .makelaar-ads-item.loaded {
            padding: 0.3125rem 0 0.3125rem 0.3125rem;
            border: 1px solid $grey-lighter;
            opacity: 1;
            height: auto;
        }

        .makelaar-ads-header {
            display: block;
        }
    }

    &.reset-ads {
        overflow: hidden;
        height: 0;
        margin-bottom: 0;

        .makelaar-ads-header {
            max-height: 1px;
        }

        .makelaar-ads-header {
            display: none;
        }
    }
}

.makelaar-ads-header {
    font-size: 1rem;
    margin: 0;
    display: none;
}

.makelaar-ads-item {
    @include span(12 of 12);
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    overflow: hidden;
    margin-top: 1px;
    opacity: 0;
    height: 0;

    p, h4 { font-size: 0.875rem; }

    &:not(:nth-of-type(1)){ display: none; }
}

.makelaar-ads-text {
    padding-left: 0.625rem;
    display: table-cell;
    width: calc(100% - 5rem);
}

.makelaar-ads-image-wrap {
    width: 3.75rem;
    vertical-align: middle;
    display: table-cell;
    border: 1px solid $grey-lighter;
    text-align: center;
    line-height: 0;
}

.makelaar-ads-image  {
    max-width: 4.6875rem;
    max-height: 4.6875rem;
}

.makelaar-ads-title {
    white-space: nowrap;
    color: $grey-darker;
    margin-top: 0;
    margin-bottom: 0;
    height: 1.25rem;
}

.makelaar-ads-body {
    color: $grey-darker;
    margin: 0;
}

.makelaar-ads-website {
    margin-top: 0;
    margin-bottom: 0;
    height: 1.25rem;
}

.makelaar-ads-body-line1,
.makelaar-ads-body-line2 {
    text-transform: lowercase;
    &:first-letter { text-transform: none; }
}

.makelaar-ads-body-line1,
.makelaar-ads-body-line2 {
    display: block;
    height: 1.25rem;
    overflow: hidden;
}

@media screen and (min-width: $bp-makelaar-ad-small) {
    .makelaar-ads-image-wrap { width: 5rem; }
    .makelaar-ads-image { max-width: 4.6875rem; }
}

@media screen and (min-width: $bp-medium) {
    .makelaar-ads-item {
        @include span(6 of 12);
        &:nth-of-type(2){ display: block; }
        &:nth-of-type(3){ display:none; }
    }
}

@media screen and (min-width: $bp-medium) and (max-width: $bp-large - 1) {
    .makelaar-ads-item:nth-of-type(2) { @include last; }
}

@media screen and (min-width: $bp-large) {
    .makelaar-ads { margin-bottom: 2rem; }

    .makelaar-ads-item {
        @include span(4 of 12);
        &:nth-of-type(3) {
            @include last;
            display: block;
        }
    }
}
