.nieuwe-huis-widget-map {
  $map-height-small: 240px;
  $map-height-medium: 288px;
  $map-height-large: 432px;

  height: $map-height-small;
  overflow: hidden;
  padding-top: 0;

  .js & {
    .object-map-canvas {
      height: $map-height-small;
    }
  }

  @media screen and (min-width: $bp-medium) {
    height: $map-height-medium;
  	.js & .object-map-canvas {
      height: $map-height-medium;
    }
  }

  @media screen and (min-width: $bp-large) {
    height: $map-height-large;
    .js & .object-map-canvas {
      height: $map-height-large;
    }
  }
}

.nieuwe-huis-widget-mapbox {
  -webkit-tap-highlight-color: transparent;
  padding-bottom: 2rem;
}
