{# The data-component="nieuwe-huis-widget-map" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- nieuwe-huis-widget-map component -->
<div class="nieuwe-huis-widget nieuwe-huis-widget-mapbox" data-component="nieuwe-huis-widget-map">
    <h2 class="nieuwe-huis-widget__title">Jouw huis op de kaart</h2>
    <div class="nieuwe-huis-widget-map">
        <section class="object-map" data-object-map>
            <h2 class="a11y-sr-only">Kaart</h2>

            <div class="object-map-canvas" data-object-map-canvas>
                <p class="object-map-status">Kaart laden...</p>

                <script type="application/json" data-object-map-config>
                    {
                    "lat": -7.2914501,
                    "lng": 112.716387,
                    "markerTitle": "De Hem",
                    "markerUrl": "//assets.fstatic.nl/master_917/assets/components/object-map/marker.png"
                    }
                </script>

                <noscript>
                    <img alt="De Hem op de kaart"
                         src="https://maps.googleapis.com/maps/api/staticmap?center=51.94182,4.826869&zoom=15&size=500x192&scale=2&markers=color:0xF8B000%7C-7.2914501,112.716387"
                         class="object-map-static">
                </noscript>
            </div>

            <div class="object-map-zoom-controls">
                <a class="object-map-zoom-control zoom-plus" data-map-zoom-zoomin>
                    <span class="icon icon-plus-blue" data-grunticon-embed></span>
                    <span class="a11y-sr-only">Inzoomen</span>
                </a>
                <a class="object-map-zoom-control zoom-minus" data-map-zoom-zoomout>
                    <span class="icon icon-minus-blue" data-grunticon-embed></span>
                    <span class="a11y-sr-only">Uitzoomen</span>
                </a>
            </div>
        </section>
    </div>
</div>
<!-- /nieuwe-huis-widget-map component -->
