{% from "components/notification/notification.html" import notification %}

<!-- app-core-style component -->
{% set colorList = [
    {
        title: "Brand colors",
        colors: {
            "$brand-orange":                        "#F7A100",
            "$brand-blue":                          "#0071B3",
            "$brand-bright-blue":                   "#5BC4F8",
            "$brand-green":                         "#ACC700",
            "$brand-brown":                         "#53241B"
        }
    },
    {
        title: "{client}",
        colors: {
            "$orange-dark":                         "#DE9000",
            "$orange":                              "#F7A100",
            "$orange-light":                        "#F8B73E",
            "$orange-lighter":                      "#F8C463"
        }
    },
    {
        title: "{client} in Business",
        colors: {
            "$blue-dark":                           "#006199",
            "$blue":                                "#0071B3",
            "$blue-light":                          "#2C81B3",
            "$blue-lighter":                        "#478BB3"
        }
    },
    {
        title: "Backgrounds",
        colors: {
            "$natural-grey":                        "#F7F7F7",
            "$natural-blue":                        "#E6F2F7"
        }
    },
    {
        title: "Greys",
        colors: {
            "$grey-darker":                         "#333333",
            "$grey-dark":                           "#666666",
            "$grey":                                "#999999",
            "$grey-light":                          "#CCCCCC",
            "$grey-lighter":                        "#EDEDED",
            "$grey-lightest":                       "#F7F7F7"
        }
    },
    {
        title: "Links",
        colors: {
            "$link-primary-color":                  "#0071B3",
            "$link-primary-color-hover":            "#00517F",
            "$link-primary-color-visited":          "#7F0051"
        }
    },
    {
        title: "Contact",
        colors: {
            "$color-nvm":                           "#3C7CB3",
            "$color-nvm-light":                     "#ECF1F7",
            "$color-vbo":                           "#5B62A1",
            "$color-vbo-light":                     "#EEEFF5",
            "$color-vastgoed-pro":                  "#E69130",
            "$color-vastgoed-pro-light":            "#FBF3EA",
            "$color-vgm":                           "#EEB045",
            "$color-vgm-light":                     "#FCF7EC"
        }
    },
    {
        title: "Products",
        colors: {
            "$color-promolabel-blue":               "#5BC4F8",
            "$color-promolabel-blue-light":         "#F0F9FE",
            "$color-promolabel-orange":             "#F7A100",
            "$color-promolabel-orange-light":       "#FDF5E5",
            "$color-promolabel-green":              "#53241B",
            "$color-promolabel-green-light":        "#F6F9E5",
            "$color-veiling-orange":                "#F86700",
            "$color-veiling-orange-light":          "#FCEFE5",
            "$color-open-huis":                     "#53241B",
            "$color-open-huis-light":               "#F6F9E5",
            "$color-open-huis-dag":                 "#BA3486",
            "$color-open-huis-dag-light":           "#F7EAF2"
        }
    },
    {
        title: "Forms and notifications",
        colors: {
            "$green":                               "#22AB34",
            "$yellow":                              "#F8CE00",
            "$red":                                 "#F03C30",
            "$notification-success":                "#EAF7EB",
            "$notification-warning":                "#FDFAE5",
            "$notification-error":                  "#FBEBEA"
        }
    }
] %}

<div class="container">
    <h1>Digital Style Guide</h1>
</div>

<section class="app-guide-section" id="table-of-contents">
    <div class="container">
        <h2>Table of Contents</h2>

        <ol class="table-of-contents">
            <li><a href="#colors">Colors</a></li>
            <li><a href="#iconography">Iconography</a></li>
            <li><a href="#typography">Typography</a></li>
            <li><a href="#buttons-links">Buttons &amp; Links</a></li>
            <li><a href="#lists">Lists</a></li>
            <li><a href="#forms">Forms</a></li>
            <li><a href="#notifications">Notifications</a></li>
            <li><a href="#blockquotes">Blockquotes</a></li>
        </ol>
    </div>
</section>

<section class="app-guide-section clearfix" id="colors">
    <div class="container">
        <h2>Colors</h2>

        {% for item in colorList %}
            <h3 class="app-guide-swatches-title">{{ item.title }}</h3>

            <dl class="app-guide-swatches flat-list">
                {% for name, value in item.colors %}
                    <dt class="app-guide-swatch" style="background-color:{{ value }};"></dd>
                    <dd class="app-guide-swatch-info app-guide-swatch-info-name">{{ name }}</dd>
                    <dd class="app-guide-swatch-info">{{ value }}</dd>
                {% endfor %}
            </dl>
        {% endfor %}
    </div>
</section>

<section class="app-guide-section clearfix" id="icons">
    <div class="container">
        {% include "components/app-icons/app-icons.html" %}
    </div>
</section>

<section class="app-guide-section app-guide-section-typography" id="typography">
    <div class="container">
        <h2>Typography</h2>
        <div class="app-guide-example">
            <h1>Heading 1 style</h1>
            <h2>Heading 2 style</h2>
            <h3>Heading 3 style</h3>
            <h4>Heading 4 style</h4>

            <b>B element - For a heavier font-weight.</b>
            <strong>Strong or B element - For emphasizing a snippet of text with a heavier font-weight.</strong>
            <em>em - for emphasizing a snippet of text with italics.</em>

            <p>Sed ullamcorper, felis eu aliquet fermentum, est eros aliquam sapien, non tristique elit nibh vitae nulla. Maecenas augue felis, elementum porttitor pulvinar vitae, molestie sed ante. Nunc felis elit, scelerisque eget sagittis ac, convallis in mi. Integer in tellus in erat porttitor facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas at pellentesque mauris, in scelerisque nulla. Proin efficitur neque ac lectus viverra, et rutrum neque facilisis. Quisque mattis nisi in quam tempus porttitor. Mauris quis velit nisi. Nulla ac metus ligula. Etiam sit amet sagittis elit. Etiam sit amet tristique augue, in consequat ante.</p>
        </div>
    </div>
</section>

<section class="app-guide-section" id="buttons-links">
    <div class="container">
        <h2>Buttons</h2>

        <div class="app-guide-sub-section">
            <h3>Primary button</h3>
            <button class="button-primary">Button primary</button>
            <button class="button-primary">
                <span class="icon-plus-white"></span>Button primary with icon
            </button>
            <button class="button-primary" disabled>Button primary - disabled</button>
        </div>

        <div class="app-guide-sub-section">
            <h3>Primary button - alternative</h3>
            <button class="button-primary-alternative">Primary alternative</button>
            <button class="button-primary-alternative">
                <span class="icon-plus-white"></span>Primary alternative with icon
            </button>
            <button class="button-primary-alternative" disabled>Primary alternative - disabled</button>
        </div>

        <div class="app-guide-sub-section">
            <h3>Secondary button</h3>
            <button class="button-secondary">Button secondary</button>
            <button class="button-secondary">
                <span class="icon-plus-blue" data-grunticon-embed></span>Button secondary with icon
            </button>
            <button class="button-secondary" disabled="disabled">Button secondary - disabled</button>
        </div>

        <div class="app-guide-sub-section">
            <h3>Secondary button - alternative</h3>
            <p>Used for secondary buttons on a blue background</p>
            <div style="background-color: #F5F9FB; padding: 1em;">
                <button class="button-secondary-alternative">Secondary alternative</button>
                <button class="button-secondary-alternative">
                    <span class="icon-plus-blue" data-grunticon-embed></span>Secondary alternative with icon
                </button>
                <button class="button-secondary-alternative" disabled="disabled">Secondary alternative - disabled</button>
            </div>
        </div>

        <div class="app-guide-sub-section">
            <h3>Tertiary button</h3>
            <button class="button-tertiary">Button tertiary</button>
            <button class="button-tertiary">
                <span class="icon-plus-blue" data-grunticon-embed></span>Button tertiary with icon
            </button>
        </div>

        <div class="app-guide-sub-section">
            <h3>Transparant button</h3>
            <p>Used for buttons on an orange background or image</p>
            <div style="background-color: #F7A100; padding: 1em;">
                <button class="button-transparent">Button transparant</button>
                <button class="button-transparent" disabled>Button transparant - disabled</button>
            </div>
        </div>
    </div>
</section>

<section class="app-guide-section">
    <div class="container">
        <h2>Links</h2>
        <div class="app-guide-sub-section">
            <h3>Default link (prefered use)</h3>
            <a href="#">This is a default Link</a>
        </div>
        <div class="app-guide-sub-section">
            <h3>Alternative link (needs colored background, like blue or orange)</h3>
            <div style="background-color: #F7A100; padding: 1em;">
                <a class="link-alternative" href="#">This is a alternative link</a>
            </div>
        </div>
    </div>
</section>

<section class="app-guide-section" id="lists">
    <div class="container">
        <h2>Lists</h2>
        <div class="app-guide-sub-section">

            <div class="app-guide-sub-section">
                <h3 class="">Default list</h3>
                <ul>
                    <li>Alpha</li>
                    <li>Beta</li>
                    <li>Charlie</li>
                    <li>Delta</li>
                </ul>
            </div>

            <div class="app-guide-sub-section">
                <h3 class="">Flat list</h3>
                <ul class="flat-list">
                    <li>Alpha</li>
                    <li>Beta</li>
                    <li>Charlie</li>
                    <li>Delta</li>
                </ul>
            </div>

            <div class="app-guide-sub-section">
                <h3 class="">Inline list</h3>
                <ul class="inline-list">
                    <li>Alpha</li>
                    <li>Beta</li>
                    <li>Charlie</li>
                    <li>Delta</li>
                </ul>
            </div>

            <div class="app-guide-sub-section">
                <h3 class="h4">Definition List</h3>
                <dl>
                    <dt>Aanvaarding</dt>
                    <dd>In overleg</dd>
                    <dt>Vraagprijs</dt>
                    <dd>€ 630.000 k.k.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>

<section class="app-guide-section" id="forms">
    <div class="container">
        <h2>Forms</h2>
        <div class="app-guide-sub-section">

            <h3>Form inputs</h3>

            <div class="app-guide-sub-section">
                <label class="form-label" for="name">Naam</label>
                <input id="name" type="text">
            </div>

            <div class="app-guide-sub-section">
                <label class="form-label" for="name">Naam</label>
                <input class="form-input input-validation-error" id="name" type="text">
                <div class="form-message--error">Je hebt je naam nog niet ingevuld</div>
            </div>

            <div class="app-guide-sub-section">
                <label class="form-label" for="tel">Telefoonnummer</label>
                <input id="tel" type="tel">
            </div>

            <div class="app-guide-sub-section">
                <label class="form-label" for="email">E-mailadres</label>
                <input id="email" type="email">
            </div>

            <div class="app-guide-sub-section">
                <label class="form-label" for="password">Wachtwoord</label>
                <input id="password" type="password">
            </div>

            <div class="app-guide-sub-section">
                <label class="form-label" for="url">Website</label>
                <input id="url" type="url">
            </div>

            <div class="app-guide-sub-section">
                <label class="form-label" for="text">Bericht</label>
                <textarea id="text"></textarea>
                <div class="form-message">Hoeft niet, wel zo praktisch</div>
            </div>

            <div class="app-guide-sub-section">
                <label class="form-label" for="photo">Voeg een foto toe:</label>
                <input id="photo" type="file">
            </div>

            <div class="app-guide-sub-section">
                <label >Stad:
                    <div class="custom-select">
                        <select autocomplete="off">
                            <option>Amersfoort</option>
                            <option>Amsterdam</option>
                            <option>Breda</option>
                            <option>Nijmegen</option>
                            <option>Utrecht</otion>
                        </select>
                        <span class="icon-arrow-down-blue custom-select-icon" data-grunticon-embed></span>
                    </div>
                </label>
            </div>

            <div class="app-guide-sub-section">
                 <label>
                    <input class="custom-checkbox" type="checkbox">
                    <span class="label-text">{client} nieuwsbrief</span>
                </label>
            </div>

            <div class="app-guide-sub-section">
                <form class="form">
                    <fieldset class="form-multiline-radios">
                        <legend>Multiline radios:</legend>
                        <label class="form-label-radio">
                            <input class="custom-radio" name="language" type="radio">
                            <span class="label-text">Nederlands</span>
                        </label>
                        <label class="form-label-radio">
                            <input class="custom-radio" name="language" type="radio">
                            <span class="label-text">Engels</span>
                        </label>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="app-guide-section" id="notifications">
    <div class="container">
        <h2>Notifications</h2>

        {{ notification("example-1", notificationType = "notification-default") }}

        {{ notification("example-2", notificationType = "notification-information", textCancel = "Sluiten") }}

        {{ notification("example-3", notificationType = "notification-success", textCancel = "Sluiten") }}

        {{ notification("example-4", notificationType = "notification-warning", textCancel = "Sluiten") }}

        {{ notification("example-5", notificationType = "notification-error", textCancel = "Sluiten") }}
    </div>
</section>

<section class="app-guide-section" style="background-color: #E7F1F5;" id="blockquotes">
    <div class="container">
        <h2>Blockquotes</h2>

        <blockquote class="blockquote has-top-triangle">
            <p>
            De zoekopdracht opslaan link kun je vinden boven de filters op de zoekresulaten pagina.
            </p>
            <footer>{client} Servicedesk</footer>
        </blockquote>

        <blockquote class="blockquote has-right-triangle">
            <p>
            De zoekopdracht opslaan link kun je vinden boven de filters op de zoekresulaten pagina.
            </p>
            <footer>{client} Servicedesk</footer>
        </blockquote>

        <blockquote class="blockquote has-bottom-triangle">
            <p>
            De zoekopdracht opslaan link kun je vinden boven de filters op de zoekresulaten pagina.
            </p>
            <footer>{client} Servicedesk</footer>
        </blockquote>

        <blockquote class="blockquote has-left-triangle">
            <p>
            De zoekopdracht opslaan link kun je vinden boven de filters op de zoekresulaten pagina.
            </p>
            <footer>{client} Servicedesk</footer>
        </blockquote>
    </div>
</section>

<a class="scroll-top" href="#table-of-contents"><span class="icon-arrow-up-circle"></span></a>

<style type="text/css">

    body {
        background-color: white;
    }

    h1 {
        margin-top: 30px;
    }

    .app-guide-section {
        margin: 30px auto;
        background: white;
        padding: 20px 0;
        box-sizing: border-box;
    }

    .app-guide-sub-section { margin: 25px 0; }
    .app-guide-section h2 { margin-top: 0; }

    .app-guide-section:after {
        content: "";
        display: table;
        clear: both;
    }

    .app-guide-section-typography span,
    .app-guide-section-typography strong,
    .app-guide-section-typography b {
        display: block;
        margin-top: 20px;
    }

    .app-guide-swatches {
        display: block;
        width: 100%;
        float: none;
        overflow: hidden;
        border-bottom: 1px solid #EDEDED;
    }

    .app-guide-swatches-title {
        margin-top: 1.75rem;
        margin-bottom: 1rem;
    }

    .app-guide-swatch {
        float: left;
        clear: left;
        width: 20%;
        height: 41px;
        border-top: 1px solid #EDEDED;
    }

    .app-guide-swatch-info {
        float: left;
        width: 50%;
        margin: 0;
        padding: 0.5rem 1rem;
        font-size: 1em;
        text-align: left;
        white-space: nowrap;
        border-top: 1px solid #EDEDED;
    }

    .app-guide-swatch-info-name {
        width: 30%;
        font-weight: 600
    }

    .scroll-top {
        position: fixed;
        bottom: 30px;
        right: 50px;
        cursor: pointer;
        color: #2C81B3; /* $blue-light */
    }

    .scroll-top span {
        width: 2rem;
        height: 2rem;
    }

    .table-of-contents {
        padding: 0;
    }

    .table-of-contents li {
        list-style: none;
        display: inline-block;
        padding: 0 10px;
        margin: 0 5px 0 0;
        background-color: #E7F1F5;
    }

</style>
<!-- /app-core-style component -->
