
// Colors
// -----------
$orange-dark:                   #DE9000;
$orange:                        #F7A100;
$orange-light:                  #F8B73E;
$orange-lighter:                #F8C463;

$blue-dark:                     #006199;
$blue:                          #0071B3;
$blue-light:                    #2C81B3;
$blue-lighter:                  #478BB3;

$brand-orange:                  $orange;
$brand-blue:                    $blue;
$brand-bright-blue:             #60C5F8;
$brand-green:                   #ACC700;
$brand-brown:                   #53241B;

$natural-blue:                  #E6F2F7;
$natural-grey:                  #F7F7F7;

$link-primary-color:            $blue;
$link-primary-color-hover:      #00517F;
$link-primary-color-visited:    #7F0051;

$link-alternative-color:        white;
$link-alternative-color-hover:  $natural-grey;

$grey-darker:                   #333333;
$grey-dark:                     #666666;
$grey:                          #999999;
$grey-light:                    #CCCCCC;
$grey-lighter:                  #EDEDED;
$grey-lightest:                 $natural-grey;

$color-nvm:                     #3C7CB3;
$color-nvm-light:               #ECF1F7;
$color-vbo:                     #5B62A1;
$color-vbo-light:               #EEEFF5;
$color-vastgoed-pro:            #E69130;
$color-vastgoed-pro-light:      #FBF3EA;
$color-vgm:                     #EEB045;
$color-vgm-light:               #FCF7EC;

$color-promolabel-blue:         $brand-bright-blue;
$color-promolabel-blue-light:   #F0F9FE;
$color-promolabel-orange:       $brand-orange;
$color-promolabel-orange-light: #FDF5E5;
$color-promolabel-green:        $brand-green;
$color-promolabel-green-light:  #F6F9E5;

$color-veiling-orange:          #F86700;
$color-veiling-orange-light:    #FCEFE5;

$color-open-huis:               $brand-green;
$color-open-huis-light:         #F6F9E5;
$color-open-huis-dag:           #BA3486;
$color-open-huis-dag-light:     #F7EAF2;

$green:                         #22AB34;
$green-light:                   #EAF7EB;
$yellow:                        #F8CE00;
$yellow-light:                  #FDFAE5;
$red:                           #F03C30;
$red-light:                     #FBEBEA;

$notification-default:          $natural-grey;
$notification-information:      $natural-blue;
$notification-success:          $green-light;
$notification-warning:          $yellow-light;
$notification-error:            $red-light;
$notification-feedback:         white;

$makelaars-landing-blue:        #0099E6;

$performance-indicator-colors:
    (excellent $orange $color-promolabel-orange-light),
    (good $green $green-light),
    (average $yellow $yellow-light),
    (improvable $red $red-light);

// Various
// -----------
$path-to-assets: ''; // index.css is in the dist/assets/ so the relative path will just be an empty string

$default-radius: 2px;

// Typography
// -----------
$font-weight-base: 400;
$font-weight-semibold: 600;

// Breakpoints
// -----------
$bp-small: 500px;
$bp-medium: 750px;
$bp-large: 1020px;
$bp-xtra-large: 1200px;

// Container
// -----------
$container-width-small: 648px;
$container-width-medium: 816px;
$container-width-large: 984px;

$container-two-columns-left: 648px;
$container-two-columns-right: 312px;

    // Filter panel
// -----------
$search-side-bar-width: 300px;
$search-side-bar-width-tablet: 400px;
$search-side-bar-width-desktop: 228px;

// Animations
// -----------
$quintic: cubic-bezier(0.23, 1, 0.32, 1);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

$animation-normal: 0.4s;

// Bockquote
// -----------
$triangle-width: 15px;

// Breakpoint where we scale the typography
// -----------
$min-window-width: 360;
$max-window-width: 1020;
