.a11y-sr-only,
 %a11y-sr-only, /* screenreader */
.a11y-kb-only /* keyboard */ {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.a11y-kb-only:active,
.a11y-kb-only:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
