.blockquote {
	position: relative;
	margin: 0 0 1em 0;
	padding: 1.5em 1em 1em;
	text-align: center;
	background-color: white;
	border-color: white; // set the border color so the :after pseudo element used for the triangle can inherit the color

	// set the general styling for the triangle using the :after pseudo element.
	&:after {
		position: absolute;
		content: "";
		border-style: solid;
	}

	&.has-top-triangle:after {
		top: -15px;
		left: 25px;
		border-width: 0 $triangle-width $triangle-width $triangle-width;
		border-right-color: transparent;
		border-bottom-color: inherit;
		border-left-color: transparent;
	}

	&.has-bottom-triangle:after {
		bottom: -15px;
		left: 25px;
		border-width: $triangle-width $triangle-width 0;
		border-top-color: inherit;
		border-right-color: transparent;
		border-left-color: transparent;
	}

	&.has-left-triangle:after {
		top: 25px;
		left: -15px;
		border-width: $triangle-width $triangle-width $triangle-width 0;
		border-top-color: transparent;
		border-right-color: inherit;
		border-bottom-color: transparent;
	}

	&.has-right-triangle:after {
		top: 25px;
		right: -15px;
		border-width: $triangle-width 0 $triangle-width $triangle-width;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-left-color: inherit;
	}

	p {
		margin: 0 0 1em;
		font-style: italic;

		&:before {
			content: open-quote;
		}

		&:after {
			content: close-quote;
		}
	}

	footer {
		font-weight: bold;
	}
}