button,
.button,
%button  {
    display: inline-block;
    margin-bottom: 0;
    padding: 0.5em 1.5em;
    font-weight: $font-weight-base;
    height: 44px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    border-radius: 2px;
    white-space: nowrap;
    transition: background 250ms $quintic, box-shadow 250ms $quintic;

    [class*='icon-'] {
        height: 1.5em;
        width: 1.5em;
        margin-top: -0.25em;
        margin-right: 0.5em;
    }

    &:focus,
    &:active {
        outline: none;
    }
}

.button-clean,
%button-clean {
    &,
    &:active,
    &.active,
    fieldset[disabled] & {
        background-color: transparent;
    }

    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
    }
}

.button-primary,
%button-primary  {
    @extend %button;
    background-color: $orange;
    color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10), inset 0 0 0 rgba(0, 0, 0, 0.10);

    &:hover,
    &:focus,
    &:active {
        background-color: $orange-dark;
        color: white;
    }

    &:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 rgba(0, 0, 0, 0.10);
    }
}

.button-primary-alternative,
%button-primary-alternative {
    @extend %button;
    background-color: $link-primary-color;
    color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10), inset 0 0 0 rgba(0, 0, 0, 0.10);

    &:hover,
    &:focus,
    &:active {
        background-color: $link-primary-color-hover;
        color: white;
    }

    &:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 rgba(0, 0, 0, 0.10);
    }
}

.button-primary:disabled,
%button-primary:disabled,
.button-primary-alternative:disabled,
%button-primary-alternative:disabled {
    background-color: $grey-light;
    color: $grey-lighter;
}

.button-secondary,
%button-secondary {
    @extend %button;
    @extend %button-clean;
    border: 1px solid $blue;
    color: $link-primary-color;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10), inset 0 0 0 rgba(0, 0, 0, 0.10);

    &:hover,
    &:focus,
    &:active {
        background-color: $natural-blue;
        border: 1px solid $blue;
        color: $blue;
    }

    &:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 rgba(0, 0, 0, 0.10);
    }
}

.button-secondary-alternative,
%button-secondary-alternative {
    @extend %button-secondary;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10), inset 0 0 0 rgba(0, 0, 0, 0.10);

    &:hover,
    &:focus,
    &:active {
        background-color: white;
    }

    &:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 rgba(0, 0, 0, 0.10);
    }
}

.button-secondary:disabled,
%button-secondary:disabled,
.button-secondary-alternative:disabled,
%button-secondary-alternative:disabled {
    background-color: transparent;
    border-color: $grey-light;
    color: $grey-light;
}

.button-tertiary,
%button-tertiary {
    @extend %button-clean;
    @extend %default-link;
    padding: 0.5em 0;

    &:hover path,
    &:focus path {
        fill: $brand-bright-blue;
    }
}

.button-transparent {
    @extend %button-clean;
    border: 1px solid white;
    color: white;

    &:hover,
    &:focus,
    &:active {
        background-color: rgba(255,255,255,0.25);
        border: 1px solid white;
    }

    &:disabled {
        background-color: transparent;
        border-color: rgba(255,255,255,0.4);
        color: rgba(255,255,255,0.4);
    }
}

.button-reset,
%button-reset {
    padding: 0;
    display: inline-block;
    background-color: transparent;
    outline: 0;
}

.button-right {
    float: right;
}
