input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
    padding: 11px 16px 11px 16px;
    background-color: white;
    border: 1px solid $grey-light;
    border-radius: $default-radius;
    appearance: none;
    transition: border 200ms $quintic;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.20);

    &:focus,
    &:active {
        border-color: $grey;
        outline: none;
    }
}

form .description {
    margin: 0.5rem 0;
}

.input-validation-error {
    border: 1px solid $red !important;
}

label {
    position: relative;
}

label[for] {
    cursor: pointer;
}

select {
    cursor: pointer;
}

select[disabled] {
    cursor: not-allowed;
}

.edit-label {
    margin: 1.5rem 0 0.5rem 0;
    display: block;
}


/* Custom select
 * Adapted from solution by Filament group
 * https://github.com/filamentgroup/select-css/blob/master/src/select.css
 */
.custom-select {
    position: relative;
    display: block;
    padding: 0;

    &.is-disabled {
        select {
            color: $grey;
        }

        .custom-select-icon path {
            fill: $grey;
        }
    }

    select {
        width: 100%;
        height: 2.75rem;
        margin: 0;
        background: white;
        border: 1px solid $grey-light;
        border-radius: $default-radius;
        outline: none;
        appearance: none;
        font-size: 1rem;
        /* General select styles: change as needed */
        padding: .31rem .31rem .31em 1rem;
        color: $grey-darker;
        line-height: 1.9;
        cursor: pointer;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.20);
        transition: border 200ms $quintic;

        &:focus {
            border-color: $grey;
            outline: none;
        }

        /* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
        /* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

            &::-ms-expand {
                display: none;
            }
            &:focus::-ms-value {
                background: transparent;
                color: #222;
            }
        }
    }

    .custom-select-icon {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        right: 0.5rem;
        bottom: 0.625rem;
        z-index: 2;
        pointer-events: none;

        &:focus,
        &:hover {
            border-color: $brand-bright-blue;
            outline: none;
        }

        &:focus path,
        &:hover path {
            fill: $blue;
        }
    }

    option {
        font-weight: normal;
    }
}

/* Custom radio buttons & checkboxes
 * Based on solution by Heydon Pickering
 * http://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/
 * Uses SVG as a background image on the ::before element
 * IE8 does not get the custom checkboxes and are excluded by using the :not() selector
 */

.custom-radio:not(.lower-than-ie9),
.custom-checkbox:not(.lower-than-ie9) {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:disabled {
        ~ .label-text {
            color: $grey;
            cursor: default;
        }

        ~ .label-text:before {
            border-color: $grey-light;
            background: $grey-lightest;
        }

        &:hover ~ .label-text {
            color: $grey;

            &:before {
                border: 1px solid $grey-light;
            }
        }
    }
}

.custom-radio:not(.lower-than-ie9) ~ .label-text:before,
.custom-checkbox:not(.lower-than-ie9) ~ .label-text:before {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
    content: '';
    vertical-align: -0.125rem;
    background-color: $natural-blue;
}

/* checkboxes */
.custom-checkbox:not(.lower-than-ie9) ~ .label-text:before,
%checkbox-fx {
    border: 1px solid $blue;
    background-color: $natural-blue;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: $default-radius;
    transition: border-color 200ms $quintic, background-image 200ms $quintic;;
}

.custom-checkbox:not(.lower-than-ie9):hover ~ .label-text:before,
.custom-checkbox:not(.lower-than-ie9):focus ~ .label-text:before {
    border-color: $link-primary-color-hover;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNjMWRiZTY7ZmlsbC1ydWxlOmV2ZW5vZGQ7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jaGVja2JveC1ob3ZlcjwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNi41OSw5LjQ1bDUtNUExLDEsMCwxLDEsMTMsNS44OEw3LjMzLDExLjU0YTEsMSwwLDAsMS0uNzkuMjksMSwxLDAsMCwxLS42OS0uMjlMMyw4LjdBMSwxLDAsMCwxLDQuNDMsNy4yOVoiLz48L3N2Zz4=');
}

.custom-checkbox:not(.lower-than-ie9):checked ~ .label-text:before,
%checkbox-checked {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMwMjcxYjM7ZmlsbC1ydWxlOmV2ZW5vZGQ7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jaGVja2JveC1jaGVja2VkPC90aXRsZT48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik02LjU5LDkuNDVsNS01QTEsMSwwLDEsMSwxMyw1Ljg4TDcuMzMsMTEuNTRhMSwxLDAsMCwxLS43OS4yOSwxLDEsMCwwLDEtLjY5LS4yOUwzLDguN0ExLDEsMCwwLDEsNC40Myw3LjI5WiIvPjwvc3ZnPg==');
}

.custom-checkbox:not(.lower-than-ie9):checked:hover ~ .label-text:before,
.custom-checkbox:not(.lower-than-ie9):checked:focus ~ .label-text:before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMwMDUxN2Y7ZmlsbC1ydWxlOmV2ZW5vZGQ7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jaGVja2JveC1jaGVja2VkLWhvdmVyPC90aXRsZT48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik02LjU5LDkuNDVsNS01QTEsMSwwLDEsMSwxMyw1Ljg4TDcuMzMsMTEuNTRhMSwxLDAsMCwxLS43OS4yOSwxLDEsMCwwLDEtLjY5LS4yOUwzLDguN0ExLDEsMCwwLDEsNC40Myw3LjI5WiIvPjwvc3ZnPg==');
}

/* radio buttons */
.custom-radio:not(.lower-than-ie9) ~ .label-text:before {
    border: 1px solid $blue;
    background-color: $natural-blue;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: border 200ms $quintic, background-image 200ms $quintic;
}

.custom-radio:not(.lower-than-ie9):hover ~ .label-text:before,
.custom-radio:not(.lower-than-ie9):focus ~ .label-text:before {
    border-color: $link-primary-color-hover;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNjMWRiZTY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5yYWRpby1ob3ZlcjwvdGl0bGU+PGNpcmNsZSBjbGFzcz0iY2xzLTEiIGN4PSI4IiBjeT0iOCIgcj0iNCIvPjwvc3ZnPg==');
}

.custom-radio:not(.lower-than-ie9):checked ~ .label-text:before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMwMTcxYjM7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5yYWRpby1jaGVja2VkPC90aXRsZT48Y2lyY2xlIGNsYXNzPSJjbHMtMSIgY3g9IjgiIGN5PSI4IiByPSI0Ii8+PC9zdmc+');
}

.custom-radio:not(.lower-than-ie9):checked:hover ~ .label-text:before,
.custom-radio:not(.lower-than-ie9):checked:focus ~ .label-text:before {
    border-color: $link-primary-color-hover;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMwMDUxN2Y7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5yYWRpby1jaGVja2VkLWhvdmVyPC90aXRsZT48Y2lyY2xlIGNsYXNzPSJjbHMtMSIgY3g9IjgiIGN5PSI4IiByPSI0Ii8+PC9zdmc+');
}

.custom-radio:not(.lower-than-ie9):focus ~ .label-text,
.custom-checkbox:not(.lower-than-ie9):focus ~ .label-text {
    color: $link-primary-color-hover;
}

.label-text {
    cursor: pointer;
    transition: color 250ms $quintic;

    &:hover, &:focus {
        color: $link-primary-color-hover;
    }
}

.form {
    .form-title {
        margin: 0;
        padding: 0.25rem 0 0;
        font-size: 1rem;
        line-height: 1.5rem;

        @media screen and (min-width: $bp-large) {
            padding: 0.75rem 0 0.25rem;
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }

    .input-confirm {
        display: none
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    li:not(.hide) {
        padding-bottom: 1rem;
    }
}

.form-label {
    margin: 0.25rem 0;
}

.form-label,
.form-label-radio {
    display: block;
    vertical-align: middle;
}

.form-input-label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
}

.form-textarea {
    display: block;
    width: 100%;
    min-height: 6rem;
    resize: vertical;
}

.input-validation-error {
    border: 1px solid $red !important;
}

.form-label-checkbox {
    display: block;
    padding: 0.625rem 0;
}

.form-label-radio--inline {
    display: inline-block;
    padding: 0.625rem 0;

    .label-text {
        margin-right: 2rem;
    }
}

.form-label-radio--multiline {
    display: block;
    padding: 0.625rem 0;
}

.form-multiline-radios legend {
    margin-bottom: 1.5rem;
}

.form-message {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: $grey;
}

.form-message--error {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $red;
}

.form-legal {
    display: block;
    font-size: 0.75rem;
    margin: 1.5rem 0 0;
    color: $grey;
}

.form-inline-inputs {
    @extend %clearfix;

    .form-input {
        width: 100%;
    }

    .form-input-inline {
        float: left;

        &.form-input-inline--short {
            width: 30%;
        }

        &.form-input-inline--long {
            width: 70%;
        }
    }
}

.form-input-inline--long + .form-input-inline--short,
.form-input-inline--short + .form-input-inline--long {
    padding-left: 1rem;

    @media screen and (min-width: $bp-large) {
        padding-left: 1.5rem;
    }
}

.form-submit {
    margin: 0.75rem 0 0;
}

.read-input {
    font-weight: bold;
    margin-bottom: 1rem;
}

//todo: make a component or use the core styles
.user-form {
    @extend %clearfix;

    max-width: 400px;
    margin: 2rem auto;

    @media screen and (min-width: $bp-medium) {
        border: 1px solid $natural-blue;
        border-radius: 5px;
        padding: 0 16px;
    }

    h1 {
        margin-top: 24px;
        margin-bottom: 0.5rem;
    }

    p {
        margin-top: 0;
    }

    .input-container {
        position: relative;

        [class*="icon-"] {
            position: absolute;
            top: 14px;
            right: 16px;
        }
    }

    input {
        width: 100%;
        margin-bottom: 1.25rem;
    }

    .user-form-submit-button {
        width: 100%;
        margin-bottom: 1.25rem;

        @media screen and (min-width: $bp-medium) {
            @include span(3 of 5);
        }
    }

    .user-links {
        @extend %clearfix;
        clear: left;
        margin-bottom: 20px;
        padding-bottom: 32px;
        border-bottom: 1px solid $natural-blue;

        @media screen and (min-width: $bp-medium) {
            padding-bottom: 16px;
        }
    }

    .user-link {
        float: left;
        clear: left;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .user-terms {
        color: $grey;
        font-size: 0.75rem;
        line-height: 1.2rem;

        a {
            color: $blue;
            font-weight: bold;
        }
    }

    .container > p {
        margin-bottom: 20px;
    }

    .notification {
        padding: 0;
        margin-top: 0;
        margin-bottom: 20px;

        p {
            padding-left: 15px;
        }
    }
}
