// Susy layout variables
// ---------------------

$susy: (//default layout, mobile layout
    container-position: center,
    columns: 6,
    gutters: 1/4,
    global-box-sizing: border-box,
    debug: (
        //image: show,            // debug. do not commit.
        color: rgba(#040, .30),
        output: background,     // background / overlay
        toggle: bottom right,   //overlay hover toggle position
    )
);

// tablet
// 8 columns, 24px gutter
$susy-medium: (
    columns: 8,
    gutters: 24px/60px,
);

// desktop
// 12 columns, 24px gutter, 4px vertical grid
$susy-large: (
    columns: 12,
    gutters: 24px/60px,
    container: 984px
);
