a,
%default-link {
    text-decoration: none;
    color: $link-primary-color;
    transition: color 250ms $quintic;

    [class*="icon-"] path,
    [class*="icon-"] circle {
        transition: fill 250ms $quintic;
    }

    &:hover,
    &:focus {
        color: $link-primary-color-hover;
        [class*="icon-"] path,
        [class*="icon-"] circle  {
            fill: $link-primary-color-hover;
        }
    }

    [class*='icon-'] {
        height: 1.5em;
        width: 1.5em;
        margin-top: -0.25em;
        margin-right: 0.5em;
    }

    [class*='icon-arrow-right'] {
        margin-right: 0;
    }
}

.link-alternative {
    color: $link-alternative-color;

    &:hover,
    &:focus {
        color: $link-alternative-color-hover;
    }
}
