ul {
    margin: 0;
}

.flat-list,
%flat-list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
        padding-left: 0;
    }
}

.inline-list,
%inline-list {
    @extend %flat-list;
    > li {
        display: inline-block;
    }
}

%description-list {
    @extend %clearfix;
    border-bottom: 1px solid $grey-lighter;

    dt {
        margin: 0;
        padding: 0.5rem 0 0 0;
        border-top: 1px solid $grey-lighter;
        color: $grey;

        @media screen and (min-width: $bp-medium) {
            float: left;
            clear: left;
            padding: 0.5rem 0;
            width: span(3 of 8);
        }
    }

    dd {
        margin: 0;
        padding: 0 0 0.5rem 0;

        @media screen and (min-width: $bp-medium) {
            float: left;
            padding: 0.5rem 0 0.5rem gutter(8);
            width: 100% - span(3 of 8);
            border-top: 1px solid $grey-lighter;
        }
    }
}

