.ruler-wrapper {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 1.25rem;
}

hr {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $grey;
    border: 0;
}

.ruler-text {
    position: relative;
    display: inline-block;
    margin: 7px 0 0 16px;
    padding-left: .5em;
    padding-right: .5em;
    background-color: #fff;
    color: $grey;
}
