body {
    background-color: white;
    overflow-y: scroll;
}

// Default behaviour for containers
// --------------------------------

.container,
%container {
    @include container($susy);
    padding: 0 1rem;
    position: relative;

    @media screen and (min-width: $bp-medium) {
        @include layout($susy-medium);
        @include container($susy-medium);
    }

    @media screen and (min-width: $bp-large) {
        @include layout($susy-large);
        @include container($susy-large);
        padding: 0;
    }
}
