
.two-columns-container {
    @extend %container;
    @extend %clearfix;

    @media screen and (min-width: $bp-large) {
        padding: 0 0 1.75rem;
    }

    .left-column {
        width: 100%;

        @media screen and (min-width: $bp-large) {
            float: left;
            margin-right: 1.5rem;
            width: $container-two-columns-left;
        }
    }

    .right-column {
        width: 100%;
        margin-bottom: 2rem;

        @media screen and (min-width: $bp-large) {
            float: left;
            width: $container-two-columns-right;
        }
    }
}
