body {
    $fallback-system-font-stack: sans-serif;
    $loaded-font-stack: 'Proxima Nova', $fallback-system-font-stack;

    font-family: $fallback-system-font-stack;
    line-height: 1.5;
    color: $grey-darker;

    .fonts-loaded & {
        font-family: $loaded-font-stack;
    }

    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
    margin: 0;
    font-weight: $font-weight-semibold;
}

h1, .h1 {
    font-size: 1.5rem; //TODO: zie Static Compiler?: 1.25rem/1.75rem
    line-height: 2rem;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;

    @media screen and (min-width: $bp-medium) {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    @media screen and (min-width: $bp-large) {
        font-size: 2.25rem;
        line-height: 2.75rem;
        margin-top: 2.25rem;
        margin-bottom: 2.25rem;
    }
}

h2, .h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;

    @media screen and (min-width: $bp-large) {
        font-size: 1.75rem;
        line-height: 2.75rem;
        margin-top: 1.75rem;
        margin-bottom: 1.25rem;
    }
}

h3, .h3 {
    font-size: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    @media screen and (min-width: $bp-large) {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1.25rem;
        margin-bottom: 1.75rem;
    }
}

h4, .h4 {
    font-size: 1rem;
    @media screen and (min-width: $bp-large) {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-top: 0.75rem;
        margin-bottom: 1rem;
    }
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
}

small, .small {
    font-size: 0.75rem;
    line-height: 1.125rem;
}


