<!-- nieuwe-huis-widget-related-articles component -->
<h2 class="nieuwe-huis-widget-related-articles__heading">Lees meer op {client} Thuis</h2>
<div class="nieuwe-huis-widget-related-articles-row">
    <article class="nieuwe-huis-widget-related-articles">
        <a href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/afronden/verbouwen-valt-altijd-duurder-uit/" class="nieuwe-huis-widget-related-articles__link">
            <img
            src="/assets/components/nieuwe-huis-widget-related-articles/images/verbouwen-312x210.jpg"
            srcset="/assets/components/nieuwe-huis-widget-related-articles/images/verbouwen-312x210.jpg 312w, /assets/components/nieuwe-huis-widget-related-articles/images/verbouwen-624x420.jpg 624w, /assets/components/nieuwe-huis-widget-related-articles/images/verbouwen-500x250.jpg 500w"
            sizes="(min-width: 750px) 33.33vw, (min-width: 500px) 50vw, 100vw"
            class="nieuwe-huis-widget-related-articles__thumb">
            <div class="nieuwe-huis-widget-related-articles__description">
                <h2 class="nieuwe-huis-widget-related-articles__title">Verbouwen? Dat valt écht altijd duurder uit.</h2>
                <span class="nieuwe-huis-widget-related-articles__readmore">Lees meer</span>
            </div>
        </a>
    </article>

    <article class="nieuwe-huis-widget-related-articles">
        <a href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/afronden/taxatie/" class="nieuwe-huis-widget-related-articles__link">
            <img
            src="/assets/components/nieuwe-huis-widget-related-articles/images/taxatie-312x210.jpg"
            srcset="/assets/components/nieuwe-huis-widget-related-articles/images/taxatie-312x210.jpg 312w, /assets/components/nieuwe-huis-widget-related-articles/images/taxatie-624x420.jpg 624w, /assets/components/nieuwe-huis-widget-related-articles/images/taxatie-500x250.jpg 500w"
            sizes="(min-width: 750px) 33.33vw, (min-width: 500px) 50vw, 100vw"
            class="nieuwe-huis-widget-related-articles__thumb">
            <div class="nieuwe-huis-widget-related-articles__description">
                <h2 class="nieuwe-huis-widget-related-articles__title">Taxatie; wat is het, wanneer moet je het doen?</h2>
                <span class="nieuwe-huis-widget-related-articles__readmore">Lees meer</span>
            </div>
        </a>
    </article>

    <article class="nieuwe-huis-widget-related-articles">
        <a href="http://www.{client}.nl/thuis/hoe-koop-ik-een-huis/feest/feestje-vieren/" class="nieuwe-huis-widget-related-articles__link">
            <img
            src="/assets/components/nieuwe-huis-widget-related-articles/images/feestje-312x210.jpg"
            srcset="/assets/components/nieuwe-huis-widget-related-articles/images/feestje-312x210.jpg 312w, /assets/components/nieuwe-huis-widget-related-articles/images/feestje-624x420.jpg 624w, /assets/components/nieuwe-huis-widget-related-articles/images/feestje-500x250.jpg 500w"
            sizes="(min-width: 750px) 33.33vw, (min-width: 500px) 50vw, 100vw"
            class="nieuwe-huis-widget-related-articles__thumb">
            <div class="nieuwe-huis-widget-related-articles__description">
                <h2 class="nieuwe-huis-widget-related-articles__title">Feestje vieren?</h2>
                <span class="nieuwe-huis-widget-related-articles__readmore">Lees meer</span>
            </div>
        </a>
    </article>
</div>
<!-- /nieuwe-huis-widget-related-articles component -->
