{# The data-component="goto" is only for highlighting in previews. Don't implement this in Razor. #}

{% macro goto() %}
<a href="#id1" data-goto>Go to that id1</a>

<div style="height: 9000px; width: 100%; background-color: black;color: white">
    this is just a big black box.
</div>

<div id="id1">God you found me!</div>

<div style="height: 9000px; width: 100%; background-color: black;color: white">
    this is just a big black box.
</div>

{% endmacro %}

<div class="app-guide-example" data-guide-title="That's an example">
    {{ goto() }}
</div>
