$native-catbanner-grey: #333;
$native-catbanner-blue: #3888C5;

$native-catbanner-height: 40px;
$native-catbanner-span3of8: 35.18519%;
$native-catbanner-gutter: 3.7037%;
$native-catbanner-main-text-width: 226px;
$fonts: 'Proxima Nova','Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;

@-webkit-keyframes nativeCatbannerFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes nativeCatbannerFadeIn {
	from { opacity:0; }
	to { opacity:1 }
}

@keyframes nativeCatbannerFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

// the font url will diverge from font url used in {client} static, causing the files to be downloaded twice
// (once in the context of the website, once in the context of the iframe). In the future we can prevent
// this by applying a cachebuster strategy.
// TODO - update url of font
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.ttf') format('truetype')
}

@font-face{
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.ttf') format('truetype')
}

.native-category-banner {
	padding: 8px;
	overflow: hidden;
	display: block;
	font-family: $fonts;
	text-decoration: none;
	position: relative;
	color: $native-catbanner-grey;
	opacity: 0;

	animation: nativeCatbannerFadeIn ease-in 1;
	-webkit-animation: nativeCatbannerFadeIn ease-in 1;
	-moz-animation: nativeCatbannerFadeIn ease-in 1;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;

	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;

	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;

	&__img {
		margin: 0 50px 0 0;
		vertical-align: top;
		border: 0;
	}

	&__content {
		margin: 0;
		word-break: break-all;
	}

	&__action-text,
	&__action-text > span,
	&__main-text {
		display: block;
		height: 26px;
		line-height: 26px;
		overflow: hidden;

		@media screen and (min-width: 374px) {
			float: left;
		}
	}

	&__action-text {
		display: block;
		width: 105px;
	}

	&__action-text > span {
		display: inline-block;
		color: $native-catbanner-blue;
		position: relative;
		padding-right: 20px;
		word-break:break-all;

		&:after {
			content: "❯";
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -4px;
			font-size: 11px;
			line-height: 1;
		}
	}

	&__img-wrapper {
		$native-catbanner-width: 140px;
		$native-catbanner-height: 26px;

		width: $native-catbanner-width;
		height: $native-catbanner-height;
		margin-bottom: 5px;

		img {
			vertical-align: top;
			height: $native-catbanner-height;
			max-width: $native-catbanner-width;
			width: auto;
			margin: 0;
		}
	}

	@media screen and (min-width: 375px){
		&__main-text {
			width: calc(100% - 105px);
		}
	}

	@media screen and (min-width: 635px) {
		font-size: 16px;
		min-height: $native-catbanner-height;
		padding:0;
		line-height: $native-catbanner-height;

		&__img,
		&__content {
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
		}

		&__img {
			margin: 0;
			width: $native-catbanner-span3of8;
			height: $native-catbanner-height;
		}

		&__content {
			$native-catbanner-content-pull-left: -5px;

			width: calc(100% - #{$native-catbanner-span3of8});
			margin-left: $native-catbanner-content-pull-left;
			padding-left: $native-catbanner-gutter;
			height: $native-catbanner-height;
			line-height: $native-catbanner-height;
		}

		&__action-text,
		&__action-text > span,
		&__main-text {
			height: $native-catbanner-height;
			line-height: $native-catbanner-height;
			display: inline-block;
		}

		&__action-text {
			float: right;
			text-align: right;
		}

		&__action-text > span {
			float: right;
		}

		&__main-text {
			width: $native-catbanner-main-text-width;
		}

		&__img-wrapper {
			$native-catbanner-img-height: 26px;

			height: $native-catbanner-height;
			padding: 4px 0 4px 8px;
			box-sizing: border-box;

			img {
				height: $native-catbanner-img-height;
				margin: 3px 0 0;
				width: auto;
			}
		}
	}
}