{# The data-component="native-category-banner" is only for highlighting in previews. Don't implement this in Razor. #}

<style type="text/css">
@-webkit-keyframes nativeCatbannerFadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes nativeCatbannerFadeIn{from{opacity:0}to{opacity:1}}@keyframes nativeCatbannerFadeIn{from{opacity:0}to{opacity:1}}@font-face{font-family:'Proxima Nova';font-weight:400;font-style:normal;src:url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff2") format("woff2"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff") format("woff"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.ttf") format("truetype")}@font-face{font-family:'Proxima Nova';font-weight:600;font-style:normal;src:url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff2") format("woff2"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff") format("woff"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.ttf") format("truetype")}.native-category-banner{padding:8px;overflow:hidden;display:block;font-family:"Proxima Nova","Open Sans","Helvetica Neue","Helvetica",Arial,sans-serif;text-decoration:none;position:relative;color:#333;opacity:0;animation:nativeCatbannerFadeIn ease-in 1;-webkit-animation:nativeCatbannerFadeIn ease-in 1;-moz-animation:nativeCatbannerFadeIn ease-in 1;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;animation-duration:0.3s;-webkit-animation-duration:0.3s;-moz-animation-duration:0.3s;animation-delay:0.3s;-webkit-animation-delay:0.3s;-moz-animation-delay:0.3s}.native-category-banner__img{margin:0 50px 0 0;vertical-align:top;border:0}.native-category-banner__content{margin:0;word-break:break-all}.native-category-banner__action-text,.native-category-banner__action-text>span,.native-category-banner__main-text{display:block;height:26px;line-height:26px;overflow:hidden}@media screen and (min-width: 374px){.native-category-banner__action-text,.native-category-banner__action-text>span,.native-category-banner__main-text{float:left}}.native-category-banner__action-text{display:block;width:105px}.native-category-banner__action-text>span{display:inline-block;color:#3888C5;position:relative;padding-right:20px;word-break:break-all}.native-category-banner__action-text>span:after{content:"❯";position:absolute;right:10px;top:50%;margin-top:-4px;font-size:11px;line-height:1}.native-category-banner__img-wrapper{width:140px;height:26px;margin-bottom:5px}.native-category-banner__img-wrapper img{vertical-align:top;height:26px;max-width:140px;width:auto;margin:0}@media screen and (min-width: 375px){.native-category-banner__main-text{width:calc(100% - 105px)}}@media screen and (min-width: 635px){.native-category-banner{font-size:16px;min-height:40px;padding:0;line-height:40px}.native-category-banner__img,.native-category-banner__content{display:inline-block;vertical-align:top;box-sizing:border-box}.native-category-banner__img{margin:0;width:35.18519%;height:40px}.native-category-banner__content{width:calc(100% - 35.18519%);margin-left:-5px;padding-left:3.7037%;height:40px;line-height:40px}.native-category-banner__action-text,.native-category-banner__action-text>span,.native-category-banner__main-text{height:40px;line-height:40px;display:inline-block}.native-category-banner__action-text{float:right;text-align:right}.native-category-banner__action-text>span{float:right}.native-category-banner__main-text{width:226px}.native-category-banner__img-wrapper{height:40px;padding:4px 0 4px 8px;box-sizing:border-box}.native-category-banner__img-wrapper img{height:26px;margin:3px 0 0;width:auto}}
</style>

<!-- native-category-banner component -->
<a href="" target="_blank" class="native-category-banner" data-component="native-category-banner">
	<figure class="native-category-banner__img">
		<div class="native-category-banner__img-wrapper">
			<img src="/assets/components/native-category-banner/images/utrechts-landschap.gif" class="logo" alt="Magazine Utrechts landschap">
		</div>
	</figure>
	<div class="native-category-banner__content">
		<span class="native-category-banner__main-text">Magazine "Utrechts landschap"</span>
		<span class="native-category-banner__action-text"><span>Vraag aan</span></span>
	</div>
</a>

<div class="native-category-banner-colorhex" style="display: none;">#B2BB1C</div>
<img src="[%1x1pixel%]" width="1" height="1" border="0" style="display: none;">
<!-- /native-category-banner component -->

<script type="text/javascript">
function hexToRgb(hex) {
	var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
	hex = hex.replace(shorthandRegex, function(m, r, g, b) {
					return r + r + g + g + b + b;
	});

	var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
	return result ? {
					r: parseInt(result[1], 16),
					g: parseInt(result[2], 16),
					b: parseInt(result[3], 16)
	} : null;
}

var colorHex = document.querySelector(".native-category-banner-colorhex").innerHTML;
var catBanner = document.querySelector(".native-category-banner");
var r = hexToRgb(colorHex).r.toString();
var g = hexToRgb(colorHex).g.toString();
var b = hexToRgb(colorHex).b.toString();

catBanner.style.backgroundColor = "rgba("+ r +","+ g +","+ b + "," + "0.1"+")";
</script>
