
.debug-component {
  position: relative;
	outline: 2px solid black;
	outline-offset: -2px;
}

.debug-label {
	display: none !important;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	color: white !important;
	padding: .2em .5em;
	background: black;
}

.debug-component .debug-label {
	display: block !important;
}

#__bs_notify__{
    background-color: rgba(27, 32, 50, 0.5) !important;
    font-size: .6em !important;
    padding: .7em 1em !important;
}
