.nieuwe-huis-widget {
  background-color: #FFF;

  h2, p {
    margin: 0;
  }

  &__text {
    padding: 0 1.5rem 1rem;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.4;
    padding: 1rem 1.5rem;
  }

  &__footer {
    padding: 1rem 1.5rem;
    border-top: solid 1px $grey-lighter;
    color: $grey-light;
  }

  &__cta {
    padding-left: 1.875rem;
    position: relative;

    &:before {
      content: '';
      width: 18px;
      height: 22px;
      background: {
        image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%3Ctitle%20fill%3D%22%230071B3%22%3Earrow-right.colors-white-grey-blue-pink%3C%2Ftitle%3E%3Cpath%20data-name%3D%22Arrow%20Right%22%20d%3D%22M31.56%2022.93L21%2012.34a1.5%201.5%200%200%200-2.12%202.12L28.37%2024l-9.54%209.54A1.5%201.5%200%200%200%2021%2035.66l10.53-10.57a1.52%201.52%200%200%200%200-2.13z%22%20fill%3D%22%230071B3%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
        repeat: no-repeat;
        size: cover;
      }
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
    }
  }
}
