{# The data-component="nieuwe-huis-widget" is only for highlighting in previews. Don't implement this in Razor. #}

{% macro NieuweHuisWidget(type) %}
<article class="nieuwe-huis-widget" data-component="nieuwe-huis-widget">
	<h2 class="nieuwe-huis-widget__title">Adreswijziging</h2>
	<div class="nieuwe-huis-widget__text">
		<p>Wanneer je gaat verhuizen spreekt het voor zich dat je met zeer veel verschillende factoren rekening dient te houden. Eén van deze factoren is het aangeven van een adres wijziging. In vier stappen helpen we je met het vinden van de juiste instanties én geven we direct je adreswijziging door.</p>
	</div>
	<footer class="nieuwe-huis-widget__footer">
		Binnenkort beschikbaar
	</footer>
</article>
{% endmacro %}

