{# The data-component="link-tooltip" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- link-tooltip component -->

{% macro tooltipInline(linkText = "Click me!", tooltipText = "Some tooltip explanation") %}
<span class="tooltip--inline" data-tooltip-inline title="{{ tooltipText }}">
        <a data-tooltip-handle>{{ linkText }}</a>
    </span>
{% endmacro %}

<!-- /link-tooltip component -->

<div class="app-guide-example" data-guide-title="Inline tooltip example">
    {{ tooltipInline() }}

    <p>Nullam vulputate, purus id venenatis volutpat, ligula magna tristique arcu, non aliquam ante turpis at elit. Ut nec feugiat
        magna. Phasellus neque erat, rhoncus sit amet orci ut, ullamcorper congue ipsum. Donec id ultricies nulla. Aenean
        molestie pellentesque libero nec consectetur. Morbi quis neque malesuada, porta dui quis, consequat justo. Nam non
        blandit nibh, sed ultricies risus. In vel vestibulum arcu. Aliquam id est lacus. Morbi rhoncus tempor libero, rhoncus
        placerat velit eleifend non.</p>
</div>

<style>
    .tooltip {
        background: silver
    }
</style>
