.tooltip--inline {
    position: relative;
    .tooltip__content { display: none; }

    &.is-expanded:before {
        position: absolute;
        z-index: 99;
        border: solid;
        border-color: $blue-light transparent;
        border-width: 0px 10px 10px 10px;
        top: 25px;
        left: 25%;
        content: "";
    }

    &.is-expanded .tooltip__content {
        margin: 0.5em 0;
        display: block;
        bottom: 26px;
        padding: 0.75rem;
        color: white;
        background: $blue-light;
        border-radius: 3px;
        font-size: 1rem;
        line-height: 1.25rem;
    }
}
