.clear-input {
    position: relative;

    //remove X button input default from ie
    input::-ms-clear { display: none; }
}


.clear-input-handle {
    display: none;
    position: absolute;
    width: 1.5rem !important;
    height: 1.5rem;
    right: 0.6rem;
    top: 0rem;
    font-size: 1rem;
    &.is-dirty {
        display: block;
    }
}
