{# The data-component="clear-input" is only for highlighting in previews. Don't implement this in Razor. #}
{% macro clearInput(inputId) %}
<!-- clear-input component -->
<div class="clear-input" data-component="clear-input" data-clear-input="{{ inputId }}">
    {% if caller %}
        {{ caller() }}
    {% endif %}
    <button type="button" class="clear-input-handle button-clean" data-clear-input-handle>
        <span class="icon-delete-greyLight"></span>
    </button>
</div>
<!-- /clear-input component -->
{% endmacro %}
