{% from "components/dialog/dialog.html" import dialog %}

<!-- example for app guide -->
<div class="app-guide-example">
    {{ dialog('user-form') }}
    <button data-login-async >Login</button>
</div>
<!-- /example for app guide -->
