<aside class="hypotheek-advies" data-hypotheek-advies-box>
    <div class="hypotheek-box hypotheek-box--nb1427 push-left">
        <header>
            <span class="hypotheek-advies__text">Hypotheekadvies nodig?</span>
            <span class="hypotheek-advies__optional">Niet verplicht</span>
        </header>

        <div class="hypotheek-box--nb1427__content">
            <p>{client} kan jou in contact brengen met een hypotheekadviseur van de onderstaande bank.</p>

            <img src="/assets/components/hypotheek-advies/SNS.png" alt="SNS" width="360" height="112">

            <div class="has-checkbox">
                <input class="custom-checkbox" id="HypotheekAdviesRequested" name="HypotheekAdviesRequested" type="checkbox" value="true" data-hypotheek-advies-handle/>
                <input name="HypotheekAdviesRequested" type="hidden" value="false"/>
                <label class="label-text hypotheek-form-handle" for="HypotheekAdviesRequested" id="hypotheekAdviesRequest">
                    Ja, ik wil ook gebeld worden door SNS voor het inplannen van een gratis hypotheekadviesgesprek.
                    <small>Ik geef toestemming mijn gegevens te delen met SNS.</small>
                </label>
            </div>
        </div>
    </div>

    <div class="form hypotheek-advies-form" data-hypotheek-advies-target>
        <ul>
            <li>
                <div class="form-label labels">
                    <label for="Straat">Straatnaam</label>
                    <label for="Huisnummer">huisnummer</label>
                </div>
                <div class="form-inputs">
                    <input class="form-input-wide" id="Straat" name="Straat" placeholder="Streetname" type="text" value="" />
                    <input class="form-input-narrow" id="Huisnummer" name="Huisnummer" placeholder="Nr." type="text" value="" />
                </div>
            </li>
            <li>
                <div class="form-label labels">
                    <label for="Postcode">Postcode</label>
                    <label for="Woonplaats">woonplaats</label>
                </div>
                <div class="form-inputs">
                    <input class="form-input-narrow" id="Postcode" name="Postcode" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" placeholder="Postal code" type="text" value="" />
                    <input class="form-input-wide" id="Woonplaats" name="Woonplaats" placeholder="Town/city" type="text" value="" />
                </div>
            </li>
        </ul>
        <div class="hide">
            <input value="9f03fe12-5840-4058-8e6a-ff954d276e16" type="hidden" name="MultiVariateTestFlowId" id="Mvt_FlowID" />
            <input value="6e9a3d6a-1061-4197-b224-be2c5e5ddd98" type="hidden" name="MultiVariateTestFormId" id="Mvt_FormID" />
        </div>
        <p class="push-left hypotheek-advies-form__footer-note">SNS zal bovenstaande informatie gebruiken om je binnen 2 werkdagen in contact (via telefoon, SMS of email) te brengen met een adviseur in de buurt.</p>
    </div>
</aside>