{# The data-component="native-photoviewer-ad" is only for highlighting in previews. Don't implement this in Razor. #}
<h2>Testing using `advertisementSlot`</h2>
<aside class="advertisement" id="ad_c98d5b8a-c65c-4133-821e-961d3b080274" data-component="advertisements" data-advertisement="" data-advertisement-lok="6001" data-advertisement-adunit-path="/6835/{client}.koop/fotos" data-advertisement-size-mapping='[[[1200, 0],[[970, 90],[728, 90], &quot;fluid&quot;]],[[750, 0],[[728, 90], &quot;fluid&quot;]],[[0, 0],[&quot;fluid&quot;]]]' data-advertisement-size-default="[ 0, 0]" data-advertisement-categories-url="/stubs/components/advertisements/6001.json"></aside>


<h2>Static (non DFP)</h2>
<!--
  native-list-item-ad component
  Inline CSS is needed for comparison purpose because we don't include native-list-item-ad on F.Static.
-->
<style type="text/css">
@-webkit-keyframes nativeAdFadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes nativeAdFadeIn{from{opacity:0}to{opacity:1}}@keyframes nativeAdFadeIn{from{opacity:0}to{opacity:1}}@font-face{font-family:'Proxima Nova';font-weight:400;font-style:normal;src:url("https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-regular.woff2") format("woff2"),url("https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-regular.woff") format("woff"),url("https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-regular.ttf") format("truetype")}@font-face{font-family:'Proxima Nova';font-weight:600;font-style:normal;src:url("https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-semibold.woff2") format("woff2"),url("https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-semibold.woff") format("woff"),url("https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-semibold.ttf") format("truetype")}.native-ad-media-viewer-fotos{max-width:728px;height:80px;font-family:'Proxima Nova','Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;font-weight:400;opacity:0;text-decoration:none;display:block;cursor:pointer;color:#333;border:solid 1px #999;padding:0.75em 14.5em 0.75em 1em;position:relative;font-size:16px;box-sizing:border-box;overflow:hidden;margin:0 auto;animation:nativeAdFadeIn ease-in 1;-webkit-animation:nativeAdFadeIn ease-in 1;-moz-animation:nativeAdFadeIn ease-in 1;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;animation-duration:0.3s;-webkit-animation-duration:0.3s;-moz-animation-duration:0.3s;animation-delay:0.3s;-webkit-animation-delay:0.3s;-moz-animation-delay:0.3s}.native-ad-media-viewer-fotos:hover{color:#333}.native-ad-media-viewer-fotos:hover .native-ad-media-viewer-fotos__action{color:#00517F}.native-ad-media-viewer-fotos__title{line-height:1.4em;font-size:20px;margin:0}.native-ad-media-viewer-fotos__description{margin:0;line-height:1.5em;font-size:16px;height:1.5em;overflow:hidden}.native-ad-media-viewer-fotos__action{color:#0071B3;margin-left:1em;display:inline-block;line-height:1.5em}.native-ad-media-viewer-fotos__icon{display:inline-block;width:1rem;height:1rem;vertical-align:text-top;line-height:1.625rem;background-size:cover;margin-right:0}.native-ad-media-viewer-fotos__icon:before{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.native-ad-media-viewer-fotos__logo{position:absolute;top:50%;transform:translateY(-50%);right:1em;width:12.5em;height:2.5em;line-height:2.5em;margin:0;text-align:right}.native-ad-media-viewer-fotos__logo img{max-height:100%;max-width:100%;vertical-align:middle}
</style>

<!-- native-photoviewer-ad component -->
<a class="native-ad-media-viewer-fotos" data-component="native-ad-media-viewer-fotos">
  <h2 class="native-ad-media-viewer-fotos__title">Wat zijn de maandlasten voor dit huis?</h2>
  <p class="native-ad-media-viewer-fotos__description">
  	Bereken het in twee stappen, je weet wel enzo
  	<span class="native-ad-media-viewer-fotos__action">
  		<span class="native-ad-media-viewer-fotos__icon">
  			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48"><symbol id="e" viewBox="0 -48 48 48" fill="#0071B3"><path fill="none" d="M0 0v-48h48V0z"></path></symbol><symbol id="f" viewBox="-0.0002 -48 48.0002 48.0002" fill="#0071B3"><defs fill="#0071B3"><path id="a" d="M48-48H0V0h48z" fill="#0071B3"></path></defs><clipPath id="b" fill="#0071B3"><use xlink:href="#a" overflow="visible" fill="#0071B3"></use></clipPath><g clip-path="url(#b)" fill="#0071B3"><g fill="none" stroke="#0071B3" stroke-width=".25" stroke-miterlimit="10"><path d="M2-48V0M4-48V0M6-48V0M8-48V0M10-48V0M12-48V0M14-48V0M16-48V0M18-48V0M20-48V0M22-48V0M24-48V0M26-48V0M28-48V0M30-48V0M32-48V0M34-48V0M36-48V0M38-48V0M40-48V0M42-48V0M44-48V0M46-48V0" fill="#0071B3"></path></g><g fill="none" stroke="#0071B3" stroke-width=".25" stroke-miterlimit="10"><path d="M0-2h48M0-4h48M0-6h48M0-8h48M0-10h48M0-12h48M0-14h48M0-16h48M0-18h48M0-20h48M0-22h48M0-24h48M0-26h48M0-28h48M0-30h48M0-32h48M0-34h48M0-36h48M0-38h48M0-40h48M0-42h48M0-44h48M0-46h48" fill="#0071B3"></path></g><path d="M47.75-.25v-47.5H.25v47.5h47.5M48 0H0v-48h48V0z" fill="#0071B3"></path></g></symbol><symbol id="g" viewBox="-0.0002 -48.0001 48.0002 48.0001" fill="#0071B3"><g opacity=".4" fill="#0071B3"><defs fill="#0071B3"><path id="c" opacity=".4" d="M0-48V0h48v-48z" fill="#0071B3"></path></defs><clipPath id="d" fill="#0071B3"><use xlink:href="#c" overflow="visible" fill="#0071B3"></use></clipPath><path clip-path="url(#d)" fill="none" stroke="#0071B3" stroke-width=".25" stroke-miterlimit="10" d="M24 0v-48M48-24H0M48-16H0M48-32H0M32-48V0M16-48V0M47.75-.25L.25-47.75M.25-.25l47.5-47.5M24-14c-5.522 0-10-4.477-10-10 0-5.522 4.478-10 10-10 5.523 0 10 4.478 10 10 0 5.523-4.477 10-10 10z"></path><path d="M24-4C12.946-4 4-12.947 4-24s8.946-20 20-20c11.053 0 20 8.947 20 20S35.052-4 24-4z" clip-path="url(#d)" fill="none" stroke="#0071B3" stroke-width=".25" stroke-miterlimit="10"></path><path d="M40-42H8c-1.1 0-2 .9-2 2v32c0 1.1.9 2 2 2h32c1.1 0 2-.9 2-2v-32c0-1.1-.9-2-2-2z" clip-path="url(#d)" fill="none" stroke="#0071B3" stroke-width=".25" stroke-miterlimit="10"></path><path d="M38-44H10c-1.1 0-2 .9-2 2v36c0 1.1.9 2 2 2h28c1.1 0 2-.9 2-2v-36c0-1.1-.9-2-2-2z" clip-path="url(#d)" fill="none" stroke="#0071B3" stroke-width=".25" stroke-miterlimit="10"></path><g clip-path="url(#d)" fill="#0071B3"><path d="M47.75-.25v-47.5H.25v47.5h47.5M48 0H0v-48h48V0z" fill="#0071B3"></path></g><path d="M42-40H6c-1.1 0-2 .9-2 2v28c0 1.1.9 2 2 2h36c1.1 0 2-.9 2-2v-28c0-1.1-.9-2-2-2z" clip-path="url(#d)" fill="none" stroke="#0071B3" stroke-width=".25" stroke-miterlimit="10"></path></g></symbol><path d="M38.5 4h-29c-.622 0-1.155.378-1.382.916-.076.18-.118.377-.118.584v37.001c0 .83.67 1.5 1.5 1.5h29c.828 0 1.5-.67 1.5-1.5v-37c0-.828-.672-1.5-1.5-1.5zM11 7h26v34H11V7z" fill="#0071B3"></path><circle cx="16" cy="22" r="2" fill="#0071B3"></circle><circle cx="24" cy="22" r="2" fill="#0071B3"></circle><circle cx="32" cy="22" r="2" fill="#0071B3"></circle><circle cx="16" cy="29" r="2" fill="#0071B3"></circle><circle cx="24" cy="29" r="2" fill="#0071B3"></circle><circle cx="32" cy="29" r="2" fill="#0071B3"></circle><circle cx="16" cy="36" r="2" fill="#0071B3"></circle><circle cx="24" cy="36.001" r="2" fill="#0071B3"></circle><circle cx="32" cy="36" r="2" fill="#0071B3"></circle><path d="M32.5 10h-17c-.828 0-1.5.672-1.5 1.5v3c0 .828.672 1.5 1.5 1.5h17c.83 0 1.5-.672 1.5-1.5v-3c0-.828-.67-1.5-1.5-1.5z" fill="#0071B3"></path></svg>
  		</span>
  		Reken het uit
  	</span>
  </p>
  <figure class="native-ad-media-viewer-fotos__logo">
  	<img src="/assets/components/hypotheek-advies/ABN_Amro.png" alt="ABN Amro">
  </figure>
</a>
<!-- /native-photoviewer-ad component -->
