$color-grey: #333;
$color-grey-border: #999;
$color-blue: #0071B3;
$color-blue-dark: #00517F;

@-webkit-keyframes nativeAdFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes nativeAdFadeIn {
	from { opacity:0; }
	to { opacity:1 }
}

@keyframes nativeAdFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

// the font url will diverge from font url used in {client} static, causing the files to be downloaded twice
// (once in the context of the website, once in the context of the iframe). In the future we can prevent
// this by applying a cachebuster strategy.
// TODO - update url of font
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-regular.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-regular.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-regular.ttf') format('truetype')
}

@font-face{
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-semibold.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-semibold.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_712/assets/components/app-fonts/proximanova-semibold.ttf') format('truetype')
}

.native-ad-media-viewer-fotos {
	max-width: 728px;
	height: 80px;
	font-family: 'Proxima Nova','Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;
	font-weight: 400;
	opacity: 0;
	text-decoration: none;
	display: block;
	cursor: pointer;
	color: $color-grey;
	border: solid 1px $color-grey-border;
	padding: 0.75em 14.5em 0.75em 1em;
	position: relative;
	font-size: 16px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 auto;

	&:hover { color: $color-grey;
		.native-ad-media-viewer-fotos__action {
			color: $color-blue-dark;
		}
	}

	animation: nativeAdFadeIn ease-in 1;
	-webkit-animation: nativeAdFadeIn ease-in 1;
	-moz-animation: nativeAdFadeIn ease-in 1;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;

	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;

	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;

	&__title {
		line-height: 1.4em;
		font-size: 20px;
		margin: 0;
	}

	&__description {
		margin: 0;
		line-height: 1.5em;
		font-size: 16px;
		height: 1.5em;
		overflow: hidden;
	}

	&__action {
		color: $color-blue;
		margin-left: 1em;
		display: inline-block;
		line-height: 1.5em;
	}

	&__icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    line-height: 1.625rem;
    background-size: cover;
    margin-right: 0;
    &:before{
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
	}

	&__logo {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1em;
		width: 12.5em;
		height: 2.5em;
		line-height: 2.5em;
		margin: 0;
		text-align: right;

		img {
			max-height: 100%;
			max-width: 100%;
			vertical-align: middle;
		}
	}
}
