{# The data-component="toggle-visibility" is only for highlighting in previews. Don't implement this in Razor. #}

{% macro toggleVisibility( ) %}

<div data-toggle-visibility>

    <div data-toggle-visibility-container >First</div>
    <div data-toggle-visibility-container="id2" class="is-hidden">Second</div>
    <div data-toggle-visibility-container="id3" class="is-hidden">Third</div>

    <button data-toggle-visibility-trigger>Trigger next</button>
    <button data-toggle-visibility-trigger="id2">Trigger second</button>
    <button data-toggle-visibility-trigger="id3">Trigger third</button>
</div>
{% endmacro %}

<div class="app-guide-example" data-guide-title="That's an example">
    {{ toggleVisibility() }}
</div>
<div class="app-guide-example" data-guide-title="That's the same example to prove that 2 toggles can coexist">
    {{ toggleVisibility() }}
</div>

