// Iframe specific for doelhypotheken styling
.sponsored-mortgage-doelhypotheken-frame {
	position: relative;

	&:after {
		display: block;
		content: '';
		clear: both;
	}

	input[type=email],
	input[type=file],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=url],
	textarea {
		width: 100%;
	    padding: 0.6875em 1em;
	    background-color: white;
	    border: 1px solid $grey-light;
	    border-radius: $default-radius;
	    appearance: none;
	    transition: border 200ms $quintic;

	    &:focus,
	    &:active{
	        border-color: $brand-bright-blue;
	        outline: none;
	    }

	    &.input-validation-error {
	        border-color: $red;
	    }
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin-bottom: 1.2em;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	label { display: block; }

	.input-has-sign {
		position: relative;

		.sign {
			position: absolute;
			top: 10px;
			left: 10px;
		}

		input { padding-left: 30px; }
	}

	#go {
		background-color: transparent;
		color: $blue;
		border: solid 1px $blue;
		width: 100%;
		margin-bottom: 1em;
	}

	.amount {
		color: $blue;
		font-size: 1.5em;
		display: block;
	}

	.money-calculation {
		border: solid 1px $grey-light;
		border-radius: $default-radius;
		padding: 0 0.625em;
		margin-bottom: 1em;

		p { margin: 0 0 10px; }

		.money-note {
			color: $grey;
			display: block;
		}

		li {
			padding: 1em 0 0.625em;
			margin-bottom: 0;
			border-top: solid 1px $grey-light;
			&:first-child {
				border-top: 0;
			}
		}
	}

	.doelhypotheken-result-money-title {
		margin: 0;
		line-height: 1.5em;
	}

	select {
		height: 44px;
		overflow: hidden;
		border: 1px solid #ccc;
		margin-right: 0.625em;
	}

	@media screen and (min-width: 631px) {
		select { margin-right: 0.25em; }

		#go {
			width: 8rem;
		}

		.money-calculation {
			padding-top: 0;
			padding-bottom: 0;
		}

		.doelhypotheken-calculate,
		.doelhypotheken-result {
			width: 50%;
			float: left;
			margin-bottom: 2em;
		}

		.doelhypotheken-result {
			width: calc(50% - 1.5em);
			margin-left: 1.5em;
		}

		label[for=doPartner] { margin-bottom: 1em; }

		.label-for-input {
			width: auto;
			float: left;
			margin-right: 1em;
		}
	}

	.doelhypotheken-make-appointment {
		@extend %button-primary;
		width: 100%;
	}

	.maandlasten-partner {
		border: solid 1px $natural-blue;
		margin-bottom: 1em;

		p { padding: 1em; margin: 0; }

		@media screen and (min-width: $bp-medium) {
			margin: 1.5em 0;
		}
	}
}
