// This stylesheet is for the elements which belong on {cleint}.nl
.sponsored-mortgage-page {
	iframe {
		width: 100%;
		height: 1200px;
	}

	@media screen and (min-width: 680px) {
		iframe {
			height: 800px;
		}
	}
}

.maandlasten-doelhypotheken-title {
	float: left;
	width: 100%;
	margin-bottom: 0.8em;
}

// doelhypotheken iframe html & body
html.app-doelhypotheken { min-width: 100%;
	body { min-width: 100%; }
}

.sponsored-mortgage-legal {
	font-size: 12px;
	line-height: 18px;
	color: $grey;
	margin: 2em 0;
	padding-top: 1em;
	border-top: solid 1px $grey-light;

	@media screen and (min-width: $bp-medium) {
		clear: both;
		margin-top: 0;
		float: left;
	}
}

.sponsored-mortgage-iframe-legal-wrapper {
	@media screen and (min-width: $bp-large) {
		@include span(8 of 12);
	}
}

.sponsored-mortgage-partner-attribution {
	padding: 1em 1em 0.7em;
	background-color: $natural-blue;
	margin: 0 0 1em;
	clear: both;

	img {
		margin-bottom: 0.3125em;
		display: block;
	}

	@media screen and (min-width: $bp-large) {
		@include span(8 of 12);
	}
}

.sponsored-mortgage-related-articles {
	margin: 2em 0 2.5em;

	// Variation on MLI related articles
	@media screen and (min-width: $bp-medium) and (max-width: $bp-large - 1) {
		clear: both;
		position: relative;

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		.cms-featured-list-title {
			font-size: 1em;
			margin-left: 1em;
		}

		.cms-featured-list-img {
			width: 5rem;
			height: 3.5rem;
		}
	}

	@media screen and (min-width: $bp-large) {
		@include span(4 of 12 last);
		padding: 1em;
		border: solid 1px $grey-light;
		border-radius: $default-radius;
		margin-top: 1.5em;
		h2 { margin-top: 0; }
	}
}
