{# The data-component="maandlasten-doelhypotheken" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- maandlasten-doelhypotheken component -->
<div class="sponsored-mortgage-doelhypotheken-frame" data-component="maandlasten-doelhypotheken">
	<div class="doelhypotheken-calculate">
		<form id="formmli" class="mli-app">
			<ul>
				<li>
					<label for="percAmountHouse">Vraagprijs woning</label>
					<div class="input-has-sign">
						<span class="sign">€</span>
						<input type="number" step="1" data-number-to-fixed="0" data-number-stepfactor="1" class="currency sat-trigger onlynumeric" name="amountHouse" id="amountHouse" min="20000" max="10000000" value="350000">
					</div>
				</li>

				<li>
					<label for="amountGrossYear">Bruto jaarinkomen</label>
					<div class="input-has-sign">
						<span class="sign">€</span>
						<input type="number" step="1" data-number-to-fixed="0" data-number-stepfactor="1" class="currency sat-trigger onlynumeric" name="amountGrossYear" id="amountGrossYear" min="0" max="5000000" value="50000">
					</div>
				</li>

				<li>
					<label for="birthdate">Geboortedatum</label>
					<div id="birthdatepicker"><fieldset class="birthday-picker undefined"><select id="birthday" class="birth-day form-control " name="birthday"><option value="">Dag:</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select><select id="birthmonth" class="birth-month form-control " name="birthmonth"><option value="">Maand:</option><option value="1">Januari</option><option value="2">Februari</option><option value="3">Maart</option><option value="4">April</option><option value="5">Mei</option><option value="6">Juni</option><option value="7">Juli</option><option value="8">Augustus</option><option value="9">September</option><option value="10">Oktober</option><option value="11">November</option><option value="12">December</option></select><select id="birthyear" class="birth-year form-control " name="birthyear"><option value="">Jaar:</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option><option value="1919">1919</option><option value="1918">1918</option><option value="1917">1917</option></select><input type="hidden" name="birthdate" id="birthdate" value="1-1-1981"></fieldset></div>
					<input type="hidden" name="age" id="age" value="35">
				</li>

				<li>
					<label for="mortgage">Hypotheekvorm</label>
					<label for="mortgageA" class="label-for-input">
						<input type="radio" name="mortgage" id="mortgageA" value="A" class="sat-trigger sat-mortgage" checked="">
						Annuïteiten
					</label>
					<label for="mortgageL" class="label-for-input">
						<input type="radio" name="mortgage" id="mortgageL" value="L" class="sat-trigger sat-mortgage">
						Lineair
					</label>
				</li>

				<li>
					<label for="doPartner">
						<input type="checkbox" name="doPartner" id="doPartner" checked="">
						Partner inkomen meenemen
					</label>

					<div id="usePartner">
						<ul>
							<li>
								<label for="amountGrossYearPartner">Bruto jaarinkomen</label>
								<div class="input-has-sign">
									<span class="sign">€</span>
									<input type="number" step="1" data-number-to-fixed="0" data-number-stepfactor="1" class="currency sat-trigger onlynumeric" name="amountGrossYearPartner" id="amountGrossYearPartner" min="0" max="1000000" value="15000">
								</div>
							</li>
							<li>
								<label for="birthdatePartner">Geboortedatum</label>
								<div id="birthdatepickerPartner"><fieldset class="birthday-picker undefined"><select id="birthday" class="birth-day form-control " name="birthday"><option value="">Dag:</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select><select id="birthmonth" class="birth-month form-control " name="birthmonth"><option value="">Maand:</option><option value="1">Januari</option><option value="2">Februari</option><option value="3">Maart</option><option value="4">April</option><option value="5">Mei</option><option value="6">Juni</option><option value="7">Juli</option><option value="8">Augustus</option><option value="9">September</option><option value="10">Oktober</option><option value="11">November</option><option value="12">December</option></select><select id="birthyear" class="birth-year form-control " name="birthyear"><option value="">Jaar:</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option><option value="1919">1919</option><option value="1918">1918</option><option value="1917">1917</option></select><input type="hidden" name="birthdatePartner" id="birthdatePartner" value="1-1-1981"></fieldset></div>
								<input type="hidden" name="agePartner" id="agePartner" value="35">
							</li>
						</ul>
					</div>
				</li>
			</ul>
			<button type="button" id="go">Bereken</button>
		</form>
	</div> <!-- doelhypotheken calculator -->

	<div class="doelhypotheken-result">
		<div class="doelhypotheken-result-money">
			<p class="doelhypotheken-result-money-title">Persoonlijke berekening</p>
			<ul class="money-calculation">
				<li>
					<span id="bMonthlyPayment" class="amount">€ <span>1.389</span></span>
					<span class="money-note">Bruto maandlast</span>
				</li>
				<li>
					<span id="nMonthlyPayment" class="amount">€ <span>1.177</span></span>
					<span class="money-note">Netto maandlast</span>
				</li>
				<li>
					<span id="amountOwn" class="amount">€ <span>58.255</span></span>
					<span class="money-note">Benodigd eigen geld</span>
				</li>
				<li>
		            <span id="amountMaxMortgage" class="amount">€ <span>221.451</span></span>
		            <span class="money-note">Max hypotheek</span>
				</li>
			</ul>
		</div>
		<a href="#doelhypotheken-contact" class="doelhypotheken-make-appointment" data-doelhypotheken-contact>Maak direct een afspraak</a>
	</div>

	<div class="doelhypotheken-contact" id="doelhypotheken-contact" data-doelhypotheken-contact-target style="display: none">
		<h4>Maak een vrijblijvende afspraak met doelhypotheken</h4>
		<input type="hidden" value="" name="utm_source" id="utm_source" class="utm" data-cookie="utm_source">
		<input type="hidden" value="" name="utm_medium" id="utm_medium" class="utm" data-cookie="utm_medium">
		<input type="hidden" value="" name="utm_content" id="utm_content" class="utm" data-cookie="utm_content">
		<input type="hidden" value="" name="utm_campaign" id="utm_campaign" class="utm" data-cookie="utm_campaign">
		<input type="hidden" value="Max Hypotheek" id="_pagetitle" name="_pagetitle">

		<form id="form-contact-" action="max-hypotheek.html" method="post" enctype="multipart/form-data" data-toggle="validator">
			<input name="nospam" type="hidden">
			<input type="hidden" value="" name="utm_source" id="utm_source" class="utm" data-cookie="utm_source">
			<input type="hidden" value="" name="utm_medium" id="utm_medium" class="utm" data-cookie="utm_medium">
			<input type="hidden" value="" name="utm_content" id="utm_content" class="utm" data-cookie="utm_content">
			<input type="hidden" value="" name="utm_campaign" id="utm_campaign" class="utm" data-cookie="utm_campaign">
			<input type="hidden" value="Max Hypotheek" id="_pagetitle" name="_pagetitle">

			<ul>
				<li>
					<label for="email" title="Email" class="">E-mail *</label>
					<input type="email" name="email" id="email" value="" class="email " required="">
				</li>
				<li>
					<label for="initials" class="">Voorletter(s)<span class="indicator-required">*</span></label>
					<input type="text" name="initials" id="initials" value="" class="" required="">
				</li>
				<li>
					<label for="gender_m" class="label-for-input">
						<input type="radio" name="gender_m" id="gender_m" value="m" class="" required="">
						Man
					</label>

					<label for="gender_v" class="label-for-input">
						<input type="radio" name="gender_v" id="gender_v" value="v" class="" required="">
						Vrouw
					</label>
				</li>
				<li>
					<label for="lastname" title="Lastname" class="[!+fi.error.lastname:isnotempty=`error`]]">Achternaam *</label>
					<input type="text" name="lastname" id="lastname" value="" class="capitalAllFirst [!+fi.error.lastname:isnotempty=`error`]]" required="">
				</li>
				<li>
					<label for="phone" class="">Telefoonnummer<span class="indicator-required">*</span></label>
					<input type="text" name="phone" id="phone" value="" class="" required="">
				</li>
				<li>
					<label for="zipcode" class="">Postcode<span class="indicator-required">*</span></label>
					<input type="text" name="zipcode" id="zipcode" value="" class="pcheck mask-zip " data-pcheck-params="#zipcode|#number|#addition" required="">
				</li>
				<li>
					<label for="number" class="">Huisnummer<span class="indicator-required">*</span></label>
					<input type="text" name="number" id="number" value="" class="pcheck onlynumeric " data-pcheck-params="#zipcode|#number|#addition" required="">
				</li>
				<li>
					<label for="addition">Toevoeging</label>
					<input type="text" name="addition" id="addition" value="" class="pcheck " data-pcheck-params="#zipcode|#number|#addition">
				</li>
			</ul>

			<div id="pcstatus-container" style="display:none"></div>
			<div id="pcresult-container" style="display:none">
				<label for="street" title="Street" class="">Straat *</label>
				<input type="text" name="street" id="street" value="" class="capitalFirst " readonly="" required="">

				<label for="city" title="City" class="">Woonplaats *</label>
				<input type="text" name="city" id="city" value="" class="capitalFirst " readonly="" required="">
			</div>

			<input value="Verstuur" name="submit" type="submit" class="button-primary-alternative">

		</form>
	</div>


</div>
<!-- /maandlasten-doelhypotheken component -->
