// Mixin to create pseudo element.
// Options are:
// 'before' (to create only pseudo ':before' of an element)
// 'after' (to create only pseudo ':after' of an element)
// By default (no argument) means both ':before' and ':after'
//
// Usage:
// .element {
//    @include pseudoBase('before'); => :before
//    @include pseudoBase('after'); => :after
//    @include pseudoBase; => both
// }
@mixin pseudoBase($type:'both') {
	@if type-of($type) != string {
		@warn "Assuming #{$type} to be in string of 'before', 'after', or 'both'";
		$type: 'both';
	} @else {
		@if ($type == 'before') {
			&:before {
				content: "";
				display: block;
				position: absolute;
				z-index: 1;
			}
		} @else if ($type == 'after') {
			&:after {
				content: "";
				display: block;
				position: absolute;
				z-index: 1;
			}
		} @else {
			&:before,
			&:after {
				content: "";
				display: block;
				position: absolute;
				z-index: 1;
			}
		}
	}
}

// Mixin to draw custom path. There are 3 types available:
// horizontal right top to bottom left, horizontal left top to bottom right, or vertical top to bottom left.
// mixin 'pathCustom' is used on mixin 'pathRoadBase'
@mixin pathCustom($customDirection: 'horizontal right top to bottom left') {
	@if ($customDirection == 'horizontal right top to bottom left') {
		width: 4rem;
		height: 4.125rem;
		background: url('../assets/components/cms-journey-step/images/path-h-righttop-to-bottomleft.svg') no-repeat;
	} @else if ($customDirection == 'horizontal left top to bottom right') {
		width: 4rem;
		height: 4.125rem;
		background: url('../assets/components/cms-journey-step/images/path-h-lefttop-to-bottomright.svg') no-repeat;
	} @else if ($customDirection == 'vertical top to bottom left') {
		width: 4.125rem;
		height: 3.9375rem;
		background: url('../assets/components/cms-journey-step/images/path-v-to-bottomleft.svg') no-repeat;
	}
}

// Mixin to draw the road-path.
// Arguments are:
// $unit => width or height of the road
// $position => x(left or right) then y(top or bottom)
// $x => left or right in pixel
// $y => top or bottom in pixel
// $type => 'vertical' or 'horizontal' (by default is 'vertical')
// REQUIRE @mixin pathCustom.
@mixin pathRoadBase($unit, $position, $x, $y, $type: 'custom', $customDirection: 'right top to bottom left', $yFF:$y) {
	@if ($type == 'vertical') {
		width: 2.0625rem;
		background: url('../assets/components/cms-journey-step/images/p-v.svg') repeat-y;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            background: url('../assets/components/cms-journey-step/images/p-v.png') repeat-y;
        }
		@if (unitless($unit)) {
			@warn "Assuming #{$x} to be in pixels";
			 $unit: 1px * $unit;
		} @else {
			height: $unit;
		}
	} @else if ($type == 'horizontal') {
		height: 2rem;
		background: url('../assets/components/cms-journey-step/images/p-h.svg') repeat-x;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            background: url('../assets/components/cms-journey-step/images/p-h.png') repeat-x;
        }

		@if (unitless($unit)) {
			@warn "Assuming #{$x} to be in pixels";
			 $unit: 1px * $unit;
		} @else {
			width: $unit;
		}
	} @else {
		@include pathCustom($customDirection);
	}

	@if ($position == 'left bottom') {
		left: $x;
		bottom: $y;
		@-moz-document url-prefix() {
			bottom: $yFF;
		}
	} @else if ($position == 'left top') {
		left: $x;
		top: $y;
		@-moz-document url-prefix() {
			top: $yFF;
		}
	} @else if ($position == 'right top') {
		right: $x;
		top: $y;
		@-moz-document url-prefix() {
			top: $yFF;
		}
	} @else {
		right: $x;
		bottom: $y;
		@-moz-document url-prefix() {
			bottom: $yFF;
		}
	}

	@content;

}

// Mixin to style images on the roadmap.
// $margin: margin of '.cms-journey-img img'
// $maxHeight: max height of '.cms-journey-img img'
// $maxWidth: max-width of '.cms-journey-img img'
// $width: optional width of '.cms-journey-img img'
@mixin imgStyling($margin:0, $maxHeight:none, $maxWidth:24.5rem, $width:100%) {
	margin: $margin;
	max-height: $maxHeight;
	max-width: $maxWidth;
	width: $width;
}

@mixin journeySteps($map) {
    @each $k, $v in $map {
        .journey-#{$k} {
            padding: map-get($v, padding);
            margin-bottom: -1.125rem;

            @-moz-document url-prefix() {
                margin-bottom: 0;
            }

            .cms-journey-img {
                @include pseudoBase;

                @if type-of($v) == map {
                    $roadmapBefore: map-get($v, imagePseudoBefore);
                    $roadmapAfter: map-get($v, imagePseudoAfter);

                    @if (map-get($v, imgStyling)) {
                        $imgStyling: map-get($v, imgStyling);
                        img {
                            @include imgStyling($imgStyling...);
                        }
                    }

                    &:before {
                        @include pathRoadBase($roadmapBefore...);
                    }
                    &:after {
                        @include pathRoadBase($roadmapAfter...);
                    }
                } @else {
                    @warn "Please see documentation to implement correctly."
                }
            }

            .cms-journey-content {
                @if (map-get($v, contentPseudo)) {
                    @include pseudoBase(map-get($v, contentPseudo));
                    @if (map-get($v, contentPseudo) == 'before') {
                        $roadmapBefore: map-get($v, contentPseudoBefore);
                        &:before {
                            @include pathRoadBase($roadmapBefore...);
                        }
                    } @else {
                        $roadmapBefore: map-get($v, contentPseudoBefore);
                        $roadmapAfter: map-get($v, contentPseudoAfter);
                        &:before {
                            @include pathRoadBase($roadmapBefore...);
                        }
                        &:after {
                            @include pathRoadBase($roadmapAfter...);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $bp-large) {
	.cms-journey-img img { max-width: 392px; }

	// Define all necessary information on each step:
	// imagePseudoBefore: pseudo element for '.cms-journey-img:before'
	// imagePseudoAfter: pseudo element for '.cms-journey-img:after'
	// padding: spacing for each step, by default we have 4.5rem vertical spacing
	// contentPseudo: pseudo element for '.cms-journey-content', can be empty, 'before', or 'after'
	// contentPseudoBefore: pseudo element for '.cms-journey-content:before'
	// contentPseudoAfter: pseudo element for '.cms-journey-content:after'
	// imgStyling: extra styling for positioning of image (see: @mixin imgStyling)
	$map: (
		'step-1': (
			imagePseudoBefore: (
				unit: 9.0625rem,
				position: 'left bottom',
				x: 14.125rem,
				y: -5.5rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 115px,
				position: 'left bottom',
				x: 12.125rem,
				y: -8.625rem,
				customDirection: 'vertical top to bottom left'
			),
			padding: 4.5rem 0,
			contentPseudo: 'before',
			contentPseudoBefore: (
				unit: 22.625rem,
				position: 'right bottom',
				x: 17.75rem,
				y: -8.625rem,
				type: 'horizontal'
			)
		),
		'step-2': (
			imagePseudoBefore: (
				unit: 11.8125rem,
				position: 'left top',
				x: 17.25rem,
				y: -6.25rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 25.625rem,
				position: 'left bottom',
				x: 27.5rem,
				y: -6.125rem,
				type: 'horizontal'
			),
			padding: 6rem 0 8rem,
			contentPseudo: 'both',
			contentPseudoBefore: (
				unit: 0,
				position: 'left top',
				x: 17.25rem,
				y: -9.5rem,
				yFF: -8.875rem,
				customDirection: 'horizontal right top to bottom left'
			),
			contentPseudoAfter: (
				unit: 0,
				position: 'right bottom',
				x: 4.375rem,
				y: -8.25rem,
				customDirection: 'horizontal left top to bottom right'
			),
			imgStyling: (
				maxWidth: 25.625rem,
				margin: 4.375rem 0 0 -0.5rem
			)
		),
		'step-3': (
			imagePseudoBefore: (
				unit: 12.25rem,
				position: 'right top',
				x: 4.375rem,
				y: -10rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 25.9375rem,
				position: 'right bottom',
				x: 25.625rem,
				y: -7.1875rem,
				type: 'horizontal'
			),
			padding: 4.5rem 0 11rem,
			imgStyling: (
				margin: 2.125rem -0.25rem 0 0,
				width: 24.3125rem
			)
		),
		'step-4': (
			imagePseudoBefore: (
				unit: 17.5rem,
				position: 'left bottom',
				x: 6.125rem,
				y: 13.875rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 16.875rem,
				position: 'left bottom',
				x: 27.5rem,
				y: -8.0625rem,
				type: 'horizontal'
			),
			padding: 4.5rem 0 12rem,
			contentPseudo: 'before',
			contentPseudoBefore: (
				unit: 0,
				position: 'left top',
				x: 6.125rem,
				y: -15.9375rem,
				yFF: -15.3125rem,
				customDirection: 'horizontal right top to bottom left'
			),
			imgStyling: (
				margin: 0.625rem 0 0,
				maxHeight: 26.5rem
			)
		),
		'step-5': (
			imagePseudoBefore: (
				unit: 16.25rem,
				position: 'right bottom',
				x: 13.5rem,
				y: 15.125rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 4.6875rem,
				position: 'left top',
				x: 3rem,
				y: 23.625rem,
				type: 'vertical'
			),
			padding: 4.5rem 0 9rem,
			contentPseudo: 'both',
			contentPseudoBefore: (
				unit: 0,
				position: 'right top',
				x: 13.5rem,
				y: -16rem,
				yFF: -15.4375rem,
				customDirection: 'horizontal left top to bottom right'
			),
			contentPseudoAfter: (
				unit: 0,
				position: 'left top',
				x: 31.75rem,
				y: 27.6875rem,
				yFF: 27.0625rem,
				customDirection: 'vertical top to bottom left'
			),
			imgStyling: (
				maxWidth: none,
				margin: 0 0 0  -2.1875rem,
				width: 34.0625rem
			)
		),
		'step-6': (
			imagePseudoBefore: (
				unit: 4.6875rem,
				position: 'right top',
				x: 13rem,
				y: -4.8125rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 30rem,
				position: 'left bottom',
				x: 27.3125rem,
				y: -8.3125rem,
				type: 'horizontal'
			),
			padding: 4.5rem 0 11rem,
			contentPseudo: 'both',
			contentPseudoBefore: (
				unit: 0,
				position: 'left top',
				x: 15.75rem,
				y: -8.3125rem,
				customDirection: 'horizontal right top to bottom left'
			),
			contentPseudoAfter: (
				unit: 13rem,
				position: 'left top',
				x: 19.3125rem,
				y: -8.25rem,
				type: 'horizontal'
			),
			imgStyling: (
				maxWidth: 25.625rem,
				margin: -1.5625rem 0 0
			)
		),
		'step-7': (
			imagePseudoBefore: (
				unit: 22.1875rem,
				position: 'right bottom',
				x: 0.25rem,
				y: 8.3125rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 24.5rem,
				position: 'right top',
				x: 30.625rem,
				y: 25.9375rem,
				type: 'horizontal'
			),
			padding: 4.5rem 0 11rem,
			contentPseudo: 'before',
			contentPseudoBefore: (
				unit: 0,
				position: 'right top',
				x: 0.25rem,
				y: -14.8125rem,
				yFF: -14.25rem,
				customDirection: 'horizontal left top to bottom right'
			),
			imgStyling: (
				margin: 10.1875rem 0 0,
				maxWidth: 100%
			)
		),
		'step-8': (
			imagePseudoBefore: (
				unit: 20rem,
				position: 'left top',
				x: 2.5625rem,
				y: -10.625rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 24.0625rem,
				position: 'left bottom',
				x: 29.875rem,
				y: -8.375rem,
				type: 'horizontal'
			),
			padding: 4.5rem 0 12rem,
			contentPseudo: 'before',
			contentPseudoBefore: (
				unit: 0,
				position: 'left top',
				x: 2.5625rem,
				y: -13.9375rem,
				yFF: -13.3125rem,
				customDirection: 'horizontal right top to bottom left'
			),
			imgStyling: (
				margin: 9.3125rem 0 0,
				maxWidth: 100%
			)
		),
		'step-9': (
			imagePseudoBefore: (
				unit: 14.875rem,
				position: 'right bottom',
				x: 3.75rem,
				y: 15.625rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 10.625rem,
				position: 'right top',
				x: 30.3125rem,
				y: 24.1875rem,
				yFF: 24.1875rem,
				type: 'horizontal'
			),
			padding: 4.5rem 0 9rem,
			contentPseudo: 'before',
			contentPseudoBefore: (
				unit: 0,
				position: 'right top',
				x: 3.75rem,
				y: -15.75rem,
				yFF: -15.125rem,
				customDirection: 'horizontal left top to bottom right'
			),
			imgStyling: (
				margin: 1.6875rem 0 0,
				maxWidth: 100%
			)
		),
		'step-10': (
			imagePseudoBefore: (
				unit: 12.625rem,
				position: 'right bottom',
				x: 10.8125rem,
				y: 15.75rem,
				type: 'vertical'
			),
			imagePseudoAfter: (
				unit: 13.75rem,
				position: 'left bottom',
				x: 17.8125rem,
				y: 28.25rem,
				yFF: 27.75rem,
				customDirection: 'horizontal right top to bottom left'
			),
			padding: 4.5rem 0 9rem,
			imgStyling: (
				margin: 2.8125rem 0 0 0.125rem
			)
		),
	);

	@include journeySteps($map);

	.journey-step-2,
	.journey-step-8	{
		.related-articles,
		ul {
			margin-left: 5rem;
		}
	}
}
