%cms-list-base {
	padding: 0;
	list-style: none;

	li {
		padding-left: 1.5em;
		position: relative;
		overflow: hidden;


		&:before,
		a:before {
			width: 0.3125rem;
			height: 0.3125rem;
			content: '';
			display: block;
			border-radius: 50%;
			background: $grey-darker;
			position: absolute;
			top: 0.5625rem;
			left: 0.1875rem;
		}

		a {
			font-weight: $font-weight-semibold;

			&:before {
				background: $blue;
			}
		}
	}
}

.cms-journey-left-aligned,
.cms-journey-right-aligned {
	padding: 2rem 0;

	a { font-weight: $font-weight-semibold; }

	p:not(.journey-intro) {
		margin-bottom: 0.5em;
	}

	.related-lists {
		@extend %cms-list-base;
	}

	@media screen and (min-width: $bp-medium) {
		padding: 3rem 0;

		.container {
			position: relative;
            min-height: 18.75rem;
		}
	}

	@media screen and (min-width: $bp-large) {
		padding: 4.5rem 0;

		.related-lists {
			position: absolute;
			min-height: 4.5rem;
            margin-top: 3em;
		}
	}
}

.cms-journey-step-header {
	margin-top: 0;
	text-align: center;

	a {
		color: $grey-darker;
	}

	span {
		font-weight: normal;
	}
}

.related-articles {
	color: $grey;
	font-size: 1.2em;
	line-height: 1.25em;
	font-weight: $font-weight-semibold;
    @media screen and (min-width: $bp-large) {
        position: absolute;
        height: 1.5em;
    }
}

.journey-link {
	display: block;
	margin-top: 0.5em;
}

.cms-journey-left-aligned {
	@media screen and (min-width: $bp-medium) {
		.cms-journey-img {
			right: 0;
			top: 0;
		}
	}
}

.cms-journey-right-aligned {
	background-color: $natural-blue;

	@media screen and (min-width: $bp-medium) {
        .cms-journey-img {
        	position: absolute;
        	top: 0;
        	left: 0;
        }
        .cms-journey-content {
        	margin-left: 50%;
        }
	}
}

.cms-journey-content {
	@media screen and (min-width: $bp-medium) { width: 50%; }
}

.cms-journey-img {
	text-align: center;
	margin-top: 2rem;
	line-height: 18.75rem;

	img {
		max-width: 80%;
		vertical-align: middle;
	}

	@media screen and (min-width: $bp-medium) {
		width: 50%;
		position: absolute;
		height: 100%;
		margin: 0;
	}

	@media screen and (min-width: $bp-large) {
		img {
			z-index: 2;
		}
	}
}

@import "journey-path";
