{# The data-component="cms-journey-step" is only for highlighting in previews. Don't implement this in Razor. #}

{% macro cmsJourneyStep(
    alignment="left",
    extraClass="",
    step="Step H1",
    title="Step H1 - text",
    intro="Step introduction",
    ctaLinkText="Click to Action",
    ctaLinkURL="Doe de check ",
    subLinkTexts,
    subLinkText1="Bullet text 1",
    subLinkText2="Bullet text 2",
    subLinkText3="Bullet text 3",
    subLinkText4="",
    subLinkText5="",
    cmsJourneyImg="cms-journey-step01"
    )
%}


<section class="cms-journey-step
	{% if alignment == "left" %}cms-journey-left-aligned
	{% else %}cms-journey-right-aligned{% endif %} {{ extraClass }}"
	data-component="cms-journey-step">

	<h1 class="cms-journey-step-header">
		<a href="{{ ctaLinkURL }}" alt="{{ step }}: {{ title }}">{{ step }}: <span>{{ title }}</span></a>
	</h1>

	<article class="container">
		<div class="cms-journey-content">
			<p class="journey-intro">
				{{ intro }}
				<a href="#external" class="cms-external-url">Test external URL</a>
				<a href="{{ ctaLinkURL }}" class="journey-link">{{ ctaLinkText }} <span class="icon-arrow-right-blue"></span></a>
			</p>

			<p class="related-articles">Lees ook:</p>
			<ul class="related-lists">
				{% for list in subLinkTexts %}
					<li><a href="#">{{ list.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="cms-journey-img">
			<picture>
				<source
						srcset="../../assets/components/cms-journey-step/images/{{ cmsJourneyImg }}.svg"
						media="(min-width: 769px)" />
				<source
						srcset="../../assets/components/cms-journey-step/images/{{ cmsJourneyImg }}-mobile.svg"
						media="(min-width: 200px)" />
				<img
						src="../../assets/components/cms-journey-step/images/{{ cmsJourneyImg }}.png"
			            srcset="../../assets/components/cms-journey-step/images/{{ cmsJourneyImg }}.svg"
						alt="{{ title }}" />
			</picture>
		</div>
	</article>
</section>
{% endmacro %}

{% set subLinkTextOpt1 = [
	{ text: 'Om deze redenen wil je een aankoopmakelaa' },
	{ text: '‘Wij verdienen onszelf echt terug’' },
	{ text: 'Zonder emotie betaal je niet snel te veel' }
] %}

<div class="app-guide-example" data-guide-title="CMS Journey Step - alignment right">
    {{ cmsJourneyStep(
	    alignment="right",
	    extraClass="journey-2",
	    step="Stap 2",
	    title="Snuffelen",
	    intro="Je speelt met het idee om te verhuizen. Groter of juist goedkoper, groener of weer terug naar 'jouw stadje'. Er zijn acht factoren die - grofweg - bepalen hoe jouw droomwens eruit ziet. Van je gezinssituatie tot de situatie over een jaar of vijf.",
	    ctaLink="Doe de check ",
	    subLinkTexts=subLinkTextOpt1,
	    cmsJourneyImg="cms-journey-step02"
    ) }}
</div>
