$fonts: 'Proxima Nova','Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;
$native-textlinkbanner-blue: #3888C5;
$native-textlinkbanner-height: 20px;

@-webkit-keyframes nativeTextlinkBannerFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes nativeTextlinkBannerFadeIn {
	from { opacity:0; }
	to { opacity:1 }
}

@keyframes nativeTextlinkBannerFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

// the font url will diverge from font url used in {client} static, causing the files to be downloaded twice
// (once in the context of the website, once in the context of the iframe). In the future we can prevent
// this by applying a cachebuster strategy.
// TODO - update url of font
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.ttf') format('truetype')
}

@font-face{
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.ttf') format('truetype')
}

.native-textlink-banner {
	overflow: hidden;
	display: inline-block;
	font-family: $fonts;
	text-decoration: none;
	color: $native-textlinkbanner-blue;
	opacity: 0;

	animation: nativeTextlinkBannerFadeIn ease-in 1;
	-webkit-animation: nativeTextlinkBannerFadeIn ease-in 1;
	-moz-animation: nativeTextlinkBannerFadeIn ease-in 1;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;

	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;

	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;

	img {
		$imgspacing: 3px;
		max-width: $native-textlinkbanner-height;
		max-height: $native-textlinkbanner-height;
		vertical-align: middle;
		margin-left: $imgspacing;
		border: 0;
	}

	.body-ad-desktop & { padding: 0; }
}

