{# The data-component="native-textlink-banner" is only for highlighting in previews. Don't implement this in Razor. #}
{% from "components/advertisements/advertisements.html" import advertisementSlot %}

<h2>Testing using `advertisementSlot`</h2>
<span class="textlink-banner">
    {{ advertisementSlot(lazyInit="data-advertisement-lazy data-advertisement-lazy-onscroll data-advertisement-lazy-threshold=200", sizeDefault="[ 60,20 ]", lokID="5001", adUnitPath="/6835/{client}.koop/overzicht", sizeMapping="[ [ [ 1200, 0 ], [ [60,20], &quot;fluid&quot; ] ], [ [ 768, 0 ], [ [ 60,20 ], &quot;fluid&quot; ] ], [ [ 0, 0 ], [ [ 60,20 ], &quot;fluid&quot; ] ] ]") }}
</span>

<style>
@-webkit-keyframes nativeTextlinkBannerFadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes nativeTextlinkBannerFadeIn{from{opacity:0}to{opacity:1}}@keyframes nativeTextlinkBannerFadeIn{from{opacity:0}to{opacity:1}}@font-face{font-family:'Proxima Nova';font-weight:400;font-style:normal;src:url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff2") format("woff2"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff") format("woff"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.ttf") format("truetype")}@font-face{font-family:'Proxima Nova';font-weight:600;font-style:normal;src:url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff2") format("woff2"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff") format("woff"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.ttf") format("truetype")}.native-textlink-banner{overflow:hidden;display:inline-block;font-family:"Proxima Nova","Open Sans","Helvetica Neue","Helvetica",Arial,sans-serif;text-decoration:none;color:#3888C5;line-height:20px;opacity:0;animation:nativeTextlinkBannerFadeIn ease-in 1;-webkit-animation:nativeTextlinkBannerFadeIn ease-in 1;-moz-animation:nativeTextlinkBannerFadeIn ease-in 1;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;animation-duration:0.2s;-webkit-animation-duration:0.2s;-moz-animation-duration:0.2s}.native-textlink-banner img{max-width:20px;max-height:20px;vertical-align:middle}.body-ad-desktop .native-textlink-banner{padding:0}
</style>

<!-- native-textlink-banner component -->
<a class="native-textlink-banner" target="_blank" href="%%CLICK_URL_ESC%%%%DEST_URL%%" data-component="native-textlink-banner">
    Wat zijn mijn maandlasten?
    <img title="Advertentie" src="/assets/components/native-textlink-banner/images/logo.gif" alt="[%AltTag%]">
</a>
<!-- /native-textlink-banner component -->
