$font-path: 'components/app-fonts/'; // path from dist/assets/ to dist/assets/components/app-fonts/

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-style: normal;
    src: url($font-path + 'proximanova-regular.woff2') format('woff2'),
         url($font-path + 'proximanova-regular.woff') format('woff'),
         url($font-path + 'proximanova-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: normal;
    src: url($font-path + 'proximanova-semibold.woff2') format('woff2'),
         url($font-path + 'proximanova-semibold.woff') format('woff'),
         url($font-path + 'proximanova-semibold.ttf') format('truetype');
}
