.hypotheek-box {
    margin-top: 1rem;
    border: solid 1px $grey-light;

    &--base {
        header {
            position: relative;
            padding: 1rem;
            min-height: 4.25rem;
        }
    }

    img {
        width: auto;
        max-height: 2.25rem;
        max-width: 12.5rem;
        height: auto;
        vertical-align: middle;
    }

    &__warning {
        margin-top: 0;
        margin-bottom: 0;
    }

    &--nb1427 {
        border: 0;

        &__content {
            p {
                margin: 0.5rem 0 1rem;
            }

            img {
                display: block;
                margin-bottom: 1.5rem;
            }
        }

        > header {
            margin-top: 1rem;
        }

        .hypotheek-advies__text {
            margin-left: 0;
        }

        .hypotheek-form-handle small {
            margin: 0;
        }

        .hypotheek-advies__optional {
            float: none;
            display: block;
            line-height: 1.25rem;
            @media screen and (min-width: $bp-medium) {
                float: right;
            }
        }
    }
}

.hypotheek-advies {
    &__text {
        margin: 0;
        padding: 0.25rem 0 0;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: $font-weight-semibold;

        @media screen and (min-width: $bp-large) {
            padding: 0.75rem 0 0.25rem;
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }

    &__optional {
        float: right;
        color: $grey-dark;
        font-size: 0.75em;
        line-height: 1.333em;
    }

    .labels > label:first-child:after {
        display: inline-block;
        content: '+';
        margin: 0 5px;
    }

    &.is-expanded {
        .hypotheek-box { margin-bottom: 1rem;  }
        .hypotheek-advies-form {
            height: auto;
            opacity: 1;
            overflow: visible;
        }
        .hypotheek-form-handle:before {
            @extend %checkbox-checked;
        }
    }
}

.hypotheek-form-handle {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    display: block;
    margin-right: 0px;

    &:before {
        @extend %checkbox-fx;
        position: absolute;
        top: 2px;
        left: 0;
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
    }

    &:hover {
        &:before { border: 3px solid $link-primary-color-hover; }
    }

    small {
        display: block;
        color: $grey;
    }
}

.hypotheek-box-spacing {
    padding: 0 1rem;

    p { margin: 0 0 1rem; }

    &--grey {
        background-color: $grey-lighter;
        border-top: 1px solid $grey-light;
        padding: 1rem;
    }
}

.hypotheek-advies-form {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s;
    $narrowWidth: 30%;
    $reservedSpace: 5px;
    .form-input-wide { width: calc(100% - #{$narrowWidth} - #{$reservedSpace}); }
    .form-input-narrow { width: $narrowWidth; }
    &__footer-note { margin-bottom: 0.75rem; }
}

@media screen and (min-width: $bp-large) {
    .hypotheek-box {
        margin-top: 0;
    }
}
