{# The data-component="native-kantoor-ad" is only for highlighting in previews. Don't implement this in Razor. #}
{% from "components/advertisements/advertisements.html" import advertisementSlot %}

<h2>Testing using `advertisementSlot`</h2>
<aside class="advertisement" id="ad-2" data-component="advertisements" data-advertisement="" data-advertisement-lok="2002" data-advertisement-adunit-path="/6835/{client}.koop" data-advertisement-size-mapping='[ [ [ 729, 0 ], [&quot;fluid&quot;] ], [ [ 0, 0 ], [ &quot;fluid&quot; ] ] ]' data-advertisement-size-default="[ 728,90]" data-advertisement-init="" data-advertisement-user-id="98361e30-46d3-47ec-80fa-596af56f2d59" data-advertisement-categories-url="/stubs/components/advertisements/1234.json"></aside>

<h2>Static (non DFP)</h2>
<!--
  native-list-item-ad component
  Inline CSS is needed for comparison purpose because we don't include native-list-item-ad on F.Static.
-->
<style type="text/css">
@-webkit-keyframes nativeAdFadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes nativeAdFadeIn{from{opacity:0}to{opacity:1}}@keyframes nativeAdFadeIn{from{opacity:0}to{opacity:1}}@font-face{font-family:'Proxima Nova';font-weight:400;font-style:normal;src:url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff2") format("woff2"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff") format("woff"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.ttf") format("truetype")}@font-face{font-family:'Proxima Nova';font-weight:600;font-style:normal;src:url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff2") format("woff2"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff") format("woff"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.ttf") format("truetype")}.native-kantoor-ad{padding:1em;font-family:'Proxima Nova','Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;line-height:1.5em;font-weight:400;text-align:left;display:block;position:relative;text-decoration:none;color:#000;background-color:#f5f5f5;opacity:0;animation:nativeAdFadeIn ease-in 1;animation-fill-mode:forwards;animation-duration:0.3s;animation-delay:0.3s;overflow:hidden}.native-kantoor-ad p{margin:0}.native-kantoor-ad a{text-decoration:none;color:#3888C5;transition:color 0.2s;display:block;cursor:pointer}.native-kantoor-ad a:hover{color:#275F89}.native-kantoor-ad__cta{height:1.375em;overflow:hidden}.native-kantoor-ad__cta a{position:relative;padding-right:0.625em;display:inline-block}.native-kantoor-ad__cta a:after{content:"❯";position:absolute;top:50%;right:0;font-size:11px;line-height:1;margin-top:-4px}.native-kantoor-ad__location{font-style:italic}.native-kantoor-ad__label-adv{display:inline-block;font-weight:600;color:#fff;background-color:#d6d6d6;font-size:0.75em;line-height:2em;padding:0 0.6667em;position:absolute;top:0.6667em;right:0.6667em}.native-kantoor-ad__main-img{margin:0}.native-kantoor-ad__main-img img{max-width:100%;vertical-align:top}.native-kantoor-ad__main-content{margin-top:0.5em}.native-kantoor-ad__description{height:4.375em;overflow:hidden}.native-kantoor-ad__title{font-weight:600;font-size:1em;margin:0.375em 0 0;line-height:1.375em;color:#3888C5;height:2.75em;overflow:hidden}@media (min-width: 484px){.native-kantoor-ad{padding:0;min-height:9.5em;margin-left:1em;margin-right:1em}.native-kantoor-ad__description{max-height:4.375em;overflow:hidden}.native-kantoor-ad__description p{min-height:1.375em}.native-kantoor-ad__title{padding-right:2.8125em}.native-kantoor-ad__main-img{position:absolute;top:0;left:0;width:14.25em;height:9.5em;min-height:auto}.native-kantoor-ad__cta{position:absolute;bottom:0.5em}.native-kantoor-ad__main-content{margin:0 0 0 15.75em}}
</style>

<!-- native-kantoor-ad component -->
<div class="native-kantoor-ad" data-component="native-kantoor-ad">
  <figure class="native-kantoor-ad__main-img">
    <a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank"><img src="/assets/components/native-kantoor-ad/images/krk.jpg" alt="Kuijs Reinder Kakes Amsterdam"></a>
  </figure>

  <div class="native-kantoor-ad__main-content">
    <h3 class="native-kantoor-ad__title"><a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank">Kuijs Reinder Kakes Amsterdam Amsterdam</a></h3>
    <div class="native-kantoor-ad__description">
      <p class="native-kantoor-ad__subtitle">Kennis van vastgoed in in Noord-Holland sinds 1922</p>
      <p class="native-kantoor-ad__location">Gevestigd in Amsterdam</p>
    </div>
    <p class="native-kantoor-ad__cta"><a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank">Meer informatie over deze makelaar</a></p>
  </div>
  <span class="native-kantoor-ad__label-adv">Adv</span>
</div>
<!-- /native-kantoor-ad component -->
