/* CSS are mostly from the existing {client} wu
fontfamily #333;
$grey-light: #666;

/* Fonts */
@font-face{
  font-family: "fontfamily";
  font-weight: 400;
  src: url('//content.{client}.nl/fontfamily-regular-webfont.eot');
  src: url('//content.{client}.nl/fontfamily-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('//content.{client}.nl/fontfamily-regular-webfont.woff') format('woff'),
       url('//content.{client}.nl/fontfamily-regular-webfont.ttf') format('truetype');
}

@font-face{
  font-family: "fontfamily";
  font-weight: 600;
  src: url('//content.{client}.nl/fontfamily-semibold.eot');
  src: url('//content.{client}.nl/fontfamily-semibold.eot?#iefix') format('embedded-opentype'),
       url('//content.{client}.nl/fontfamily-semibold-webfont.woff') format('woff'),
       url('//content.{client}.nl/fontfamily-semibold-webfont.ttf') format('truetype');
}

/* Base */
body, .wufoo {
  font-family: "fontfamily", "Arial",
  sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 600;
}

#container {
  max-width: 760px;
  width: auto;
}

/* Forms */
input:not([type=submit]):not([type=button]),
textarea.textarea {
  border: 1px solid #ccc;
  background: #fff;
  padding: 8px 11px;
  box-sizing: border-box;
  border-radius: 2px;
  appearance: none;
}

input {
  &.checkbox,
  &.radio {
    position: relative;
    top: 2px;
  }
}

input.small, select.small { width: 50%; }

#logo,
#errorLi,
.likert thead,
.likert caption { display: none !important; }

/* General */
form li, form li.section div, form li.buttons { font-size: inherit; margin: 0 0 1.5em 0; padding: 0; }
form li.focused { background-color: transparent !important; }
form span.req { color: #c00 !important; }
form li.likert { margin: 0; padding: 0; }

.wufoo li div,
.wufoo li span,
.wufoo li div label,
.wufoo li span label,
.wufoo label.desc,
.wufoo legend.desc {
  color: $grey-dark;
  font-size: inherit;
  font-weight: normal;
}

.wufoo li label.desc span,
.wufoo li.focused label.desc span {
  color: $grey-light;
}

.likert caption,
.likert tbody th label {
  font-size: inherit;
}

form.wufoo {
  margin: 0;
  padding: 0;

  @at-root & { padding: 0; }
}

.embed #container { max-width: 100%; }

#header {
  border-bottom: none;
  margin: 0;
  padding: 0;

  h2 {
    color: $grey-dark;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0;
  }
}

/* First sub header */
form li {
  &.section.first {
    div { font-size: 15px; }
    p { margin: 0 0 1.6em; }
    h3 {
      color: $grey-light;
      font-size: 1.25rem;
      margin: 0 0 1em;
      padding: 0;
    }
  }

  /* Pagination */
  &.buttons {
    border-top: 1px solid #e7f1f5;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5em;

    .marker,
    .marker b {
      color: $grey-light;
      font-size: 11px;
      font-weight: normal;
      margin-top: 1.5em;
    }
  }
}

/* Buttons */
input.btTxt {
  background: #F7A100;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px !important;
  font-weight: normal;
  line-height: 21px;
  margin-bottom: 0;
  padding: 0.5em 1.5em;
  text-align: center;
  vertical-align: middle;
  width: 224px;
  appearance: none;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 rgba(0, 0, 0, 0.1);
  height: 44px;

  &:focus,
  &:hover {
    background-color: #DE9000;
    outline: none;
  }
}

button.link {
  color: #36c !important;
  margin-left: 0.5em;
  text-decoration: none;
}

#errorMsgLbl {
  color: #000 !important;
  font-size: inherit;
}

#errorMsg b {
  color: #df0000 !important;
}

form li.error {
  background-color: transparent !important;
  margin: 0 !important;
}

form p.error {
  font-weight: normal;
  font-size: inherit;
  margin-bottom: 2em !important;
  margin-top: 1em !important;
  padding: 0 !important;
}

/* Confirmation */
.confirm h2 {
  color: #000;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  text-align: left;
}

/* Base Likert */
.likert table {
  margin-bottom: 0;
}

/* Responsive likert table: somewhat small screen (not mobile first) */
.likert table,
.likert tbody,
.likert th,
.likert td,
.likert tr {
  border: 0;
  display: block;
}

/* Responsive likert table: generic */
.likert table {
  border: 0;
}

.likert tbody,
.likert tbody tr {
  display: block;
}

.likert tbody tr {
  overflow: auto;
  margin-bottom: 1.5rem;
}
.likert caption,
.likert thead td,
.likert tbody th label {
  color: inherit;
}

/* Responsive likert table: question */
.likert tbody th {
  padding: 0 0 2rem 0;
  label {
    font-weight: normal;
  }
}
.likert tbody tr:hover th,
.likert tbody tr:hover label {
  background-color: transparent;
  color: inherit;
}

/* Responsive likert table: likert */
.likert tbody td {
  box-sizing: border-box;
  position: relative;
  display: block;
  float: left;
  padding: 1rem 0;

  &[title="Zeer af te raden"],
  &[title="Zeer aan te raden"] {
    position: relative;
    > label {
      color: inherit;
      &:before {
        position: absolute;
        top: -19px;
        width: 100%;
        height: 24px;
        font-size: 12px;
        line-height: 1;
        display: block;
        min-width: 100px;
      }
    }

    &:after {
      position: absolute;
      width: 15px;
      top: -24px;
      display: block;
   }
  }

  &[title="Zeer af te raden"] {
    > label {
      &:before {
        content: 'Zeer af te raden';
        left: 20px;
        text-align: left;
      }
    }

    &:after {
      content: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%3Ctitle%3Ethumbs-down.colors-blue-greyDark%3C%2Ftitle%3E%3Cpath%20d%3D%22M43.32%2022.34c-.9-3.94-3.18-12-3.25-12.22a5.78%205.78%200%200%200-5.86-4.24h-7.05a11.56%2011.56%200%200%200-5.09.9L21.6%207a10.14%2010.14%200%200%201-5.21%201.74H16V7.5A1.5%201.5%200%200%200%2014.5%206h-9A1.5%201.5%200%200%200%204%207.5v21A1.5%201.5%200%200%200%205.5%2030h9a1.5%201.5%200%200%200%201.5-1.5v-1.06a35.71%2035.71%200%200%200%204%202.94c.56.34%202.52%202.1%204.25%2010.3a1.5%201.5%200%200%200%201%201.12%205.24%205.24%200%200%200%201.46.2%204.84%204.84%200%200%200%202.91-.93c1.6-1.16%202.38-3.27%202.38-6.26a45.62%2045.62%200%200%200-.44-5.71h7.2a6.32%206.32%200%200%200%203.91-2.48%205.31%205.31%200%200%200%20.65-4.28zM7%209h6v18H7zm33.2%2015.93a3.3%203.3%200%200%201-1.84%201.17h-8.52a1.5%201.5%200%200%200-1.48%201.76%2049.31%2049.31%200%200%201%20.66%207c0%201.91-.41%203.28-1.15%203.84a1.8%201.8%200%200%201-.93.34c-1.4-6.15-3.16-9.81-5.38-11.17a41.48%2041.48%200%200%201-5.47-4.3l-.09-.1V11.78h.38a13%2013%200%200%200%206.72-2.14l.44-.25a9.14%209.14%200%200%201%203.57-.51h7.1a2.76%202.76%200%200%201%203%202c0%20.08%202.35%208.28%203.24%2012.15a2.41%202.41%200%200%201-.25%201.9z%22%2F%3E%3C%2Fsvg%3E');
      left: 0;
    }
  }

  &[title="Zeer aan te raden"] {
    > label {
      &:before {
        content: 'Zeer aan te raden';
        right: 20px;
        text-align: right;
      }
    }

    &:after {
      content: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%3Ctitle%3Ethumbs-up.colors-blue-greyDark%3C%2Ftitle%3E%3Cpath%20d%3D%22M42.69%2021.4a6.32%206.32%200%200%200-3.91-2.48h-7.2a45.62%2045.62%200%200%200%20.42-5.73c0-3-.8-5.1-2.38-6.26a5.16%205.16%200%200%200-4.37-.73%201.5%201.5%200%200%200-1%201.12c-1.73%208.21-3.69%2010-4.25%2010.3a35.7%2035.7%200%200%200-4%202.94V19.5a1.5%201.5%200%200%200-1.5-1.5h-9A1.5%201.5%200%200%200%204%2019.5v21A1.5%201.5%200%200%200%205.5%2042h9a1.5%201.5%200%200%200%201.5-1.5v-1.28h.38A10.15%2010.15%200%200%201%2021.6%2041l.46.27a10.78%2010.78%200%200%200%204.68.9h7.47A5.77%205.77%200%200%200%2040%2038c.1-.34%202.37-8.36%203.27-12.3a5.31%205.31%200%200%200-.58-4.3zM7%2021h6v18H7zm33.4%204c-.89%203.87-3.21%2012.07-3.26%2012.23a2.74%202.74%200%200%201-2.94%201.91h-7.13a9.07%209.07%200%200%201-3.53-.51l-.44-.25a13%2013%200%200%200-6.73-2.14H16V24.53l.09-.06a41.47%2041.47%200%200%201%205.47-4.3c2.22-1.36%204-5%205.38-11.17a1.8%201.8%200%200%201%20.93.34c.74.56%201.15%201.93%201.15%203.84a49.31%2049.31%200%200%201-.66%207%201.5%201.5%200%200%200%201.48%201.76h8.52a3.33%203.33%200%200%201%201.83%201.16%202.4%202.4%200%200%201%20.21%201.9z%22%2F%3E%3C%2Fsvg%3E');
      right: 0;
    }
  }
}
.likert tbody td, .likert tbody tr:hover td {
  border: 1px solid #ddd; border-left: 0;
  width: calc(100%/5);
}

.likert tbody td:before {
  display: block;
  white-space: nowrap;
}

.likert tbody td:nth-of-type(1) {
  border-left: 1px solid #ddd !important;
}

/* Responsive likert table: IE9 fix (Wufoo add a msie9 class to the root) */
.msie9 .likert tbody th { margin-top: 1.5rem; float: left; }
.msie9 .likert tbody tr:first-child th { margin-top: 0; }
.msie9 .likert tbody td:nth-of-type(1) { clear: left; }

$list: 5;
@while $list > 0 {
  .likert tbody td:nth-of-type(#{$list}):before { content: "#{$list}"; }
  $list: $list - 1
}

/* Responsive likert table: background colors */
.likert tbody td,
.likert tbody tr:hover td,
.likert tbody tr.alt td,
.likert tbody tr.alt th {
  background-color: transparent;
}

.likert tbody tr td:hover {
  background-color: #f5fcfe !important;
}

/* Responsive likert table: labels */
.likert tbody td label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  color: rgba(255, 255, 255, 0);
  display: block;
}
