<!--
    The HTML is generated from Wufoo.
-->
<div id="container" class="ltr">
    <h1 id="logo">
        <a href="http://www.wufoo.com/?t=o2j5o6" title="Powered by Wufoo">Wufoo</a>
    </h1>

    <form id="form94" name="form94" class="wufoo topLabel page1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://{client}nl.wufoo.eu/forms/beveel-jij-deze-nieuwe-diensten-aan/">

        <header id="header" class="info">
            <h2>Beveel jij deze nieuwe diensten aan?</h2>
            <div>Wij proberen je zo goed mogelijk te helpen ná de koop van je nieuwe huis. Maar jij bent op dit moment de ervaringsdeskundige.</div>
        </header>

        <ul>
            <li id="fo94li103" class="likert notranslate col5 hideNumbers">
                <table cellspacing="0">
                    <caption id="title103"></caption>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <td>Zeer af te raden</td>
                            <td>Af te raden</td>
                            <td>Neutraal</td>
                            <td>Aan te raden</td>
                            <td>Zeer aan te raden</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="statement103">
                            <th>
                                <label for="Field103">Raad jij deze diensten rondom je nieuwe huis aan bij familie en vrienden?</label>
                            </th>
                            <td title="Zeer af te raden">
                                <input id="Field103_1" name="Field103" type="radio" tabindex="1" value="Zeer af te raden" onchange="handleInput(this);">
                                <label for="Field103_1">1</label>
                            </td>
                            <td title="Af te raden">
                                <input id="Field103_2" name="Field103" type="radio" tabindex="2" value="Af te raden" onchange="handleInput(this);">
                                <label for="Field103_2">2</label>
                            </td>
                            <td title="Neutraal">
                                <input id="Field103_3" name="Field103" type="radio" tabindex="3" value="Neutraal" onchange="handleInput(this);" checked="checked">
                                <label for="Field103_3">3</label>
                            </td>
                             <td title="Aan te raden">
                                <input id="Field103_4" name="Field103" type="radio" tabindex="4" value="Aan te raden" onchange="handleInput(this);">
                                <label for="Field103_4">4</label>
                            </td>
                            <td title="Zeer aan te raden">
                                <input id="Field103_5" name="Field103" type="radio" tabindex="5" value="Zeer aan te raden" onchange="handleInput(this);">
                                <label for="Field103_5">5</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>

            <li id="fo94li204" class="notranslate hide">
                <label class="desc" id="title204" for="Field204">
                    Jammer dat je deze diensten niet kan aanraden. Hoe kunnen wij jou beter helpen tijdens en ná de koop van jouw nieuwe huis?
                </label>

                <div>
                    <textarea id="Field204" name="Field204" class="field textarea small" spellcheck="true" rows="10" cols="50" tabindex="6" onkeyup="handleInput(this); validateRange(204, 'character');" onchange="handleInput(this);" placeholder=""></textarea>

                    <label for="Field204">Maximaal toegestaan: <var id="rangeMaxMsg204">1000</var> tekens.&nbsp;&nbsp;&nbsp; <em class="currently" style="display: inline;">Op dit moment gebruikt: <var id="rangeUsedMsg204">0</var> tekens.</em></label>
                </div>
            </li>

            <li id="fo94li208" class="notranslate">
                <label class="desc" id="title208" for="Field208">
                    Hoe kunnen wij jou nog beter helpen tijdens en ná de koop van jouw nieuwe huis?
                </label>

                <div>
                    <textarea id="Field208" name="Field208" class="field textarea small" spellcheck="true" rows="10" cols="50" tabindex="7" onkeyup="handleInput(this); validateRange(208, 'character');" onchange="handleInput(this);" placeholder=""></textarea>

                    <label for="Field208">Maximaal toegestaan: <var id="rangeMaxMsg208">1000</var> tekens.&nbsp;&nbsp;&nbsp; <em class="currently" style="display: inline;">Op dit moment gebruikt: <var id="rangeUsedMsg208">0</var> tekens.</em></label>
                </div>
            </li>

            <li id="fo94li206" class="notranslate hide">
                <label class="desc" id="title206" for="Field206">
                    Bedankt voor jouw aanbeveling! Hoe kunnen wij jou nog beter helpen tijdens en ná de koop van jouw nieuwe huis?
                </label>

                <div>
                    <textarea id="Field206" name="Field206" class="field textarea small" spellcheck="true" rows="10" cols="50" tabindex="8" onkeyup="handleInput(this); validateRange(206, 'character');" onchange="handleInput(this);" placeholder=""></textarea>

                    <label for="Field206">Maximaal toegestaan: <var id="rangeMaxMsg206">1000</var> tekens.&nbsp;&nbsp;&nbsp; <em class="currently" style="display: inline;">Op dit moment gebruikt: <var id="rangeUsedMsg206">0</var> tekens.</em></label>
                </div>
            </li>

            <li class="buttons">
                <div>
                    <input type="hidden" name="currentPage" id="currentPage" value="5FoTXk9FcIwuslashyljhevTgmbCt3DG4f99IaBPWSDiW7Df8=">
                    <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Versturen" onmousedown="doSubmitEvents();">
                </div>
            </li>

            <li class="hide">
                <label for="comment">Do Not Fill This Out</label>
                <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                <input type="hidden" id="idstamp" name="idstamp" value="ebf83ILx/c4F7H+r/j3NGZw6SlQ0Hj1A9oGDCBZpTsE=">
                <input type="hidden" id="stats" name="stats" value="{&quot;errors&quot;:0,&quot;startTime&quot;:0,&quot;endTime&quot;:0,&quot;referer&quot;:&quot;https:\/\/{client}nl.wufoo.eu\/build\/beveel-jij-deze-nieuwe-diensten-aan\/&quot;}">
                <input type="hidden" id="clickOrEnter" name="clickOrEnter" value="">
            </li>
        </ul>
    </form>
</div><!--container-->