.nieuwe-huis-widget-plattegrond {
	height: 240px;
	display: block;
	text-align: center;

	img {
		max-height: 100%;
		vertical-align: middle;
	}

	@media screen and (min-width: $bp-large) {
		height: 320px;
	}
}
