{# The data-component="nieuwe-huis-widget-plattegrond" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- nieuwe-huis-widget-plattegrond component -->
<div class="nieuwe-huis-widget nieuwe-huis-widget-plattegrondbox">
    <h2 class="nieuwe-huis-widget__title">Plattegrond van jouw huis</h2>
    <a href="#plattegrond" data-media-viewer-overlay="#plattegrond" class="nieuwe-huis-widget-plattegrond">
        <img src="/stubs/components/nieuwe-huis-widget-plattegrond/floorplan.png" alt="Address">
    </a>
    <footer class="nieuwe-huis-widget__footer">
        <a href="" class="nieuwe-huis-widget__cta">Bekijk jouw plattegrond</a>
    </footer>

    <!-- media-viewer component -->
    <div class="media-viewer" role="dialog" aria-hidden="true"
        data-component="media-viewer"
        data-media-viewer>

        <header class="media-viewer-header">
            <button class="media-viewer-close" data-media-viewer-close>
                <span class="a11y-sr-only">Sluiten</span>
                <span class="icon-close-grey" data-grunticon-embed></span>
            </button>
        </header>

        <!-- media-viewer-plattegrond component -->
        <section class="media-viewer-view media-viewer-plattegrond"
                 data-media-viewer-plattegrond
                 data-media-viewer-auto-initialize="false">
            <header class="media-viewer-header">
                <div class="media-viewer-view-plattegrond"
                     data-media-viewer-view-plattegrond>
                    <div class="plattegrond-view-select">
                        <input class="view-select-radio" data-view-select type="radio" value="2d" name="plattegrond-view-select" checked id="plattegrond-2d" />
                        <label class="view-select-label view-2d" for="plattegrond-2d">2D</label>
                        <input class="view-select-radio" data-view-select type="radio" value="3d" name="plattegrond-view-select" id="plattegrond-3d" />
                        <label class="view-select-label view-3d" for="plattegrond-3d">3D</label>
                    </div>

                    <div data-plattegrond-menu-header class="media-viewer-view-header-menu">
                        <script type="template/html" data-plattegrond-menu-item-template>
                            <li><button class="menu-item-text" data-menu-item-param="{id}" data-view-type="plattegrond">{name}</button></li>
                        </script>

                        <script type="template/html" data-menu-more-toggle-template>
                            <li class="header-menu-toggle">
                                <button class="menu-item-text" data-menu-toggle>
                                    Meer<span class="icon-arrow-down-blue"></span>
                                </button>
                                <ul class="header-menu-dropdown" data-menu-sub-items></ul>
                            </li>
                        </script>
                        <ul class="header-menu" data-menu-items>

                        </ul>

                    </div>
                </div>
            </header>

            <div class="media-viewer-content">
                <div class="media-viewer-plattegrond-container"
                    data-plattegrond-src="http://cloud.{client}.nl/673.xml"
                    data-base-url="">
                    <div class="media-viewer-plattegrond-loader active" data-plattegrond-spinner-view>

                        <div class="app-spinner"
                             data-plattegrond-spinner
                             data-component="app-spinner">
                            <svg class="svg-circular" viewBox="0 0 48 48">
                                <circle class="path"
                                        cx="24"
                                        cy="24"
                                        r="20"
                                        fill="none"
                                        stroke-width="3"
                                        stroke-dasharray="89,200"
                                        stroke-dashoffset="-124"/>
                            </svg>
                            <img class="gif-circular" src="../../assets/components/app-spinner/spinner.gif"/>
                        </div>
                    </div>
                    <div class="media-viewer-plattegrond-view" data-plattegrond-3d-view></div>
                    <div class="media-viewer-plattegrond-view" data-plattegrond-2d-view></div>
                </div>
                <div class="media-viewer-plattegrond-zoom-controls">
                    <button class="media-viewer-plattegrond-zoom-control media-viewer-plattegrond-zoom-in" data-plattegrond-zoom-in>
                        <span class="icon icon-plus-blue" data-grunticon-embed></span>
                        <span class="a11y-sr-only">Zoom in</span>
                    </button>
                    <button class="media-viewer-plattegrond-zoom-control media-viewer-plattegrond-zoom-out" data-plattegrond-zoom-out>
                        <span class="icon icon-minus-blue" data-grunticon-embed></span>
                        <span class="a11y-sr-only">Zoom out</span>
                    </button>
                </div>
                <div class="media-viewer-plattegrond-disclaimer tooltip"
                     data-tooltip
                     title="{client} en de makelaar staan niet in voor de juistheid en volledigheid van de plattegrond en aanvaarden hiervoor geen aansprakelijkheid">
                    Disclaimer
                </div>
            </div>

            <footer class="media-viewer-footer">
                <div data-plattegrond-menu-footer class="plattegrond-menu-footer">

                    <div class="dropdown-group dropup">
                        <button class="dropdown-toggle" data-menu-toggle>
                            <span class="dropdown-toggle-title" data-dropup-title></span>
                            <span class="icon-arrow-down-blue"></span>
                        </button>
                        <ul class="dropdown-menu" data-menu-items>

                        </ul>
                    </div>

                </div>
            </footer>
        </section>
        <!-- /media-viewer-plattegrond component -->
    </div>
</div>
<!-- /nieuwe-huis-widget-plattegrond component -->
