{# lazyInit="data-advertisement-lazy" means the ads need to be explicitly initiated (e.g. only if the view is opened for the first time) #}
{% from "components/advertisements/advertisements.html" import advertisementSlot %}

{# Category ad: "advertisement-lazy-onscroll" means the ads will be loaded when they're on the viewport and on screen smaller than $bpMedium - 1 (749px) #}
<span class="textlink-banner">
    {{ advertisementSlot(lazyInit="data-advertisement-lazy data-advertisement-lazy-onscroll data-advertisement-lazy-threshold=200", sizeDefault="[ 60,20 ]", lokID="5001", adUnitPath="/6835/{client}.koop/overzicht", sizeMapping="[ [ [ 1200, 0 ], [ [60,20], &quot;fluid&quot; ] ], [ [ 768, 0 ], [ [ 60,20 ], &quot;fluid&quot; ] ], [ [ 0, 0 ], [ [ 60,20 ], &quot;fluid&quot; ] ] ]") }}
</span>

{# Category ad: "advertisement-lazy-onexpanded" means the ads will be loaded on "kenmerkenExpanded" and screen smaller than $bpMedium - 1 (749px) #}
<div class="category-banner">
    {{ advertisementSlot(lazyInit="data-advertisement-lazy data-advertisement-lazy-onscroll-onexpanded data-advertisement-lazy-threshold=200", lokID="5000", adUnitPath="/6835/{client}.koop/overzicht", sizeDefault="[ 648,40 ]", sizeMapping="[ [ [ 1200, 0 ], [ [ 648,40 ], &quot;fluid&quot; ], [ [ 768, 0 ], [  648,40 ], &quot;fluid&quot; ] ], [ [ 0, 0 ], [ 648,40 ] ] ]") }}
</div>