.tooltip {
    cursor: pointer;

    &.is-expanded {
        @media screen and (min-width: $bp-small) {
            position: relative;
        }

        // balloon body
        &:after {
            position: absolute;
            z-index: 98;
            width: 312px;
            padding: 1rem;
            cursor: default;
            background: $natural-blue;
            font-size: 1rem;
            content: attr(data-title);
            line-height: 1.5rem;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

            left: 50%;
            margin-top: 1.5rem;
            transform: translateX(-50%);
            @media screen and (min-width: $bp-small) {
                left: -31px;
                bottom: 31px;
                margin-top: 0;
                transform: none;
            }
        }
        &.bottom:after {
            @media screen and (min-width: $bp-small) {
                top: 31px;
                bottom: auto;
            }
        }

        &.reverse:after {
            @media screen and (min-width: $bp-small) {
                left: auto;
                right: -20px;
            }
        }

        // balloon tip
        &:before {
            display: none;
            @media screen and (min-width: $bp-small) {
                display: block;
                position: absolute;
                content: "";
                z-index: 99;
                right: 8px;
                bottom: 16px;
                width: 12px;
                box-sizing: border-box;
                border: 0.5rem solid;
                border-color: transparent transparent $natural-blue $natural-blue;
                transform-origin: 0 0;
                transform: rotate(-45deg);
                box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
            }
        }

        &.bottom:before {
            right: auto;
            left: 18px;
            top: 32px;
            transform: rotate(135deg);
        }
    }
}


