{# The data-component="link-tooltip" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- link-tooltip component -->

{% macro tooltip(linkText = "<span class='icon icon-info-blue'></span>", tooltipText = "Some tooltip explanation", position = "") %}
    <span class="tooltip {{ position }}" data-tooltip data-expandible data-expandible-on-blur="close" title="{{ tooltipText }}">
        <span data-expandible-handle>{{ linkText }}</span>
    </span>
{% endmacro %}

<!-- /link-tooltip component -->

<div class="app-guide-example" data-guide-title="Tooltip example default (top-right) that does not fit">
    <p>Lorem ipsum dolor sit achmet, consectetur adipiscing elit. Donec finibus posuere ex. Sed vehicula risus tortor, nec feugiat mi rutrum ac. Phasellus sed fermentum odio, nec sollicitudin velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus, libero id pulvinar mattis, odio quam tincidunt arcu, non facilisis sem risus at lectus. Nam ac vestibulum turpis. Vestibulum metus nisl, volutpat sit amet massa eget, pulvinar vulputate erat. Nullam bibendum ac lacus at volutpat. Nulla arcu justo, tempus in suscipit vitae, imperdiet eu velit. Vivamus rhoncus enim a urna fringilla, iaculis malesuada mauris varius.</p>

    <p>Nullam vulputate, purus id venenatis volutpat, ligula magna tristique arcu, non aliquam ante turpis at elit. Nulla tincidunt feugiat lorem {{ tooltip(
            tooltipText = "Was jouw makelaar voldoende op de hoogte van het huizenaanbod in jouw omgeving? Wist hij/zij welke huizen te koop stonden of verkocht waren tegen welke prijzen? Was jouw makelaar realistisch over de hoe lang jouw verkoop zou duren? Was hij/zij voldoende bekend met lokale bestemmingsplannen, bouwvergunningen en dergelijke?"
        ) }} tralala, at porta risus varius a. Etiam aliquet iaculis tortor, eget molestie lorem mattis ut. Nulla facilisi. Duis eget scelerisque nisl. Aenean aliquam leo sapien. Sed in aliquam libero. Sed volutpat congue est. Maecenas risus sem, finibus volutpat commodo ac, consequat vel purus. Mauris consequat dictum porta. Maecenas at mi nunc. Suspendisse potenti. Sed nisi est, efficitur non libero ac, fermentum pretium nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

    <p>Ut nec feugiat magna. Phasellus neque erat, rhoncus sit amet orci ut, ullamcorper congue ipsum. Donec id ultricies nulla. Aenean molestie pellentesque libero nec consectetur. Morbi quis neque malesuada, porta dui quis, consequat justo. Nam non blandit nibh, sed ultricies risus. In vel vestibulum arcu. Aliquam id est lacus. Morbi rhoncus tempor libero, rhoncus placerat velit eleifend non.</p>

</div>


<div class="app-guide-example" data-guide-title="Tooltip example default (top-right)">
    <p>Lorem ipsum dolor sit achmet, consectetur adipiscing elit. Donec finibus posuere ex. Sed vehicula risus tortor, nec feugiat mi rutrum ac. Phasellus sed fermentum odio, nec sollicitudin velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus, libero id pulvinar mattis, odio quam tincidunt arcu, non facilisis sem risus at lectus. Nam ac vestibulum turpis. Vestibulum metus nisl, volutpat sit amet massa eget, pulvinar vulputate erat. Nullam bibendum ac lacus at volutpat. Nulla arcu justo, tempus in suscipit vitae, imperdiet eu velit. Vivamus rhoncus enim a urna fringilla, iaculis malesuada mauris varius.</p>

    <p>Nullam vulputate, purus id venenatis volutpat, ligula magna tristique arcu, non aliquam ante turpis at elit. Nulla tincidunt feugiat lorem {{ tooltip(
        tooltipText = "Was jouw makelaar voldoende op de hoogte van het huizenaanbod in jouw omgeving? Wist hij/zij welke huizen te koop stonden of verkocht waren tegen welke prijzen? Was jouw makelaar realistisch over de hoe lang jouw verkoop zou duren? Was hij/zij voldoende bekend met lokale bestemmingsplannen, bouwvergunningen en dergelijke?"
        ) }} tralala, at porta risus varius a. Etiam aliquet iaculis tortor, eget molestie lorem mattis ut. Nulla facilisi. Duis eget scelerisque nisl. Aenean aliquam leo sapien. Sed in aliquam libero. Sed volutpat congue est. Maecenas risus sem, finibus volutpat commodo ac, consequat vel purus. Mauris consequat dictum porta. Maecenas at mi nunc. Suspendisse potenti. Sed nisi est, efficitur non libero ac, fermentum pretium nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

    <p>Ut nec feugiat magna. Phasellus neque erat, rhoncus sit amet orci ut, ullamcorper congue ipsum. Donec id ultricies nulla. Aenean molestie pellentesque libero nec consectetur. Morbi quis neque malesuada, porta dui quis, consequat justo. Nam non blandit nibh, sed ultricies risus. In vel vestibulum arcu. Aliquam id est lacus. Morbi rhoncus tempor libero, rhoncus placerat velit eleifend non.</p>

</div>

<div class="app-guide-example" data-guide-title="Bottom">
    <p>Lorem ipsum dolor sit achmet, consectetur adipiscing elit. Donec finibus posuere ex. Sed vehicula risus tortor, nec feugiat mi rutrum ac. Phasellus sed fermentum odio, nec sollicitudin velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus, libero id pulvinar mattis, odio quam tincidunt arcu, non facilisis sem risus at lectus. Nam ac vestibulum turpis. Vestibulum metus nisl, volutpat sit amet massa eget, pulvinar vulputate erat. Nullam bibendum ac lacus at volutpat. Nulla arcu justo, tempus in suscipit vitae, imperdiet eu velit. Vivamus rhoncus enim a urna fringilla, iaculis malesuada mauris varius.</p>

    <p>Ut nec feugiat magna. Phasellus neque erat, rhoncus sit amet orci ut, ullamcorper congue ipsum. Donec id ultricies nulla. Aenean molestie pellentesque libero nec consectetur. Morbi quis neque malesuada, porta dui quis, consequat justo. Nam non blandit nibh, sed ultricies risus. In vel vestibulum arcu. Aliquam id est lacus. Morbi rhoncus tempor libero, rhoncus placerat velit eleifend non.</p>

    <p>Nullam vulputate, purus id venenatis volutpat, ligula magna tristique arcu, non aliquam ante turpis at elit. Nulla tincidunt feugiat lorem {{ tooltip(
        tooltipText = "Was jouw makelaar voldoende op de hoogte van het huizenaanbod in jouw omgeving? Wist hij/zij welke huizen te koop stonden of verkocht waren tegen welke prijzen? Was jouw makelaar realistisch over de hoe lang jouw verkoop zou duren? Was hij/zij voldoende bekend met lokale bestemmingsplannen, bouwvergunningen en dergelijke?",
        position = "bottom"
        ) }} tralala, at porta risus varius a. Etiam aliquet iaculis tortor, eget molestie lorem mattis ut. Nulla facilisi. Duis eget scelerisque nisl. Aenean aliquam leo sapien. Sed in aliquam libero. Sed volutpat congue est. Maecenas risus sem, finibus volutpat commodo ac, consequat vel purus. Mauris consequat dictum porta. Maecenas at mi nunc. Suspendisse potenti. Sed nisi est, efficitur non libero ac, fermentum pretium nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
</div>

<div class="app-guide-example" data-guide-title="Bottom reverse">
    <p>Lorem ipsum dolor sit achmet, consectetur adipiscing elit. Donec finibus posuere ex. Sed vehicula risus tortor, nec feugiat mi rutrum ac. Phasellus sed fermentum odio, nec sollicitudin velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus, libero id pulvinar mattis, odio quam tincidunt arcu, non facilisis sem risus at lectus. Nam ac vestibulum turpis. Vestibulum metus nisl, volutpat sit amet massa eget, pulvinar vulputate erat. Nullam bibendum ac lacus at volutpat. Nulla arcu justo, tempus in suscipit vitae, imperdiet eu velit. Vivamus rhoncus enim a urna fringilla, iaculis malesuada mauris varius.</p>

    <p>Ut nec feugiat magna. Phasellus neque erat, rhoncus sit amet orci ut, ullamcorper congue ipsum. Donec id ultricies nulla. Aenean molestie pellentesque libero nec consectetur. Morbi quis neque malesuada, porta dui quis, consequat justo. Nam non blandit nibh, sed ultricies risus. In vel vestibulum arcu. Aliquam id est lacus. Morbi rhoncus tempor libero, rhoncus placerat velit eleifend non.</p>

    <p>Nullam vulputate, purus id venenatis volutpat, ligula magna tristique arcu, non aliquam ante turpis at elit. Nulla tincidunt feugiat lorem {{ tooltip(
        tooltipText = "Was jouw makelaar voldoende op de hoogte van het huizenaanbod in jouw omgeving? Wist hij/zij welke huizen te koop stonden of verkocht waren tegen welke prijzen? Was jouw makelaar realistisch over de hoe lang jouw verkoop zou duren? Was hij/zij voldoende bekend met lokale bestemmingsplannen, bouwvergunningen en dergelijke?",
        position = "bottom reverse"
        ) }} tralala, at porta risus varius a. Etiam aliquet iaculis tortor, eget molestie lorem mattis ut. Nulla facilisi. Duis eget scelerisque nisl. Aenean aliquam leo sapien. Sed in aliquam libero. Sed volutpat congue est. Maecenas risus sem, finibus volutpat commodo ac, consequat vel purus. Mauris consequat dictum porta. Maecenas at mi nunc. Suspendisse potenti. Sed nisi est, efficitur non libero ac, fermentum pretium nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
</div>

<div class="app-guide-example" data-guide-title="Reverse">
    <p>Lorem ipsum dolor sit achmet, consectetur adipiscing elit. Donec finibus posuere ex. Sed vehicula risus tortor, nec feugiat mi rutrum ac. Phasellus sed fermentum odio, nec sollicitudin velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus, libero id pulvinar mattis, odio quam tincidunt arcu, non facilisis sem risus at lectus. Nam ac vestibulum turpis. Vestibulum metus nisl, volutpat sit amet massa eget, pulvinar vulputate erat. Nullam bibendum ac lacus at volutpat. Nulla arcu justo, tempus in suscipit vitae, imperdiet eu velit. Vivamus rhoncus enim a urna fringilla, iaculis malesuada mauris varius.</p>

    <p>Ut nec feugiat magna. Phasellus neque erat, rhoncus sit amet orci ut, ullamcorper congue ipsum. Donec id ultricies nulla. Aenean molestie pellentesque libero nec consectetur. Morbi quis neque malesuada, porta dui quis, consequat justo. Nam non blandit nibh, sed ultricies risus. In vel vestibulum arcu. Aliquam id est lacus. Morbi rhoncus tempor libero, rhoncus placerat velit eleifend non.</p>

    <p>Nullam vulputate, purus id venenatis volutpat, ligula magna tristique arcu, non aliquam ante turpis at elit. Nulla tincidunt feugiat lorem {{ tooltip(
        tooltipText = "Was jouw makelaar voldoende op de hoogte van het huizenaanbod in jouw omgeving? Wist hij/zij welke huizen te koop stonden of verkocht waren tegen welke prijzen? Was jouw makelaar realistisch over de hoe lang jouw verkoop zou duren? Was hij/zij voldoende bekend met lokale bestemmingsplannen, bouwvergunningen en dergelijke?",
        position = "reverse"
        ) }} tralala, at porta risus varius a. Etiam aliquet iaculis tortor, eget molestie lorem mattis ut. Nulla facilisi. Duis eget scelerisque nisl. Aenean aliquam leo sapien. Sed in aliquam libero. Sed volutpat congue est. Maecenas risus sem, finibus volutpat commodo ac, consequat vel purus. Mauris consequat dictum porta. Maecenas at mi nunc. Suspendisse potenti. Sed nisi est, efficitur non libero ac, fermentum pretium nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
</div>


<div class="app-guide-example" data-guide-title="Bottom reverse that does not fit in body">
    <p>Lorem ipsum dolor sit achmet, consectetur adipiscing elit. Donec finibus posuere ex. Sed vehicula risus tortor, nec feugiat mi rutrum ac. Phasellus sed fermentum odio, nec sollicitudin velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus, libero id pulvinar mattis, odio quam tincidunt arcu, non facilisis sem risus at lectus. Nam ac vestibulum turpis. Vestibulum metus nisl, volutpat sit amet massa eget, pulvinar vulputate erat. Nullam bibendum ac lacus at volutpat. Nulla arcu justo, tempus in suscipit vitae, imperdiet eu velit. Vivamus rhoncus enim a urna fringilla, iaculis malesuada mauris varius.</p>

    <p>Ut nec feugiat magna. Phasellus neque erat, rhoncus sit amet orci ut, ullamcorper congue ipsum. Donec id ultricies nulla. Aenean molestie pellentesque libero nec consectetur. Morbi quis neque malesuada, porta dui quis, consequat justo. Nam non blandit nibh, sed ultricies risus. In vel vestibulum arcu. Aliquam id est lacus. Morbi rhoncus tempor libero, rhoncus placerat velit eleifend non.</p>

    <p>Nullam vulputate, purus id venenatis volutpat, ligula magna tristique arcu, non aliquam ante turpis at elit. Nulla tincidunt feugiat lorem {{ tooltip(
        tooltipText = "Was jouw makelaar voldoende op de hoogte van het huizenaanbod in jouw omgeving? Wist hij/zij welke huizen te koop stonden of verkocht waren tegen welke prijzen? Was jouw makelaar realistisch over de hoe lang jouw verkoop zou duren? Was hij/zij voldoende bekend met lokale bestemmingsplannen, bouwvergunningen en dergelijke?",
        position = "bottom reverse"
        ) }} tralala, at porta risus varius a. Etiam aliquet iaculis tortor, eget molestie lorem mattis ut. Nulla facilisi. Duis eget scelerisque nisl. Aenean aliquam leo sapien. Sed in aliquam libero. Sed volutpat congue est. Maecenas risus sem, finibus volutpat commodo ac, consequat vel purus. Mauris consequat dictum porta. Maecenas at mi nunc. Suspendisse potenti. Sed nisi est, efficitur non libero ac, fermentum pretium nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
</div>
