// http://www.sitepoint.com/using-sass-quantity-queries/
//
// Quantity Query: counts siblings-of-type

/* Usage:

@include quantity-query(6, greater) {
    //Styles applied if this element is one of 6 or more siblings of the same type
}

*/

@mixin quantity-query( $number, $comparison: 'equal' ) {
    $nth: '';

    @if index(('greater' 'more' '>'), $comparison) {
        $nth: 'n + #{$number}';
    } @else if index(('less' 'fewer' '<'), $comparison) {
        $nth: '-n + #{$number}';
    } @else if index(('equal' 'same' '='), $comparison) {
        $nth: $number;
    } @else {
        @warn "Sorry, that's an invalid $comparison value."
    }

    &:nth-last-of-type(#{$nth}):first-of-type {
        &,
        & ~ * {
            @content;
        }
    }
}
