.cms-article-header-bg {
    $ratioHeight: 32.6388%;

    max-height: 29.375rem;
    overflow: hidden;
    position: relative;
    background: $natural-blue;

    &:before,
    &:after {
        content: "";
        display: block;
    }   
    
    &:before {
       padding-bottom: 40%;
    }

    @media screen and (min-width: $bp-medium) {
        &:before {
            padding-bottom: $ratioHeight;
        }
    }

    &:after {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        transition: background 0.5s;
    }

    &.no-image {
        max-height: 0px;
        max-width: 0px;
        background: #fff;
    
        @media screen and (min-width: $bp-large) {
            max-height: auto;
            max-width: auto;
            background: transparent;
        }
    }
}

.cms-article-header-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 0.15s;
    height: 100%;
    @media screen and (min-width: $bp-medium) {
        width: 100%;
        height: auto;
    }
}

.cms-article-header-content {
    position: absolute;
    top: 50%;
    left: 0; 
    right: 0;
    transform: translateY(-50%);
    z-index: 2;

    @media screen and (min-width: $bp-xtra-large) {
        left: 30px; 
        right: 30px;
    }
}

.cms-article-header-title {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
    margin: 0;
    transform: opacity 0.2s;

    @media screen and (min-width: $bp-medium) {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    @media screen and (min-width: $bp-large) {
        font-size: 3.5rem;
        line-height: 4rem;
    }

}