<!-- cms-article-header component -->
<div class="cms-article-header-bg" data-component="cms-article-header-bg" data-article-header>
	<img 
		class="cms-article-header-bg-img"
		src="/assets/components/cms-article-header-bg/images/header-1440x470.jpg"
		srcset="
			/assets/components/cms-article-header-bg/images/header-720x235.jpg 720w,
			/assets/components/cms-article-header-bg/images/header-1440x470.jpg 1440w,
			/assets/components/cms-article-header-bg/images/header-2016x658.jpg 2016w
			"
		sizes="(min-width: 1540px) 2016px, (min-width: 700px) 1440px, (min-width: 300px) 720px" 
		alt="This is a dummy image alt of header image background."
	>

	<div class="container cms-article-header-content">
		<h1 class="cms-article-header-title">
			De gelukspsycholoog:
			<br>
			'Een huis moet passen bij je
			levensstijl.'
		</h1>
	</div>
</div>