<!-- nieuwe-huis-widget-content component -->
<div class="container">
    <h2 class="nieuwe-huis-widget-content__heading">Lees meer op {client} Thuis</h2>
    <div class="nieuwe-huis-widget-content-wrapper">
        <article class="nieuwe-huis-widget-content">
            <a href="#" class="nieuwe-huis-widget-content__link">
                <img
                src="/assets/components/cms-related-articles/images/in-10-minuten-weten-wat-je-kan-bieden-312x210.jpg"
                srcset="/assets/components/cms-related-articles/images/in-10-minuten-weten-wat-je-kan-bieden-312x210.jpg 312w, /assets/components/cms-related-articles/images/in-10-minuten-weten-wat-je-kan-bieden-624x420.jpg 624w, /assets/components/cms-related-articles/images/in-10-minuten-weten-wat-je-kan-bieden-500x250.jpg 500w"
                sizes="(min-width: 750px) 33.33vw, (min-width: 500px) 50vw, 100vw"
                alt="5 feesten om je huis in te wijden"
                class="nieuwe-huis-widget-content__thumb">
                <div class="nieuwe-huis-widget-content__description">
                    <h2 class="nieuwe-huis-widget-content__title">5 feesten om je huis in te wijden</h2>
                    <span class="nieuwe-huis-widget-content__readmore">Lees meer</span>
                </div>
            </a>
        </article>

        <article class="nieuwe-huis-widget-content">
            <a href="#" class="nieuwe-huis-widget-content__link">
                <img
                src="/assets/components/cms-related-articles/images/niet-bij-een-eerste-bezichtiging-312x210.jpg"
                srcset="/assets/components/cms-related-articles/images/niet-bij-een-eerste-bezichtiging-312x210.jpg 312w, /assets/components/cms-related-articles/images/niet-bij-een-eerste-bezichtiging-624x420.jpg 624w, /assets/components/cms-related-articles/images/niet-bij-een-eerste-bezichtiging-500x250.jpg 500w"
                sizes="(min-width: 750px) 33.33vw, (min-width: 500px) 50vw, 100vw"
                alt="Column: Dan maar verbouwen"
                class="nieuwe-huis-widget-content__thumb">
                <div class="nieuwe-huis-widget-content__description">
                    <h2 class="nieuwe-huis-widget-content__title">Column: Dan maar verbouwen</h2>
                    <span class="nieuwe-huis-widget-content__readmore">Lees meer</span>
                </div>
            </a>
        </article>

        <article class="nieuwe-huis-widget-content">
            <a href="#" class="nieuwe-huis-widget-content__link">
                <img
                src="/assets/components/cms-related-articles/images/slimme-zetten-bij-een-bezichtiging-312x210.jpg"
                srcset="/assets/components/cms-related-articles/images/slimme-zetten-bij-een-bezichtiging-312x210.jpg 312w, /assets/components/cms-related-articles/images/slimme-zetten-bij-een-bezichtiging-624x420.jpg 624w, /assets/components/cms-related-articles/images/slimme-zetten-bij-een-bezichtiging-500x250.jpg 500w"
                sizes="(min-width: 750px) 33.33vw, (min-width: 500px) 50vw, 100vw"
                alt="Wonen in een monument, hoe hou je het betaalbaar?"
                class="nieuwe-huis-widget-content__thumb">
                <div class="nieuwe-huis-widget-content__description">
                    <h2 class="nieuwe-huis-widget-content__title">Wonen in een monument, hoe hou je het betaalbaar?</h2>
                    <span class="nieuwe-huis-widget-content__readmore">Lees meer</span>
                </div>
            </a>
        </article>
    </div>
</div>
<!-- /nieuwe-huis-widget-content component -->
