.cms-journey-intro {
	padding: 2rem 0;
	background-image: url('../assets/components/cms-journey-intro/images/journey-header.svg');

	&.content-page-step {
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;

		&:after {
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			top: 0;
			z-index: -1;
			display: block;
			background-image: linear-gradient(to bottom, #E7F1F5 0%, #F5F9FB 100%);
		}
	}

	@media screen and (min-width: $bp-medium) { 
		padding-top: 0;

		.content-page-step-description { max-width: 34.6875rem; }

		.content-page-step-column-description { padding: 0; }
	}

	@media screen and (min-width: $bp-large) { 
		padding-bottom: 6rem; 

		&.content-page-step { background-size: 1080px; }
	}
}