{# The data-component="cms-journey-intro" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- cms-journey-intro component -->
<section
	class="cms-journey-intro content-page-step content-page-hero has-no-margin"
	data-component="cms-journey-intro"
	>
    <div class="container">
        <div class="content-page-step-column-description">
            <h1 class="content-page-step-title">
                <strong>Hoe koop ik</strong> <br>
                een huis?
            </h1>

            <p class="content-page-step-description">Wat moet je eigenlijk rekening mee houden wanneer je een huis wilt kopen? Wij helpen je graag op weg aan de hand van <strong>10 stappen</strong> vol met tips en tricks.</p>
        </div>
    </div>
</section>
<!-- /cms-journey-intro component -->
