// This is the style for AdX native style. Not included on the F.Static.

$native-ad-blue: #3888C5;
$native-ad-blue-hover: #275F89;
$native-ad-light-grey: #d6d6d6;
$native-ad-soft-grey: #f5f5f5;
$native-ad-black: #000;

body {
  padding: 1em;
  line-height: 1.5em;
  font-weight: 400;
  font-size: 14px;
  color: $native-ad-black;
  font-family: 'Open Sans', sans-serif;
  position: relative;

  > div.content-ads {
    position: relative;
  }
}

a {
  text-decoration: none;
  color: $native-ad-blue;

  &:hover {
    color: $native-ad-blue-hover;
  }
}

.body-link {
  color: $native-ad-black;
  margin-bottom: 11px;
  line-height: 1.5;
  display: block;

  &:hover {
    color: $native-ad-black;
  }
}

.attribution {
  background-color: $native-ad-black;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  display: table;
  margin: 4px 0px 0px 4px;
  padding: 2px 4px;
  position: absolute;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.image {
  margin: 0;
  overflow: hidden;

  img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
  }
}

.title {
  font-weight: 600;
  font-size: 1em;
  margin: 8px 0;
  line-height: 1.5em;
  color: $native-ad-blue;
}

@media (min-width: 500px) {
  .ads .image-link img {
    display: block;
    max-width: none;
    max-height: 119px;
    width: 100%;
  }

  body {
    padding: 0;
    min-height: 7.4375rem;
    margin-left: 1em;
    margin-right: 1em;
    box-sizing: border-box;
  }

  .body,
  .title,
  .call-to-action
  {
    width: calc(100% - 260px);
    float: left;
    text-align: left;
    margin-right: 8px;
  }

  .body {
    color: #000;
  }

  .image {
    width: 228px;
    height: 119px;
    float: left;
    line-height: 9.5rem;
    margin-right: 24px;
  }
}