$native-ad-blue: #3888C5;
$native-ad-blue-hover: #275F89;
$native-ad-light-grey: #d6d6d6;
$native-ad-soft-grey: #f5f5f5;
$native-ad-black: #000;

@-webkit-keyframes nativeAdFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes nativeAdFadeIn {
	from { opacity:0; }
	to { opacity:1 }
}

@keyframes nativeAdFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

// the font url will diverge from font url used in {client} static, causing the files to be downloaded twice
// (once in the context of the website, once in the context of the iframe). In the future we can prevent
// this by applying a cachebuster strategy.
// TODO - update url of font
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.ttf') format('truetype')
}

@font-face{
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-style: normal;
	src: url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff2') format('woff2'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff') format('woff'),
		 url('https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.ttf') format('truetype')
}

.native-list-item-ad {
	padding: 1em;
	font-family: 'Proxima Nova','Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;
	line-height: 1.5em;
	font-weight: 400;
	text-align: left;
	display: block;
	position: relative;
	text-decoration: none;
	color: #000;
	background-color: $native-ad-soft-grey;
	opacity: 0;

	animation: nativeAdFadeIn ease-in 1;
	-webkit-animation: nativeAdFadeIn ease-in 1;
	-moz-animation: nativeAdFadeIn ease-in 1;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;

	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;

	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;

	overflow: hidden;

	p { margin: 0; }
	a {
		text-decoration: none;
		color: $native-ad-blue;
		transition: color 0.2s;
		&:hover {
			color: $native-ad-blue-hover;
		}
	}
}

.native-list-item-ad__label-adv {
	display: inline-block;
	font-weight: 600;
	color: #fff;
	background-color: $native-ad-light-grey;
	font-size: 0.75em;
	line-height: 2em;
	padding: 0 0.6667em;
	position: absolute;
	top: 0.6667em;
	right: 0.6667em;
}

.native-list-item-ad__main-img {
	margin: 0;

	img {
		max-width: 100%;
		vertical-align: top;
	}
}

.native-list-item-ad__main-content { margin-top: 0.5em; }

.native-list-item-ad__description { margin: 1em 0 0; }

.native-list-item-ad__title {
	font-weight: 600;
	font-size: 1em;
	margin: 0;
	padding-top: 0.375em;
	line-height: 1.5em;
	color: $native-ad-blue;
}

.native-list-item-ad__company-logo {
	max-width: 5em;
	max-height: 3.125em;
	right: 0.5em;
	bottom: 0.5em;
	position: absolute;
	display: none;
	overflow: hidden;

	img {
		max-width: 100%;
		vertical-align: middle;
	}
}

@media (min-width: 484px) {
	.native-list-item-ad {
		padding: 0;
		min-height: 9.5em;
		margin-left: 1em;
		margin-right: 1em;
	}

	.native-list-item-ad__description {
		p { min-height: 24px; }
	}

	.native-list-item-ad__title { padding-right: 2.8125em; }

	.native-list-item-ad__main-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 14.25em;
		height: 9.5em;
		min-height: auto;
	}

	.native-list-item-ad__main-content { margin: 0 0 0 15.75em; }
}

@media (min-width: 728px) {
	.native-list-item-ad__company-logo { display: block; }
}