{# The data-component="native-list-item-ad" is only for highlighting in previews. Don't implement this in Razor. #}
{% from "components/advertisements/advertisements.html" import advertisementSlot %}

<h2>Testing using `advertisementSlot`</h2>
<aside class="advertisement" id="ad-2" data-component="advertisements" data-advertisement="" data-advertisement-lok="2002" data-advertisement-adunit-path="/6835/{client}.koop" data-advertisement-size-mapping='[ [ [ 729, 0 ], [[728,90], &quot;fluid&quot;] ], [ [ 0, 0 ], [ [ 728,90] ] ] ]' data-advertisement-size-default="[ 728,90]" data-advertisement-init="" data-advertisement-user-id="98361e30-46d3-47ec-80fa-596af56f2d59" data-advertisement-categories-url="/stubs/components/advertisements/1234.json"></aside>


<h2>Static (non DFP)</h2>
<!--
	native-list-item-ad component
	Inline CSS is needed for comparison purpose because we don't include native-list-item-ad on F.Static.
-->
<style type="text/css">
@-webkit-keyframes nativeAdFadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes nativeAdFadeIn{from{opacity:0}to{opacity:1}}@keyframes nativeAdFadeIn{from{opacity:0}to{opacity:1}}@font-face{font-family:'Proxima Nova';font-weight:400;font-style:normal;src:url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff2") format("woff2"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.woff") format("woff"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-regular.ttf") format("truetype")}@font-face{font-family:'Proxima Nova';font-weight:600;font-style:normal;src:url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff2") format("woff2"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.woff") format("woff"),url("https://assets.fstatic.nl/master_320/assets/components/app-fonts/proximanova-semibold.ttf") format("truetype")}.native-list-item-ad{padding:1em;font-family:'Proxima Nova','Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;line-height:1.5em;font-weight:400;text-align:left;display:block;position:relative;text-decoration:none;color:#000;background-color:#f5f5f5;opacity:0;animation:nativeAdFadeIn ease-in 1;animation-fill-mode:forwards;animation-duration:0.5s;animation-delay:0.5s;overflow:hidden}.native-list-item-ad p{margin:0}.native-list-item-ad a{text-decoration:none;color:#3888C5;transition:color 0.2s}.native-list-item-ad a:hover{color:#275F89}.native-list-item-ad__label-adv{display:inline-block;font-weight:600;color:#fff;background-color:#d6d6d6;font-size:0.75em;line-height:2em;padding:0 0.6667em;position:absolute;top:0.6667em;right:0.6667em}.native-list-item-ad__main-img{margin:0}.native-list-item-ad__main-img img{max-width:100%;vertical-align:top}.native-list-item-ad__main-content{margin-top:0.5em}.native-list-item-ad__description{margin:1em 0 0}.native-list-item-ad__title{font-weight:600;font-size:1em;margin:0;padding-top:0.375em;line-height:1.5em;color:#3888C5}.native-list-item-ad__company-logo{max-width:5em;max-height:3.125em;right:0.5em;bottom:0.5em;position:absolute;display:none;overflow:hidden}.native-list-item-ad__company-logo img{max-width:100%;vertical-align:middle}@media (min-width: 484px){.native-list-item-ad{padding:0;min-height:9.5em;margin-left:1em;margin-right:1em}.native-list-item-ad__description p{min-height:24px}.native-list-item-ad__title{padding-right:2.8125em}.native-list-item-ad__main-img{position:absolute;top:0;left:0;width:14.25em;height:9.5em;min-height:auto}.native-list-item-ad__main-content{margin:0 0 0 15.75em}}@media (min-width: 728px){.native-list-item-ad__company-logo{display:block}}
</style>

<div class="native-list-item-ad">
	<figure class="native-list-item-ad__main-img">
			<a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank"><img src="/assets/components/native-list-item-ad/images/native-main-img.jpg" alt="Static test Teakhout 174, Zaandam"></a>
	</figure>

	<div class="native-list-item-ad__main-content">
		<h3 class="native-list-item-ad__title"><a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank">Static test Teakhout 174, Zaandam</a></h3>
		<p>3 kamers, 83 m², Huurprijs € 895</p>

		<div class="native-list-item-ad__description">
				<p>Lichte woning luxe keuken en sanitair</p>
				<p>text line 2<a href="%%CLICK_URL_ESC%%%%DEST_URL%%" target="_blank">Per direct te huur</a></p>
				<p class="native-list-item-ad__url-style"><a href="%%CLICK_URL_ESC%%[%CompanyUrl%]" target="_blank">Verhuurbedrijf ABC</a></p>
				<div class="native-list-item-ad__company-logo">
					<a href="%%CLICK_URL_ESC%%[%CompanyUrl%]" target="_blank"><img src="/assets/components/native-list-item-ad/images/macaza.gif"></a></div>
		</div>
	</div>
	<span class="native-list-item-ad__label-adv">Adv</span>
</div>
<!-- /native-list-item-ad component -->


<h2>Static (AdX implementation)</h2>
<style type="text/css">
body{padding:1em;line-height:1.5em;font-weight:400;font-size:14px;color:#000;font-family:'Open Sans', sans-serif;position:relative;background:#f5f5f5}body>div{background:#f5f5f5;position:relative}a{text-decoration:none;color:#3888C5}a:hover{color:#275F89}.body-link{color:#000;margin-bottom:0.5rem;line-height:1.5;display:block}.body-link:hover{color:#000}.attribution{background-color:#000;color:#fff;font-size:12px;line-height:1;display:table;margin:4px 0px 0px 4px;padding:2px 4px;position:absolute;box-shadow:0px 1px 2px rgba(0,0,0,0.5)}.image{margin:0;overflow:hidden}.image img{max-width:100%;max-height:100%;vertical-align:middle}.title{font-weight:600;font-size:1em;margin:8px 0;line-height:1.5em;color:#3888C5}@media (min-width: 500px){body{padding:0;min-height:7.4375rem;margin-left:1em;margin-right:1em;box-sizing:border-box;background:none}.body,.title,.call-to-action{width:calc(100% - 260px);float:left;text-align:left;margin-right:8px}.body{color:#000;margin-top:0.5rem}.image{width:228px;height:152px;float:left;line-height:9.5rem;margin-right:24px}.image img{max-width:none;height:100%;margin-left:-25%}}
</style>
<div id='adunit' style='overflow: hidden;'>
  <img src='[%Thirdpartyimpressiontracker%]' style='display:none'>
  <div class='attribution'>Ad</div>
  <div class='image'>
    <a class='image-link' href='%%CLICK_URL_UNESC%%[%Thirdpartyclicktracker%]%%DEST_URL%%' target='_top'><img src='http://lorempixel.com/1200/627/'></a>
  </div>
  <div class='title'>
    <a class='title-link' href='%%CLICK_URL_UNESC%%[%Thirdpartyclicktracker%]%%DEST_URL%%' target='_top'>Lowest mortgage rates wow</a>
  </div>
  <div class='body'>
    <a class='body-link' href='%%CLICK_URL_UNESC%%[%Thirdpartyclicktracker%]%%DEST_URL%%' target='_top'>Your home sweet Brooklyn home - cheaper and sooner than you think! We are awesome, and bla</a>
  </div>
  <div class='call-to-action'>
    <a class='call-to-action-link' href='%%CLICK_URL_UNESC%%[%Thirdpartyclicktracker%]%%DEST_URL%%' target='_top'>Get a quoterfgh</a>
  </div>
</div>