{# The data-component="cms-related-articles" is only for highlighting in previews. Don't implement this in Razor. #}
<!-- cms-related-articles component -->
<div class="cms-related-articles" data-component="cms-related-articles">
	<div class="container">
		<h2>Lees ook</h2>
		<div class="cms-related-articles-wrap">
			<article class="cms-related-article">
				<header>
					<a href="#" class="cms-related-article-thumb">
						<img
						src="/assets/components/cms-related-articles/images/in-10-minuten-weten-wat-je-kan-bieden-312x210.jpg"
                        srcset="/assets/components/cms-related-articles/images/in-10-minuten-weten-wat-je-kan-bieden-312x210.jpg 312w, /assets/components/cms-related-articles/images/in-10-minuten-weten-wat-je-kan-bieden-624x420.jpg 624w, /assets/components/cms-related-articles/images/in-10-minuten-weten-wat-je-kan-bieden-500x250.jpg 500w"
						sizes="(min-width: 750px) 33.33vw, (min-width: 500px) 50vw, 100vw"
						alt="5 feesten om je huis in te wijden"
						>
						<h2 class="h4 cms-related-article-title">5 feesten om je huis in te wijden</h2>
					</a>

				</header>
				<p class="cms-related-article-text">"Ik wil mijn eerste woning kopen. Wat zijn mijn mogelijkheden?"</p>
			</article>

			<article class="cms-related-article">
				<header>
					<a href="#" class="cms-related-article-thumb">
						<img
						src="/assets/components/cms-related-articles/images/niet-bij-een-eerste-bezichtiging-312x210.jpg"
						srcset="/assets/components/cms-related-articles/images/niet-bij-een-eerste-bezichtiging-312x210.jpg 312w, /assets/components/cms-related-articles/images/niet-bij-een-eerste-bezichtiging-624x420.jpg 624w, /assets/components/cms-related-articles/images/niet-bij-een-eerste-bezichtiging-500x250.jpg 500w"
						sizes="(min-width: 750px) 33.33vw, (min-width: 500px) 50vw, 100vw"
						alt="Column: Dan maar verbouwen"
						>
						<h2 class="h4 cms-related-article-title">Column: Dan maar verbouwen</h2>
					</a>
				</header>
				<p class="cms-related-article-text">Sander koos ervoor om zijn huis te verbouwen.</p>
			</article>

			<article class="cms-related-article">
				<header>
					<a href="#" class="cms-related-article-thumb">
						<img
						src="/assets/components/cms-related-articles/images/slimme-zetten-bij-een-bezichtiging-312x210.jpg"
                        srcset="/assets/components/cms-related-articles/images/slimme-zetten-bij-een-bezichtiging-312x210.jpg 312w, /assets/components/cms-related-articles/images/slimme-zetten-bij-een-bezichtiging-624x420.jpg 624w, /assets/components/cms-related-articles/images/slimme-zetten-bij-een-bezichtiging-500x250.jpg 500w"
						sizes="(min-width: 750px) 33.33vw, (min-width: 500px) 50vw, 100vw"
						alt="Wonen in een monument, hoe hou je het betaalbaar?"
						>
						<h2 class="h4 cms-related-article-title">Wonen in een monument, hoe hou je het betaalbaar?</h2>
					</a>
				</header>
				<p class="cms-related-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</article>
		</div>

	</div>
</div>
<!-- /cms-related-articles component -->
