.cms-related-articles {
    margin-bottom: 3.75em;
    @media screen and (min-width: $bp-medium) {
        margin-bottom: 2em;
    }
}

.cms-related-articles-title {
    margin: 0 0 0.75rem;
}

.cms-related-articles-wrap,
%wrapperWithClearing {
    clear: both;
    @media screen and (min-width: $bp-small) {
        overflow: hidden;
    }
}

.cms-related-article,
%relatedArticlesRows {
    margin-bottom: 1.5em;
    @media screen and (min-width: $bp-small) {
        float: left;
        width: calc((100% - 1em)/2);
        margin-bottom: 0;

        &:not(:first-child) {
            margin-left: 1em;
        }

        &:last-child {
            display: none;
        }
    }

    @media screen and (min-width: $bp-medium) {
        width: calc((100% - 3em)/3);
        float: left;

        &:not(:first-child) {
            margin-left: 1.5em;
        }

        &:last-child {
            display: block;
        }
    }
}

.cms-related-article-thumb {
    width: 100%;
    overflow: hidden;
    display: block;

    img {
        width: 100%;
        height: auto;
        vertical-align: top;
    }
}

.cms-related-article-title {
    color: $blue;
    line-height: 1.4;
    margin: 0.5em 0 0.3em;

    &:hover {
        color: $link-primary-color-hover;
    }
}

.cms-related-article-text {
    margin: 0;
}

.cms-related-article-footer {
    font-size: 0.875em;
    color: $grey;
}